In [39]:
import datetime
HEADER="""INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
"""
ROW="( {user_id}, '{name}', '{birth_date}','{gender}', '{from_date}', '{to_date}', {location_id}, {segment_id} )"
RECORDS=1000
LOCATION_RANGE=(1,17) # 17 locations
SEGMENT_RANGE=(1,3) # 3 segments
FUTURE=datetime.date(2999,12,31)
GENDERS=["M","F","O"]
BIRTH_DATE_START=datetime.date(1950,1,1)
BIRTH_DATE_RANGE=365*55 # 55 years
SEGMENT_AGES_RANGES=[(0,25),(25,45),(45,100)] # 3 segments
INSERT_USERS_FILE="../15_insert_users.sql"

In [40]:
import faker
import random

faker_name = faker.Faker()
today = datetime.date.today()
insert_users = []
for i in range(1,RECORDS+1):
    name = faker_name.name()
    
    birth_date = BIRTH_DATE_START + datetime.timedelta(days=random.randint(0,BIRTH_DATE_RANGE))
    from_date = today - datetime.timedelta(days=random.randint(180,365*5))
    location_id = random.randint(*LOCATION_RANGE)
    gender = random.choice(GENDERS)
    age = (today - birth_date).days // 365
    age_segment = list(filter(lambda x : x[0] <= age < x[1], SEGMENT_AGES_RANGES))
    segment_id = random.randint(*SEGMENT_RANGE) + SEGMENT_AGES_RANGES.index(age_segment[0]) * 3
    insert_users.append(
        dict(
            user_id=i,
            name= name,
            birth_date= birth_date,
            from_date= from_date,
            to_date= FUTURE,
            gender=gender,
            location_id=location_id,
            segment_id=segment_id
        )
    )
    print(ROW.format(**insert_users[-1]))

( 1, 'Erik Benson', '1960-10-09','O', '2021-06-09', '2999-12-31', 5, 7 )
( 2, 'Benjamin Davis', '1952-03-31','O', '2022-08-18', '2999-12-31', 7, 8 )
( 3, 'Crystal Williamson', '1950-12-11','M', '2020-10-24', '2999-12-31', 6, 7 )
( 4, 'Justin Gray', '1994-03-23','M', '2023-02-07', '2999-12-31', 12, 5 )
( 5, 'Dennis Hansen', '1965-08-02','O', '2021-04-14', '2999-12-31', 8, 8 )
( 6, 'Cynthia Mora', '1979-08-21','O', '2023-03-26', '2999-12-31', 12, 6 )
( 7, 'Luke Perry', '1986-02-28','O', '2022-12-04', '2999-12-31', 5, 6 )
( 8, 'Kevin Ross', '1972-12-13','M', '2021-07-01', '2999-12-31', 8, 7 )
( 9, 'Randy Douglas', '1985-08-14','M', '2022-05-24', '2999-12-31', 11, 4 )
( 10, 'Kelly Gardner', '1973-01-25','O', '2021-02-06', '2999-12-31', 9, 8 )

In [41]:
## MAKE INSERT STATEMENT
insert_sql = f'{HEADER}'
insert_sql += ',\n'.join([ROW.format(**user) for user in insert_users])
insert_sql += ';'
print(insert_sql)

INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
( 1, 'Erik Benson', '1960-10-09','O', '2021-06-09', '2999-12-31', 5, 7 ),
( 2, 'Benjamin Davis', '1952-03-31','O', '2022-08-18', '2999-12-31', 7, 8 ),
( 3, 'Crystal Williamson', '1950-12-11','M', '2020-10-24', '2999-12-31', 6, 7 ),
( 4, 'Justin Gray', '1994-03-23','M', '2023-02-07', '2999-12-31', 12, 5 ),
( 5, 'Dennis Hansen', '1965-08-02','O', '2021-04-14', '2999-12-31', 8, 8 ),
( 6, 'Cynthia Mora', '1979-08-21','O', '2023-03-26', '2999-12-31', 12, 6 ),
( 7, 'Luke Perry', '1986-02-28','O', '2022-12-04', '2999-12-31', 5, 6 ),
( 8, 'Kevin Ross', '1972-12-13','M', '2021-07-01', '2999-12-31', 8, 7 ),
( 9, 'Randy Douglas', '1985-08-14','M', '2022-05-24', '2999-12-31', 11, 4 ),
( 10, 'Kelly Gardner', '1973-01-25','O', '2021-02-06', '2999-12-31', 9, 8 );

In [42]:
with open(INSERT_USERS_FILE, 'w') as f:
    f.write(insert_sql)

In [34]:
(datetime.date.today() - datetime.date(1975,7,9)).days // 365

48