In [48]:
import datetime
HEADER="""DELETE FROM public."User"; INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
"""
ROW="( {user_id}, '{name}', '{birth_date}','{gender}', '{from_date}', '{to_date}', {location_id}, {segment_id} )"
RECORDS=1000
LOCATION_RANGE=(1,17) # 17 locations
SEGMENT_RANGE=(1,3) # 3 segments
FUTURE=datetime.date(2999,12,31)
GENDERS=["M","F","O"]
BIRTH_DATE_START=datetime.date(1950,1,1)
BIRTH_DATE_RANGE=365*55 # 55 years
SEGMENT_AGES_RANGES=[(0,25),(25,45),(45,100)] # 3 segments
INSERT_USERS_FILE="../15_insert_users.sql"

In [49]:
import faker
import random

faker_name = faker.Faker()
today = datetime.date.today()
insert_users = []
for i in range(1,RECORDS+1):
    name = faker_name.name()
    
    birth_date = BIRTH_DATE_START + datetime.timedelta(days=random.randint(0,BIRTH_DATE_RANGE))
    from_date = today - datetime.timedelta(days=random.randint(180,365*5))
    location_id = random.randint(*LOCATION_RANGE)
    gender = random.choice(GENDERS)
    age = (today - birth_date).days // 365
    age_segment = list(filter(lambda x : x[0] <= age < x[1], SEGMENT_AGES_RANGES))
    segment_id = random.randint(*SEGMENT_RANGE) + SEGMENT_AGES_RANGES.index(age_segment[0]) * 3
    insert_users.append(
        dict(
            user_id=i,
            name= name,
            birth_date= birth_date,
            from_date= from_date,
            to_date= FUTURE,
            gender=gender,
            location_id=location_id,
            segment_id=segment_id
        )
    )
    print(ROW.format(**insert_users[-1]))

( 1, 'Daniel Johnson', '1993-01-08','O', '2022-05-24', '2999-12-31', 12, 5 )
( 2, 'Kendra Watkins', '1968-07-25','M', '2021-07-19', '2999-12-31', 14, 9 )
( 3, 'Michael Watson', '1983-02-01','F', '2022-01-31', '2999-12-31', 15, 6 )
( 4, 'Brian Stephenson', '1988-11-28','F', '2019-03-25', '2999-12-31', 2, 5 )
( 5, 'Melissa Thomas', '1955-12-21','O', '2022-08-07', '2999-12-31', 9, 7 )
( 6, 'Deanna Collier', '1994-04-13','M', '2019-01-10', '2999-12-31', 10, 6 )
( 7, 'Lawrence Hodges', '1965-04-05','O', '2021-08-06', '2999-12-31', 14, 7 )
( 8, 'Amy Delgado', '1993-09-17','M', '2019-01-31', '2999-12-31', 15, 4 )
( 9, 'Chad Stevenson', '1983-12-22','F', '2021-05-08', '2999-12-31', 5, 4 )
( 10, 'Christopher Gill', '1971-08-10','F', '2022-10-31', '2999-12-31', 1, 9 )
( 11, 'John Houston', '1977-08-04','O', '2021-12-10', '2999-12-31', 7, 7 )
( 12, 'Steven Walker', '1958-05-12','M', '2021-08-30', '2999-12-31', 14, 7 )
( 13, 'Raymond Kirby', '1957-11-28','F', '2021-01-04', '2999-12-31', 6, 9 )
( 14, 'Nathaniel Smith', '1997-10-30','M', '2022-04-27', '2999-12-31', 6, 5 )
( 15, 'Roy Miller', '1979-10-31','O', '2021-09-19', '2999-12-31', 7, 4 )
( 16, 'Billy Parsons', '1990-07-26','O', '2022-06-20', '2999-12-31', 9, 5 )
( 17, 'Beth Hudson', '1987-11-01','M', '2022-09-15', '2999-12-31', 2, 4 )
( 18, 'Scott Perez', '1976-12-21','F', '2020-07-27', '2999-12-31', 4, 7 )
( 19, 'Cheryl Cummings', '1971-04-12','M', '2022-10-06', '2999-12-31', 6, 8 )
( 20, 'Misty Bradford', '1965-03-01','F', '2019-08-28', '2999-12-31', 3, 9 )
( 21, 'Omar Cooper', '1999-11-13','O', '2019-07-11', '2999-12-31', 6, 2 )
( 22, 'Emily Stewart', '1970-12-21','F', '2019-04-03', '2999-12-31', 12, 7 )
( 23, 'Adam Mason', '1991-02-17','F', '2022-08-14', '2999-12-31', 16, 5 )
( 24, 'Christine Martin', '1974-02-13','F', '2020-03-18', '2999-12-31', 10, 9 )
( 25, 'Dean Anderson', '2004-02-24','O', '2023-01-06', '2999-12-31', 8, 2 )
( 26, 'Veronica Lawson MD', '2003-11-11','O', '2021-02-05', '2999-12-31', 16, 3 )
( 27, 'Susan Larson', '1955-06-14','O', '2020-11-07', '2999-12-31', 7, 8 )
( 28, 'Tammy Houston', '1972-07-13','M', '2019-08-11', '2999-12-31', 1, 7 )
( 29, 'Lindsey Jackson', '1970-05-29','F', '2022-09-25', '2999-12-31', 10, 9 )
( 30, 'Andrew Hernandez', '1953-10-27','O', '2019-12-04', '2999-12-31', 6, 8 )
( 31, 'Breanna Bryant', '1969-04-27','M', '2019-02-11', '2999-12-31', 13, 9 )
( 32, 'John Hall', '1978-08-09','O', '2022-01-10', '2999-12-31', 4, 7 )
( 33, 'Gene Martin', '2003-01-14','O', '2019-01-11', '2999-12-31', 14, 2 )
( 34, 'Frank Leonard', '1986-11-16','M', '2022-01-20', '2999-12-31', 3, 4 )
( 35, 'Michelle Morales', '1991-01-17','F', '2020-12-15', '2999-12-31', 5, 4 )
( 36, 'Richard Warner', '1988-03-31','F', '2020-08-09', '2999-12-31', 15, 6 )
( 37, 'Marcus Garcia', '1974-01-14','F', '2019-04-23', '2999-12-31', 4, 9 )
( 38, 'Kathy Young', '1978-10-07','M', '2019-06-09', '2999-12-31', 9, 9 )
( 39, 'Shirley Rogers', '1979-09-05','M', '2021-12-31', '2999-12-31', 11, 4 )
( 40, 'Stacy Taylor', '1980-03-09','F', '2020-07-05', '2999-12-31', 16, 5 )
( 41, 'Tammy Hardy', '1972-12-18','F', '2022-06-05', '2999-12-31', 10, 7 )
( 42, 'Ashley Martinez', '1963-06-01','O', '2020-01-29', '2999-12-31', 6, 8 )
( 43, 'Kyle Roach', '1969-05-16','O', '2020-02-03', '2999-12-31', 1, 8 )
( 44, 'Mary Prince', '2002-07-03','M', '2019-03-01', '2999-12-31', 3, 3 )
( 45, 'Daniel Colon', '1974-10-22','F', '2021-02-23', '2999-12-31', 14, 9 )
( 46, 'Kevin Clark', '1957-03-26','F', '2022-10-01', '2999-12-31', 3, 9 )
( 47, 'Angel Brown', '1979-08-05','F', '2020-07-23', '2999-12-31', 6, 5 )
( 48, 'Jeffrey Blake', '1990-04-16','F', '2019-09-25', '2999-12-31', 3, 4 )
( 49, 'Maria Rodriguez', '1953-11-13','M', '2023-02-01', '2999-12-31', 4, 9 )
( 50, 'Jacob Wu', '2002-04-04','F', '2021-08-19', '2999-12-31', 12, 3 )
( 51, 'Kimberly Newton', '2001-10-17','F', '2022-10-13', '2999-12-31', 9, 3 )
( 52, 'Ryan Olson', '1997-08-16','O', '2021-05-29', '2999-12-31', 10, 5 )
( 53, 'William Nguyen', '1985-12-20','F', '2019-05-31', '2999-12-31', 13, 6 )
( 54, 'Patrick Cohen', '1997-02-26','M', '2021-10-14', '2999-12-31', 1, 5 )
( 55, 'Sarah Lawrence', '1995-11-15','M', '2023-02-05', '2999-12-31', 9, 5 )
( 56, 'Aaron Moore', '1956-10-01','O', '2019-07-13', '2999-12-31', 6, 9 )
( 57, 'Emily Clarke', '1978-03-08','M', '2023-04-28', '2999-12-31', 3, 7 )
( 58, 'Robert Nielsen', '1962-10-11','O', '2019-10-04', '2999-12-31', 17, 9 )
( 59, 'Alexander Wilson', '1996-03-26','F', '2021-05-26', '2999-12-31', 1, 6 )
( 60, 'Ronald Armstrong', '1969-10-17','M', '2020-10-04', '2999-12-31', 6, 7 )
( 61, 'Steven Foley', '1954-03-17','O', '2022-08-12', '2999-12-31', 1, 9 )
( 62, 'Jessica Vance', '1998-09-26','M', '2021-12-31', '2999-12-31', 17, 5 )
( 63, 'Sandra Adams', '1973-01-06','F', '2021-11-21', '2999-12-31', 10, 7 )
( 64, 'Melinda Bruce', '1992-10-06','F', '2020-04-07', '2999-12-31', 6, 5 )
( 65, 'Heather Lewis', '1982-10-25','F', '2020-06-30', '2999-12-31', 13, 6 )
( 66, 'Christopher Peck', '1981-04-19','O', '2020-06-29', '2999-12-31', 2, 6 )
( 67, 'Joseph Brown', '1993-02-01','M', '2021-05-28', '2999-12-31', 5, 5 )
( 68, 'Richard Liu', '1972-01-22','M', '2023-06-07', '2999-12-31', 8, 7 )
( 69, 'Austin Martinez', '1959-01-25','F', '2018-12-29', '2999-12-31', 3, 8 )
( 70, 'Brooke Robinson', '1955-08-13','O', '2021-11-03', '2999-12-31', 9, 9 )
( 71, 'Mr. Reginald Obrien MD', '1989-04-21','O', '2020-02-10', '2999-12-31', 1, 5 )
( 72, 'Patricia Montoya', '1973-03-21','O', '2019-07-07', '2999-12-31', 9, 7 )
( 73, 'Carrie Green', '1986-05-05','O', '2022-01-12', '2999-12-31', 7, 4 )
( 74, 'Melissa Benjamin', '1977-10-15','F', '2019-03-09', '2999-12-31', 13, 9 )
( 75, 'Dillon Fritz', '2002-01-08','O', '2019-05-21', '2999-12-31', 7, 3 )
( 76, 'Lisa Garcia', '1983-09-26','O', '2022-02-28', '2999-12-31', 3, 6 )
( 77, 'Mr. Richard Sweeney', '1963-01-30','F', '2019-05-08', '2999-12-31', 17, 9 )
( 78, 'Joshua Jones', '1961-03-29','O', '2021-12-07', '2999-12-31', 16, 9 )
( 79, 'Karen Mathis', '1962-12-13','O', '2022-10-17', '2999-12-31', 10, 8 )
( 80, 'Jenna Anderson', '1981-06-09','M', '2019-08-28', '2999-12-31', 6, 6 )
( 81, 'Cynthia Holmes', '1998-05-13','F', '2022-03-02', '2999-12-31', 7, 6 )
( 82, 'Katie Morris', '1970-02-27','M', '2023-05-13', '2999-12-31', 9, 9 )
( 83, 'Brian Schaefer', '1987-05-12','O', '2021-12-11', '2999-12-31', 4, 6 )
( 84, 'Richard Lee', '1990-11-19','M', '2021-04-06', '2999-12-31', 11, 4 )
( 85, 'Elizabeth Harris', '1963-09-17','F', '2019-01-12', '2999-12-31', 5, 9 )
( 86, 'Carlos Mitchell', '1962-01-12','M', '2022-03-21', '2999-12-31', 4, 7 )
( 87, 'Ian Hernandez', '1995-06-22','M', '2023-04-13', '2999-12-31', 14, 6 )
( 88, 'Samantha Leach', '1988-10-11','M', '2019-07-28', '2999-12-31', 15, 6 )
( 89, 'John Jones', '1955-08-05','O', '2022-08-08', '2999-12-31', 16, 7 )
( 90, 'Richard Terry', '1952-01-19','F', '2019-06-13', '2999-12-31', 17, 9 )
( 91, 'Grant Fernandez', '1959-11-06','O', '2021-03-18', '2999-12-31', 8, 8 )
( 92, 'Margaret Norris', '1984-12-03','M', '2020-11-18', '2999-12-31', 15, 5 )
( 93, 'Alexis Dodson', '1978-04-12','M', '2019-06-24', '2999-12-31', 2, 7 )
( 94, 'Troy Aguirre', '1996-05-24','O', '2020-12-27', '2999-12-31', 15, 4 )
( 95, 'James Sims', '1995-07-04','O', '2023-02-15', '2999-12-31', 15, 6 )
( 96, 'Megan Galvan', '1972-05-27','M', '2022-05-02', '2999-12-31', 10, 9 )
( 97, 'Dennis Booth', '1963-04-01','O', '2019-04-12', '2999-12-31', 1, 8 )
( 98, 'Mrs. Tina Shaffer', '1951-10-30','O', '2022-06-15', '2999-12-31', 9, 9 )
( 99, 'Ashley Murray', '1970-03-11','F', '2022-07-16', '2999-12-31', 16, 9 )
( 100, 'Tyler May', '2003-10-12','M', '2019-09-30', '2999-12-31', 3, 3 )
( 101, 'Jerome Sanchez', '2001-10-07','O', '2020-04-29', '2999-12-31', 9, 3 )
( 102, 'Sherry Chang', '2000-02-03','F', '2019-02-25', '2999-12-31', 10, 3 )
( 103, 'Mitchell Becker', '1999-05-15','O', '2021-06-21', '2999-12-31', 6, 1 )
( 104, 'Brian Vargas', '1952-03-05','M', '2020-11-29', '2999-12-31', 12, 7 )
( 105, 'Alexandra Moore', '1968-11-16','F', '2019-07-26', '2999-12-31', 3, 8 )
( 106, 'Lori Harrison', '1955-11-28','M', '2020-12-10', '2999-12-31', 11, 8 )
( 107, 'Ryan Morrison', '1972-01-05','M', '2019-12-26', '2999-12-31', 4, 7 )
( 108, 'Angela Berry', '2000-11-05','O', '2021-12-08', '2999-12-31', 9, 1 )
( 109, 'Joshua Huynh', '1952-11-29','O', '2022-12-10', '2999-12-31', 17, 9 )
( 110, 'Kayla Murray', '1958-05-03','O', '2019-12-06', '2999-12-31', 3, 8 )
( 111, 'Theresa Humphrey', '1956-03-06','M', '2021-05-21', '2999-12-31', 3, 8 )
( 112, 'Diana Williams', '1952-04-26','F', '2020-12-01', '2999-12-31', 13, 7 )
( 113, 'Matthew Murphy', '1996-05-15','F', '2022-01-14', '2999-12-31', 15, 6 )
( 114, 'Michael Vargas', '1980-02-11','M', '2019-01-10', '2999-12-31', 16, 4 )
( 115, 'Kendra Hernandez', '1980-08-06','F', '2019-01-23', '2999-12-31', 13, 4 )
( 116, 'Jared Jefferson', '1986-08-20','F', '2022-08-06', '2999-12-31', 1, 6 )
( 117, 'Raymond Brown', '1995-11-24','M', '2019-10-15', '2999-12-31', 13, 5 )
( 118, 'Dawn Stephens', '1953-05-26','O', '2022-08-12', '2999-12-31', 8, 8 )
( 119, 'Michael Ryan', '1997-08-19','M', '2021-12-05', '2999-12-31', 3, 4 )
( 120, 'Dr. Robert Hernandez', '1971-10-03','F', '2020-07-03', '2999-12-31', 10, 9 )
( 121, 'Alexa Hernandez', '1958-10-02','M', '2019-10-01', '2999-12-31', 10, 8 )
( 122, 'Crystal Velez', '1962-08-13','M', '2021-06-11', '2999-12-31', 13, 7 )
( 123, 'Jonathan Thomas', '1971-01-18','O', '2022-11-01', '2999-12-31', 5, 9 )
( 124, 'Mary Lyons', '1961-09-17','O', '2021-12-05', '2999-12-31', 9, 7 )
( 125, 'Philip Johnston', '1962-08-30','F', '2019-12-11', '2999-12-31', 11, 9 )
( 126, 'Brian Mcmahon', '1960-02-09','F', '2021-06-11', '2999-12-31', 17, 7 )
( 127, 'William Thompson', '1950-09-22','F', '2019-06-03', '2999-12-31', 4, 8 )
( 128, 'Alyssa Carr', '1963-11-05','M', '2023-01-28', '2999-12-31', 17, 7 )
( 129, 'Paul Garcia', '1964-06-29','O', '2020-06-26', '2999-12-31', 6, 7 )
( 130, 'Joan Morrison', '1961-02-03','O', '2022-03-12', '2999-12-31', 10, 9 )
( 131, 'Tracy Key', '1986-12-11','F', '2022-07-22', '2999-12-31', 13, 4 )
( 132, 'Gloria Carter', '1966-09-20','F', '2020-10-14', '2999-12-31', 2, 7 )
( 133, 'Destiny Evans', '1999-06-28','M', '2019-12-12', '2999-12-31', 4, 2 )
( 134, 'Roger Barnes', '1950-03-08','F', '2020-02-13', '2999-12-31', 1, 8 )
( 135, 'Michael Stone', '1957-05-10','F', '2022-11-20', '2999-12-31', 17, 8 )
( 136, 'Nicholas Luna', '1958-12-21','M', '2022-09-12', '2999-12-31', 7, 9 )
( 137, 'Jose Burgess DDS', '1959-01-01','M', '2022-08-30', '2999-12-31', 3, 8 )
( 138, 'James Weber', '1985-03-07','M', '2020-10-04', '2999-12-31', 5, 4 )
( 139, 'Kyle Robertson', '2002-05-31','M', '2023-03-29', '2999-12-31', 16, 2 )
( 140, 'John Pierce Jr.', '1963-03-20','M', '2023-02-26', '2999-12-31', 6, 9 )
( 141, 'Eric Hess', '1962-06-25','F', '2021-01-30', '2999-12-31', 13, 7 )
( 142, 'Katie Santos', '1950-08-27','M', '2021-03-29', '2999-12-31', 6, 9 )
( 143, 'Sean Jenkins', '1993-06-17','F', '2021-12-14', '2999-12-31', 14, 4 )
( 144, 'Kirsten Sharp', '1951-10-09','M', '2018-12-26', '2999-12-31', 7, 8 )
( 145, 'Katherine Harmon', '1968-06-06','M', '2019-05-15', '2999-12-31', 16, 8 )
( 146, 'Ana Rodriguez', '1996-11-03','F', '2021-10-09', '2999-12-31', 11, 6 )
( 147, 'Amber Smith', '1977-08-08','O', '2021-12-17', '2999-12-31', 15, 7 )
( 148, 'George Baker', '1973-05-05','O', '2020-03-21', '2999-12-31', 10, 8 )
( 149, 'Leslie Young', '1997-08-22','O', '2022-06-03', '2999-12-31', 7, 4 )
( 150, 'Kimberly Spencer', '1995-07-18','M', '2021-04-10', '2999-12-31', 12, 6 )
( 151, 'Timothy West', '1989-02-23','M', '2021-12-23', '2999-12-31', 1, 6 )
( 152, 'Katrina Lang', '1963-05-28','F', '2022-10-11', '2999-12-31', 10, 9 )
( 153, 'Michael Horton', '1971-05-18','M', '2019-07-09', '2999-12-31', 16, 7 )
( 154, 'Elizabeth Anderson', '1977-08-31','O', '2020-09-04', '2999-12-31', 16, 9 )
( 155, 'Reginald Williams', '2001-08-21','M', '2022-02-14', '2999-12-31', 6, 1 )
( 156, 'James Cabrera', '1961-07-28','F', '2023-05-13', '2999-12-31', 3, 9 )
( 157, 'Jason Yates', '1966-08-26','F', '2023-05-22', '2999-12-31', 1, 7 )
( 158, 'Christopher Clark MD', '1977-05-30','F', '2023-01-28', '2999-12-31', 5, 9 )
( 159, 'Drew Miller', '1987-04-14','O', '2019-08-09', '2999-12-31', 13, 6 )
( 160, 'Erica Howard', '1997-01-26','F', '2021-02-09', '2999-12-31', 8, 5 )
( 161, 'Mr. Daniel James', '1988-09-02','M', '2021-06-21', '2999-12-31', 12, 4 )
( 162, 'Jack Henderson', '2003-03-16','M', '2023-05-30', '2999-12-31', 16, 3 )
( 163, 'Sarah Santiago', '1972-03-29','O', '2022-04-25', '2999-12-31', 4, 8 )
( 164, 'Cindy Campbell', '1979-06-14','O', '2021-06-20', '2999-12-31', 14, 6 )
( 165, 'Jamie Wright', '1953-02-19','M', '2022-07-08', '2999-12-31', 15, 9 )
( 166, 'Helen Heath', '1972-01-12','M', '2019-02-07', '2999-12-31', 4, 7 )
( 167, 'Sarah Santos', '1969-12-21','M', '2019-09-30', '2999-12-31', 17, 7 )
( 168, 'Nancy Williams', '1962-02-03','O', '2022-03-16', '2999-12-31', 8, 7 )
( 169, 'Morgan Taylor', '1996-08-22','M', '2021-07-06', '2999-12-31', 13, 4 )
( 170, 'Brooke Martinez', '1954-07-04','O', '2019-05-14', '2999-12-31', 8, 9 )
( 171, 'Charles Sanders', '1991-10-05','F', '2022-12-24', '2999-12-31', 8, 4 )
( 172, 'Robert Reed', '1993-06-15','O', '2023-01-24', '2999-12-31', 15, 6 )
( 173, 'Janice Bell', '2002-08-21','O', '2022-02-21', '2999-12-31', 6, 2 )
( 174, 'Jesse Reynolds', '1957-01-05','F', '2019-07-21', '2999-12-31', 3, 9 )
( 175, 'Justin Wilkinson', '1998-08-10','O', '2021-12-04', '2999-12-31', 2, 6 )
( 176, 'Marie Chang', '1964-10-03','F', '2019-11-03', '2999-12-31', 12, 8 )
( 177, 'Kenneth Clements', '1960-03-05','O', '2019-12-05', '2999-12-31', 2, 8 )
( 178, 'Sandra Stewart', '2002-01-03','O', '2020-12-24', '2999-12-31', 14, 3 )
( 179, 'Amanda Newton', '1955-09-19','O', '2021-11-01', '2999-12-31', 17, 9 )
( 180, 'Katherine Hawkins', '1995-12-16','F', '2022-07-29', '2999-12-31', 10, 5 )
( 181, 'Rose Carson', '1976-08-12','F', '2022-04-25', '2999-12-31', 8, 9 )
( 182, 'Rachel Mitchell', '1992-03-05','O', '2020-02-27', '2999-12-31', 9, 6 )
( 183, 'Laura Thompson', '1965-01-06','M', '2021-01-08', '2999-12-31', 8, 9 )
( 184, 'Dennis Hamilton', '1996-02-25','O', '2021-07-07', '2999-12-31', 7, 5 )
( 185, 'Carolyn Goodman', '1977-07-11','F', '2021-05-31', '2999-12-31', 5, 8 )
( 186, 'Dylan Wright', '1952-12-30','F', '2022-04-30', '2999-12-31', 5, 9 )
( 187, 'Sarah Hodges', '1966-05-05','M', '2020-12-14', '2999-12-31', 9, 9 )
( 188, 'Nancy Morgan', '1996-06-16','O', '2022-10-12', '2999-12-31', 1, 5 )
( 189, 'Jill Howard', '1991-05-25','O', '2022-02-20', '2999-12-31', 4, 5 )
( 190, 'Karen Sherman', '1972-12-07','M', '2021-05-07', '2999-12-31', 4, 8 )
( 191, 'Christopher Burke', '1967-01-07','O', '2023-05-04', '2999-12-31', 1, 8 )
( 192, 'Roy Weiss', '2002-06-21','F', '2022-03-24', '2999-12-31', 1, 2 )
( 193, 'Amanda Armstrong', '1974-10-10','F', '2022-10-02', '2999-12-31', 13, 7 )
( 194, 'Ashley Moore', '2002-01-28','M', '2022-11-25', '2999-12-31', 16, 1 )
( 195, 'Victor Baker', '1999-12-08','F', '2021-06-11', '2999-12-31', 3, 3 )
( 196, 'Ralph Nicholson', '2001-05-11','O', '2022-05-12', '2999-12-31', 12, 1 )
( 197, 'Cindy Fuentes', '1952-06-17','M', '2019-11-02', '2999-12-31', 15, 7 )
( 198, 'Cassandra Ramirez', '1986-03-25','O', '2020-05-07', '2999-12-31', 16, 6 )
( 199, 'Patrick Wilkerson', '1995-02-01','F', '2022-08-09', '2999-12-31', 14, 5 )
( 200, 'Martin Cervantes', '1988-01-01','M', '2020-11-28', '2999-12-31', 8, 5 )
( 201, 'John Torres', '2000-05-19','F', '2023-05-15', '2999-12-31', 4, 2 )
( 202, 'Lisa Morales', '1990-10-18','F', '2022-12-02', '2999-12-31', 8, 5 )
( 203, 'Erica Hardy', '1962-03-25','F', '2020-09-13', '2999-12-31', 1, 7 )
( 204, 'Melanie Jones', '1998-07-26','F', '2019-11-07', '2999-12-31', 16, 5 )
( 205, 'Jennifer Brown', '1981-12-01','M', '2019-01-19', '2999-12-31', 3, 4 )
( 206, 'Connor Wise', '1964-11-23','O', '2022-11-08', '2999-12-31', 14, 8 )
( 207, 'Aaron Bowman', '1963-09-02','O', '2020-05-12', '2999-12-31', 14, 8 )
( 208, 'Melissa Perry', '1985-10-29','M', '2020-06-20', '2999-12-31', 12, 6 )
( 209, 'David Burns', '1995-04-19','O', '2022-12-01', '2999-12-31', 1, 6 )
( 210, 'Christopher Hill', '1965-04-05','O', '2020-03-09', '2999-12-31', 1, 8 )
( 211, 'Sean Horton', '1955-04-05','M', '2020-05-03', '2999-12-31', 8, 9 )
( 212, 'Lori Brown', '1957-06-23','O', '2023-04-05', '2999-12-31', 4, 9 )
( 213, 'Daniel Johnson', '1981-08-19','F', '2020-04-29', '2999-12-31', 3, 6 )
( 214, 'Mark Garcia', '1984-09-28','O', '2022-08-14', '2999-12-31', 9, 6 )
( 215, 'Robert Walker', '1999-05-26','O', '2021-01-03', '2999-12-31', 7, 2 )
( 216, 'Douglas Roach', '2000-02-28','M', '2020-04-17', '2999-12-31', 11, 1 )
( 217, 'Stephanie Hayden', '1971-09-23','F', '2022-06-12', '2999-12-31', 2, 7 )
( 218, 'Heather Foster', '1997-04-22','M', '2021-08-06', '2999-12-31', 12, 6 )
( 219, 'Michael Gomez', '1954-04-23','F', '2019-04-14', '2999-12-31', 4, 7 )
( 220, 'Patrick Jones', '1953-02-14','M', '2021-02-22', '2999-12-31', 10, 9 )
( 221, 'John Williams', '1957-05-06','M', '2020-06-15', '2999-12-31', 3, 8 )
( 222, 'Bonnie Russell', '1964-03-27','O', '2020-03-06', '2999-12-31', 5, 8 )
( 223, 'John Bennett', '1976-03-04','F', '2021-08-19', '2999-12-31', 15, 7 )
( 224, 'Sean Bryant', '1990-09-16','O', '2022-10-11', '2999-12-31', 14, 5 )
( 225, 'Karla Brown', '1958-12-07','M', '2020-05-03', '2999-12-31', 15, 9 )
( 226, 'Lisa Stanley', '1978-07-20','O', '2021-01-09', '2999-12-31', 10, 9 )
( 227, 'Elizabeth Fisher', '1983-09-21','F', '2019-09-29', '2999-12-31', 9, 5 )
( 228, 'Sheila Smith', '1975-04-07','F', '2019-05-23', '2999-12-31', 9, 8 )
( 229, 'Suzanne Oneill', '1968-09-21','F', '2021-11-09', '2999-12-31', 1, 7 )
( 230, 'Mark Stephens', '1954-02-04','F', '2020-02-18', '2999-12-31', 14, 8 )
( 231, 'Patricia Hanna', '1998-04-21','F', '2022-06-20', '2999-12-31', 17, 5 )
( 232, 'William Davis', '1984-12-25','F', '2020-03-25', '2999-12-31', 4, 6 )
( 233, 'Cassandra Brown', '2002-07-19','O', '2020-06-06', '2999-12-31', 6, 2 )
( 234, 'Michael Bennett', '1985-12-13','O', '2022-02-26', '2999-12-31', 1, 4 )
( 235, 'Shelly Brooks', '1964-01-31','M', '2020-02-03', '2999-12-31', 7, 8 )
( 236, 'Justin Rojas', '1970-08-09','M', '2022-10-04', '2999-12-31', 14, 9 )
( 237, 'Adam Barton', '1974-08-27','M', '2021-07-02', '2999-12-31', 7, 8 )
( 238, 'Crystal Sanford', '1976-09-02','F', '2021-06-08', '2999-12-31', 6, 8 )
( 239, 'Paul Ross', '1986-05-20','M', '2022-02-12', '2999-12-31', 17, 4 )
( 240, 'James Henderson', '1988-11-29','O', '2020-06-14', '2999-12-31', 9, 5 )
( 241, 'Ethan Baker', '1977-05-20','O', '2021-05-10', '2999-12-31', 7, 8 )
( 242, 'Ashley Ramsey DVM', '1988-09-19','M', '2022-04-23', '2999-12-31', 12, 5 )
( 243, 'Michael Young', '1959-10-10','F', '2021-11-17', '2999-12-31', 13, 9 )
( 244, 'Michael Reynolds', '1982-01-09','O', '2020-01-26', '2999-12-31', 7, 5 )
( 245, 'Nichole Cook', '1990-03-20','O', '2021-11-03', '2999-12-31', 7, 6 )
( 246, 'Cheryl Duran', '1989-12-05','O', '2020-03-09', '2999-12-31', 15, 5 )
( 247, 'Derrick Owens', '1989-02-17','F', '2023-05-30', '2999-12-31', 9, 5 )
( 248, 'Leonard Contreras', '1964-08-20','F', '2021-10-07', '2999-12-31', 8, 8 )
( 249, 'Crystal Underwood', '1966-01-29','O', '2021-12-02', '2999-12-31', 1, 7 )
( 250, 'Jamie Rodriguez', '1984-04-17','O', '2022-02-16', '2999-12-31', 9, 4 )
( 251, 'Amy Barrera', '1957-07-17','M', '2021-01-07', '2999-12-31', 2, 9 )
( 252, 'Justin Freeman', '1969-08-08','O', '2020-09-03', '2999-12-31', 9, 7 )
( 253, 'Marie Marshall', '1993-08-20','M', '2021-11-10', '2999-12-31', 10, 5 )
( 254, 'Mary Bauer', '1954-08-11','O', '2020-01-19', '2999-12-31', 14, 7 )
( 255, 'Patricia Brown', '1995-08-04','M', '2021-11-30', '2999-12-31', 13, 6 )
( 256, 'David White', '1969-03-17','O', '2021-08-22', '2999-12-31', 12, 7 )
( 257, 'Dustin George', '2001-06-08','F', '2019-11-10', '2999-12-31', 17, 1 )
( 258, 'Scott Ray', '2004-11-06','M', '2021-08-28', '2999-12-31', 9, 2 )

In [50]:
## MAKE INSERT STATEMENT
insert_sql = f'{HEADER}'
insert_sql += ',\n'.join([ROW.format(**user) for user in insert_users])
insert_sql += ';'
print(insert_sql)

DELETE FROM public."User"; INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
( 1, 'Daniel Johnson', '1993-01-08','O', '2022-05-24', '2999-12-31', 12, 5 ),
( 2, 'Kendra Watkins', '1968-07-25','M', '2021-07-19', '2999-12-31', 14, 9 ),
( 3, 'Michael Watson', '1983-02-01','F', '2022-01-31', '2999-12-31', 15, 6 ),
( 4, 'Brian Stephenson', '1988-11-28','F', '2019-03-25', '2999-12-31', 2, 5 ),
( 5, 'Melissa Thomas', '1955-12-21','O', '2022-08-07', '2999-12-31', 9, 7 ),
( 6, 'Deanna Collier', '1994-04-13','M', '2019-01-10', '2999-12-31', 10, 6 ),
( 7, 'Lawrence Hodges', '1965-04-05','O', '2021-08-06', '2999-12-31', 14, 7 ),
( 8, 'Amy Delgado', '1993-09-17','M', '2019-01-31', '2999-12-31', 15, 4 ),
( 9, 'Chad Stevenson', '1983-12-22','F', '2021-05-08', '2999-12-31', 5, 4 ),
( 10, 'Christopher Gill', '1971-08-10','F', '2022-10-31', '2999-12-31', 1, 9 ),
( 11, 'John Houston', '1977-08-04','O', '2021-12-10', '2999-12-31', 7, 7 ),
( 12, 'Steven Walker', '1958-05-12','M', '2021-08-30', '2999-12-31', 14, 7 ),
( 13, 'Raymond Kirby', '1957-11-28','F', '2021-01-04', '2999-12-31', 6, 9 ),
( 14, 'Nathaniel Smith', '1997-10-30','M', '2022-04-27', '2999-12-31', 6, 5 ),
( 15, 'Roy Miller', '1979-10-31','O', '2021-09-19', '2999-12-31', 7, 4 ),
( 16, 'Billy Parsons', '1990-07-26','O', '2022-06-20', '2999-12-31', 9, 5 ),
( 17, 'Beth Hudson', '1987-11-01','M', '2022-09-15', '2999-12-31', 2, 4 ),
( 18, 'Scott Perez', '1976-12-21','F', '2020-07-27', '2999-12-31', 4, 7 ),
( 19, 'Cheryl Cummings', '1971-04-12','M', '2022-10-06', '2999-12-31', 6, 8 ),
( 20, 'Misty Bradford', '1965-03-01','F', '2019-08-28', '2999-12-31', 3, 9 ),
( 21, 'Omar Cooper', '1999-11-13','O', '2019-07-11', '2999-12-31', 6, 2 ),
( 22, 'Emily Stewart', '1970-12-21','F', '2019-04-03', '2999-12-31', 12, 7 ),
( 23, 'Adam Mason', '1991-02-17','F', '2022-08-14', '2999-12-31', 16, 5 ),
( 24, 'Christine Martin', '1974-02-13','F', '2020-03-18', '2999-12-31', 10, 9 ),
( 25, 'Dean Anderson', '2004-02-24','O', '2023-01-06', '2999-12-31', 8, 2 ),
( 26, 'Veronica Lawson MD', '2003-11-11','O', '2021-02-05', '2999-12-31', 16, 3 ),
( 27, 'Susan Larson', '1955-06-14','O', '2020-11-07', '2999-12-31', 7, 8 ),
( 28, 'Tammy Houston', '1972-07-13','M', '2019-08-11', '2999-12-31', 1, 7 ),
( 29, 'Lindsey Jackson', '1970-05-29','F', '2022-09-25', '2999-12-31', 10, 9 ),
( 30, 'Andrew Hernandez', '1953-10-27','O', '2019-12-04', '2999-12-31', 6, 8 ),
( 31, 'Breanna Bryant', '1969-04-27','M', '2019-02-11', '2999-12-31', 13, 9 ),
( 32, 'John Hall', '1978-08-09','O', '2022-01-10', '2999-12-31', 4, 7 ),
( 33, 'Gene Martin', '2003-01-14','O', '2019-01-11', '2999-12-31', 14, 2 ),
( 34, 'Frank Leonard', '1986-11-16','M', '2022-01-20', '2999-12-31', 3, 4 ),
( 35, 'Michelle Morales', '1991-01-17','F', '2020-12-15', '2999-12-31', 5, 4 ),
( 36, 'Richard Warner', '1988-03-31','F', '2020-08-09', '2999-12-31', 15, 6 ),
( 37, 'Marcus Garcia', '1974-01-14','F', '2019-04-23', '2999-12-31', 4, 9 ),
( 38, 'Kathy Young', '1978-10-07','M', '2019-06-09', '2999-12-31', 9, 9 ),
( 39, 'Shirley Rogers', '1979-09-05','M', '2021-12-31', '2999-12-31', 11, 4 ),
( 40, 'Stacy Taylor', '1980-03-09','F', '2020-07-05', '2999-12-31', 16, 5 ),
( 41, 'Tammy Hardy', '1972-12-18','F', '2022-06-05', '2999-12-31', 10, 7 ),
( 42, 'Ashley Martinez', '1963-06-01','O', '2020-01-29', '2999-12-31', 6, 8 ),
( 43, 'Kyle Roach', '1969-05-16','O', '2020-02-03', '2999-12-31', 1, 8 ),
( 44, 'Mary Prince', '2002-07-03','M', '2019-03-01', '2999-12-31', 3, 3 ),
( 45, 'Daniel Colon', '1974-10-22','F', '2021-02-23', '2999-12-31', 14, 9 ),
( 46, 'Kevin Clark', '1957-03-26','F', '2022-10-01', '2999-12-31', 3, 9 ),
( 47, 'Angel Brown', '1979-08-05','F', '2020-07-23', '2999-12-31', 6, 5 ),
( 48, 'Jeffrey Blake', '1990-04-16','F', '2019-09-25', '2999-12-31', 3, 4 ),
( 49, 'Maria Rodriguez', '1953-11-13','M', '2023-02-01', '2999-12-31', 4, 9 ),
( 50, 'Jacob Wu', '2002-04-04','F', '2021-08-19', '2999-12-31', 12, 3 ),
( 51, 'Kimberly Newton', '2001-10-17','F', '2022-10-13', '2999-12-31', 9, 3 ),
( 52, 'Ryan Olson', '1997-08-16','O', '2021-05-29', '2999-12-31', 10, 5 ),
( 53, 'William Nguyen', '1985-12-20','F', '2019-05-31', '2999-12-31', 13, 6 ),
( 54, 'Patrick Cohen', '1997-02-26','M', '2021-10-14', '2999-12-31', 1, 5 ),
( 55, 'Sarah Lawrence', '1995-11-15','M', '2023-02-05', '2999-12-31', 9, 5 ),
( 56, 'Aaron Moore', '1956-10-01','O', '2019-07-13', '2999-12-31', 6, 9 ),
( 57, 'Emily Clarke', '1978-03-08','M', '2023-04-28', '2999-12-31', 3, 7 ),
( 58, 'Robert Nielsen', '1962-10-11','O', '2019-10-04', '2999-12-31', 17, 9 ),
( 59, 'Alexander Wilson', '1996-03-26','F', '2021-05-26', '2999-12-31', 1, 6 ),
( 60, 'Ronald Armstrong', '1969-10-17','M', '2020-10-04', '2999-12-31', 6, 7 ),
( 61, 'Steven Foley', '1954-03-17','O', '2022-08-12', '2999-12-31', 1, 9 ),
( 62, 'Jessica Vance', '1998-09-26','M', '2021-12-31', '2999-12-31', 17, 5 ),
( 63, 'Sandra Adams', '1973-01-06','F', '2021-11-21', '2999-12-31', 10, 7 ),
( 64, 'Melinda Bruce', '1992-10-06','F', '2020-04-07', '2999-12-31', 6, 5 ),
( 65, 'Heather Lewis', '1982-10-25','F', '2020-06-30', '2999-12-31', 13, 6 ),
( 66, 'Christopher Peck', '1981-04-19','O', '2020-06-29', '2999-12-31', 2, 6 ),
( 67, 'Joseph Brown', '1993-02-01','M', '2021-05-28', '2999-12-31', 5, 5 ),
( 68, 'Richard Liu', '1972-01-22','M', '2023-06-07', '2999-12-31', 8, 7 ),
( 69, 'Austin Martinez', '1959-01-25','F', '2018-12-29', '2999-12-31', 3, 8 ),
( 70, 'Brooke Robinson', '1955-08-13','O', '2021-11-03', '2999-12-31', 9, 9 ),
( 71, 'Mr. Reginald Obrien MD', '1989-04-21','O', '2020-02-10', '2999-12-31', 1, 5 ),
( 72, 'Patricia Montoya', '1973-03-21','O', '2019-07-07', '2999-12-31', 9, 7 ),
( 73, 'Carrie Green', '1986-05-05','O', '2022-01-12', '2999-12-31', 7, 4 ),
( 74, 'Melissa Benjamin', '1977-10-15','F', '2019-03-09', '2999-12-31', 13, 9 ),
( 75, 'Dillon Fritz', '2002-01-08','O', '2019-05-21', '2999-12-31', 7, 3 ),
( 76, 'Lisa Garcia', '1983-09-26','O', '2022-02-28', '2999-12-31', 3, 6 ),
( 77, 'Mr. Richard Sweeney', '1963-01-30','F', '2019-05-08', '2999-12-31', 17, 9 ),
( 78, 'Joshua Jones', '1961-03-29','O', '2021-12-07', '2999-12-31', 16, 9 ),
( 79, 'Karen Mathis', '1962-12-13','O', '2022-10-17', '2999-12-31', 10, 8 ),
( 80, 'Jenna Anderson', '1981-06-09','M', '2019-08-28', '2999-12-31', 6, 6 ),
( 81, 'Cynthia Holmes', '1998-05-13','F', '2022-03-02', '2999-12-31', 7, 6 ),
( 82, 'Katie Morris', '1970-02-27','M', '2023-05-13', '2999-12-31', 9, 9 ),
( 83, 'Brian Schaefer', '1987-05-12','O', '2021-12-11', '2999-12-31', 4, 6 ),
( 84, 'Richard Lee', '1990-11-19','M', '2021-04-06', '2999-12-31', 11, 4 ),
( 85, 'Elizabeth Harris', '1963-09-17','F', '2019-01-12', '2999-12-31', 5, 9 ),
( 86, 'Carlos Mitchell', '1962-01-12','M', '2022-03-21', '2999-12-31', 4, 7 ),
( 87, 'Ian Hernandez', '1995-06-22','M', '2023-04-13', '2999-12-31', 14, 6 ),
( 88, 'Samantha Leach', '1988-10-11','M', '2019-07-28', '2999-12-31', 15, 6 ),
( 89, 'John Jones', '1955-08-05','O', '2022-08-08', '2999-12-31', 16, 7 ),
( 90, 'Richard Terry', '1952-01-19','F', '2019-06-13', '2999-12-31', 17, 9 ),
( 91, 'Grant Fernandez', '1959-11-06','O', '2021-03-18', '2999-12-31', 8, 8 ),
( 92, 'Margaret Norris', '1984-12-03','M', '2020-11-18', '2999-12-31', 15, 5 ),
( 93, 'Alexis Dodson', '1978-04-12','M', '2019-06-24', '2999-12-31', 2, 7 ),
( 94, 'Troy Aguirre', '1996-05-24','O', '2020-12-27', '2999-12-31', 15, 4 ),
( 95, 'James Sims', '1995-07-04','O', '2023-02-15', '2999-12-31', 15, 6 ),
( 96, 'Megan Galvan', '1972-05-27','M', '2022-05-02', '2999-12-31', 10, 9 ),
( 97, 'Dennis Booth', '1963-04-01','O', '2019-04-12', '2999-12-31', 1, 8 ),
( 98, 'Mrs. Tina Shaffer', '1951-10-30','O', '2022-06-15', '2999-12-31', 9, 9 ),
( 99, 'Ashley Murray', '1970-03-11','F', '2022-07-16', '2999-12-31', 16, 9 ),
( 100, 'Tyler May', '2003-10-12','M', '2019-09-30', '2999-12-31', 3, 3 ),
( 101, 'Jerome Sanchez', '2001-10-07','O', '2020-04-29', '2999-12-31', 9, 3 ),
( 102, 'Sherry Chang', '2000-02-03','F', '2019-02-25', '2999-12-31', 10, 3 ),
( 103, 'Mitchell Becker', '1999-05-15','O', '2021-06-21', '2999-12-31', 6, 1 ),
( 104, 'Brian Vargas', '1952-03-05','M', '2020-11-29', '2999-12-31', 12, 7 ),
( 105, 'Alexandra Moore', '1968-11-16','F', '2019-07-26', '2999-12-31', 3, 8 ),
( 106, 'Lori Harrison', '1955-11-28','M', '2020-12-10', '2999-12-31', 11, 8 ),
( 107, 'Ryan Morrison', '1972-01-05','M', '2019-12-26', '2999-12-31', 4, 7 ),
( 108, 'Angela Berry', '2000-11-05','O', '2021-12-08', '2999-12-31', 9, 1 ),
( 109, 'Joshua Huynh', '1952-11-29','O', '2022-12-10', '2999-12-31', 17, 9 ),
( 110, 'Kayla Murray', '1958-05-03','O', '2019-12-06', '2999-12-31', 3, 8 ),
( 111, 'Theresa Humphrey', '1956-03-06','M', '2021-05-21', '2999-12-31', 3, 8 ),
( 112, 'Diana Williams', '1952-04-26','F', '2020-12-01', '2999-12-31', 13, 7 ),
( 113, 'Matthew Murphy', '1996-05-15','F', '2022-01-14', '2999-12-31', 15, 6 ),
( 114, 'Michael Vargas', '1980-02-11','M', '2019-01-10', '2999-12-31', 16, 4 ),
( 115, 'Kendra Hernandez', '1980-08-06','F', '2019-01-23', '2999-12-31', 13, 4 ),
( 116, 'Jared Jefferson', '1986-08-20','F', '2022-08-06', '2999-12-31', 1, 6 ),
( 117, 'Raymond Brown', '1995-11-24','M', '2019-10-15', '2999-12-31', 13, 5 ),
( 118, 'Dawn Stephens', '1953-05-26','O', '2022-08-12', '2999-12-31', 8, 8 ),
( 119, 'Michael Ryan', '1997-08-19','M', '2021-12-05', '2999-12-31', 3, 4 ),
( 120, 'Dr. Robert Hernandez', '1971-10-03','F', '2020-07-03', '2999-12-31', 10, 9 ),
( 121, 'Alexa Hernandez', '1958-10-02','M', '2019-10-01', '2999-12-31', 10, 8 ),
( 122, 'Crystal Velez', '1962-08-13','M', '2021-06-11', '2999-12-31', 13, 7 ),
( 123, 'Jonathan Thomas', '1971-01-18','O', '2022-11-01', '2999-12-31', 5, 9 ),
( 124, 'Mary Lyons', '1961-09-17','O', '2021-12-05', '2999-12-31', 9, 7 ),
( 125, 'Philip Johnston', '1962-08-30','F', '2019-12-11', '2999-12-31', 11, 9 ),
( 126, 'Brian Mcmahon', '1960-02-09','F', '2021-06-11', '2999-12-31', 17, 7 ),
( 127, 'William Thompson', '1950-09-22','F', '2019-06-03', '2999-12-31', 4, 8 ),
( 128, 'Alyssa Carr', '1963-11-05','M', '2023-01-28', '2999-12-31', 17, 7 ),
( 129, 'Paul Garcia', '1964-06-29','O', '2020-06-26', '2999-12-31', 6, 7 ),
( 130, 'Joan Morrison', '1961-02-03','O', '2022-03-12', '2999-12-31', 10, 9 ),
( 131, 'Tracy Key', '1986-12-11','F', '2022-07-22', '2999-12-31', 13, 4 ),
( 132, 'Gloria Carter', '1966-09-20','F', '2020-10-14', '2999-12-31', 2, 7 ),
( 133, 'Destiny Evans', '1999-06-28','M', '2019-12-12', '2999-12-31', 4, 2 ),
( 134, 'Roger Barnes', '1950-03-08','F', '2020-02-13', '2999-12-31', 1, 8 ),
( 135, 'Michael Stone', '1957-05-10','F', '2022-11-20', '2999-12-31', 17, 8 ),
( 136, 'Nicholas Luna', '1958-12-21','M', '2022-09-12', '2999-12-31', 7, 9 ),
( 137, 'Jose Burgess DDS', '1959-01-01','M', '2022-08-30', '2999-12-31', 3, 8 ),
( 138, 'James Weber', '1985-03-07','M', '2020-10-04', '2999-12-31', 5, 4 ),
( 139, 'Kyle Robertson', '2002-05-31','M', '2023-03-29', '2999-12-31', 16, 2 ),
( 140, 'John Pierce Jr.', '1963-03-20','M', '2023-02-26', '2999-12-31', 6, 9 ),
( 141, 'Eric Hess', '1962-06-25','F', '2021-01-30', '2999-12-31', 13, 7 ),
( 142, 'Katie Santos', '1950-08-27','M', '2021-03-29', '2999-12-31', 6, 9 ),
( 143, 'Sean Jenkins', '1993-06-17','F', '2021-12-14', '2999-12-31', 14, 4 ),
( 144, 'Kirsten Sharp', '1951-10-09','M', '2018-12-26', '2999-12-31', 7, 8 ),
( 145, 'Katherine Harmon', '1968-06-06','M', '2019-05-15', '2999-12-31', 16, 8 ),
( 146, 'Ana Rodriguez', '1996-11-03','F', '2021-10-09', '2999-12-31', 11, 6 ),
( 147, 'Amber Smith', '1977-08-08','O', '2021-12-17', '2999-12-31', 15, 7 ),
( 148, 'George Baker', '1973-05-05','O', '2020-03-21', '2999-12-31', 10, 8 ),
( 149, 'Leslie Young', '1997-08-22','O', '2022-06-03', '2999-12-31', 7, 4 ),
( 150, 'Kimberly Spencer', '1995-07-18','M', '2021-04-10', '2999-12-31', 12, 6 ),
( 151, 'Timothy West', '1989-02-23','M', '2021-12-23', '2999-12-31', 1, 6 ),
( 152, 'Katrina Lang', '1963-05-28','F', '2022-10-11', '2999-12-31', 10, 9 ),
( 153, 'Michael Horton', '1971-05-18','M', '2019-07-09', '2999-12-31', 16, 7 ),
( 154, 'Elizabeth Anderson', '1977-08-31','O', '2020-09-04', '2999-12-31', 16, 9 ),
( 155, 'Reginald Williams', '2001-08-21','M', '2022-02-14', '2999-12-31', 6, 1 ),
( 156, 'James Cabrera', '1961-07-28','F', '2023-05-13', '2999-12-31', 3, 9 ),
( 157, 'Jason Yates', '1966-08-26','F', '2023-05-22', '2999-12-31', 1, 7 ),
( 158, 'Christopher Clark MD', '1977-05-30','F', '2023-01-28', '2999-12-31', 5, 9 ),
( 159, 'Drew Miller', '1987-04-14','O', '2019-08-09', '2999-12-31', 13, 6 ),
( 160, 'Erica Howard', '1997-01-26','F', '2021-02-09', '2999-12-31', 8, 5 ),
( 161, 'Mr. Daniel James', '1988-09-02','M', '2021-06-21', '2999-12-31', 12, 4 ),
( 162, 'Jack Henderson', '2003-03-16','M', '2023-05-30', '2999-12-31', 16, 3 ),
( 163, 'Sarah Santiago', '1972-03-29','O', '2022-04-25', '2999-12-31', 4, 8 ),
( 164, 'Cindy Campbell', '1979-06-14','O', '2021-06-20', '2999-12-31', 14, 6 ),
( 165, 'Jamie Wright', '1953-02-19','M', '2022-07-08', '2999-12-31', 15, 9 ),
( 166, 'Helen Heath', '1972-01-12','M', '2019-02-07', '2999-12-31', 4, 7 ),
( 167, 'Sarah Santos', '1969-12-21','M', '2019-09-30', '2999-12-31', 17, 7 ),
( 168, 'Nancy Williams', '1962-02-03','O', '2022-03-16', '2999-12-31', 8, 7 ),
( 169, 'Morgan Taylor', '1996-08-22','M', '2021-07-06', '2999-12-31', 13, 4 ),
( 170, 'Brooke Martinez', '1954-07-04','O', '2019-05-14', '2999-12-31', 8, 9 ),
( 171, 'Charles Sanders', '1991-10-05','F', '2022-12-24', '2999-12-31', 8, 4 ),
( 172, 'Robert Reed', '1993-06-15','O', '2023-01-24', '2999-12-31', 15, 6 ),
( 173, 'Janice Bell', '2002-08-21','O', '2022-02-21', '2999-12-31', 6, 2 ),
( 174, 'Jesse Reynolds', '1957-01-05','F', '2019-07-21', '2999-12-31', 3, 9 ),
( 175, 'Justin Wilkinson', '1998-08-10','O', '2021-12-04', '2999-12-31', 2, 6 ),
( 176, 'Marie Chang', '1964-10-03','F', '2019-11-03', '2999-12-31', 12, 8 ),
( 177, 'Kenneth Clements', '1960-03-05','O', '2019-12-05', '2999-12-31', 2, 8 ),
( 178, 'Sandra Stewart', '2002-01-03','O', '2020-12-24', '2999-12-31', 14, 3 ),
( 179, 'Amanda Newton', '1955-09-19','O', '2021-11-01', '2999-12-31', 17, 9 ),
( 180, 'Katherine Hawkins', '1995-12-16','F', '2022-07-29', '2999-12-31', 10, 5 ),
( 181, 'Rose Carson', '1976-08-12','F', '2022-04-25', '2999-12-31', 8, 9 ),
( 182, 'Rachel Mitchell', '1992-03-05','O', '2020-02-27', '2999-12-31', 9, 6 ),
( 183, 'Laura Thompson', '1965-01-06','M', '2021-01-08', '2999-12-31', 8, 9 ),
( 184, 'Dennis Hamilton', '1996-02-25','O', '2021-07-07', '2999-12-31', 7, 5 ),
( 185, 'Carolyn Goodman', '1977-07-11','F', '2021-05-31', '2999-12-31', 5, 8 ),
( 186, 'Dylan Wright', '1952-12-30','F', '2022-04-30', '2999-12-31', 5, 9 ),
( 187, 'Sarah Hodges', '1966-05-05','M', '2020-12-14', '2999-12-31', 9, 9 ),
( 188, 'Nancy Morgan', '1996-06-16','O', '2022-10-12', '2999-12-31', 1, 5 ),
( 189, 'Jill Howard', '1991-05-25','O', '2022-02-20', '2999-12-31', 4, 5 ),
( 190, 'Karen Sherman', '1972-12-07','M', '2021-05-07', '2999-12-31', 4, 8 ),
( 191, 'Christopher Burke', '1967-01-07','O', '2023-05-04', '2999-12-31', 1, 8 ),
( 192, 'Roy Weiss', '2002-06-21','F', '2022-03-24', '2999-12-31', 1, 2 ),
( 193, 'Amanda Armstrong', '1974-10-10','F', '2022-10-02', '2999-12-31', 13, 7 ),
( 194, 'Ashley Moore', '2002-01-28','M', '2022-11-25', '2999-12-31', 16, 1 ),
( 195, 'Victor Baker', '1999-12-08','F', '2021-06-11', '2999-12-31', 3, 3 ),
( 196, 'Ralph Nicholson', '2001-05-11','O', '2022-05-12', '2999-12-31', 12, 1 ),
( 197, 'Cindy Fuentes', '1952-06-17','M', '2019-11-02', '2999-12-31', 15, 7 ),
( 198, 'Cassandra Ramirez', '1986-03-25','O', '2020-05-07', '2999-12-31', 16, 6 ),
( 199, 'Patrick Wilkerson', '1995-02-01','F', '2022-08-09', '2999-12-31', 14, 5 ),
( 200, 'Martin Cervantes', '1988-01-01','M', '2020-11-28', '2999-12-31', 8, 5 ),
( 201, 'John Torres', '2000-05-19','F', '2023-05-15', '2999-12-31', 4, 2 ),
( 202, 'Lisa Morales', '1990-10-18','F', '2022-12-02', '2999-12-31', 8, 5 ),
( 203, 'Erica Hardy', '1962-03-25','F', '2020-09-13', '2999-12-31', 1, 7 ),
( 204, 'Melanie Jones', '1998-07-26','F', '2019-11-07', '2999-12-31', 16, 5 ),
( 205, 'Jennifer Brown', '1981-12-01','M', '2019-01-19', '2999-12-31', 3, 4 ),
( 206, 'Connor Wise', '1964-11-23','O', '2022-11-08', '2999-12-31', 14, 8 ),
( 207, 'Aaron Bowman', '1963-09-02','O', '2020-05-12', '2999-12-31', 14, 8 ),
( 208, 'Melissa Perry', '1985-10-29','M', '2020-06-20', '2999-12-31', 12, 6 ),
( 209, 'David Burns', '1995-04-19','O', '2022-12-01', '2999-12-31', 1, 6 ),
( 210, 'Christopher Hill', '1965-04-05','O', '2020-03-09', '2999-12-31', 1, 8 ),
( 211, 'Sean Horton', '1955-04-05','M', '2020-05-03', '2999-12-31', 8, 9 ),
( 212, 'Lori Brown', '1957-06-23','O', '2023-04-05', '2999-12-31', 4, 9 ),
( 213, 'Daniel Johnson', '1981-08-19','F', '2020-04-29', '2999-12-31', 3, 6 ),
( 214, 'Mark Garcia', '1984-09-28','O', '2022-08-14', '2999-12-31', 9, 6 ),
( 215, 'Robert Walker', '1999-05-26','O', '2021-01-03', '2999-12-31', 7, 2 ),
( 216, 'Douglas Roach', '2000-02-28','M', '2020-04-17', '2999-12-31', 11, 1 ),
( 217, 'Stephanie Hayden', '1971-09-23','F', '2022-06-12', '2999-12-31', 2, 7 ),
( 218, 'Heather Foster', '1997-04-22','M', '2021-08-06', '2999-12-31', 12, 6 ),
( 219, 'Michael Gomez', '1954-04-23','F', '2019-04-14', '2999-12-31', 4, 7 ),
( 220, 'Patrick Jones', '1953-02-14','M', '2021-02-22', '2999-12-31', 10, 9 ),
( 221, 'John Williams', '1957-05-06','M', '2020-06-15', '2999-12-31', 3, 8 ),
( 222, 'Bonnie Russell', '1964-03-27','O', '2020-03-06', '2999-12-31', 5, 8 ),
( 223, 'John Bennett', '1976-03-04','F', '2021-08-19', '2999-12-31', 15, 7 ),
( 224, 'Sean Bryant', '1990-09-16','O', '2022-10-11', '2999-12-31', 14, 5 ),
( 225, 'Karla Brown', '1958-12-07','M', '2020-05-03', '2999-12-31', 15, 9 ),
( 226, 'Lisa Stanley', '1978-07-20','O', '2021-01-09', '2999-12-31', 10, 9 ),
( 227, 'Elizabeth Fisher', '1983-09-21','F', '2019-09-29', '2999-12-31', 9, 5 ),
( 228, 'Sheila Smith', '1975-04-07','F', '2019-05-23', '2999-12-31', 9, 8 ),
( 229, 'Suzanne Oneill', '1968-09-21','F', '2021-11-09', '2999-12-31', 1, 7 ),
( 230, 'Mark Stephens', '1954-02-04','F', '2020-02-18', '2999-12-31', 14, 8 ),
( 231, 'Patricia Hanna', '1998-04-21','F', '2022-06-20', '2999-12-31', 17, 5 ),
( 232, 'William Davis', '1984-12-25','F', '2020-03-25', '2999-12-31', 4, 6 ),
( 233, 'Cassandra Brown', '2002-07-19','O', '2020-06-06', '2999-12-31', 6, 2 ),
( 234, 'Michael Bennett', '1985-12-13','O', '2022-02-26', '2999-12-31', 1, 4 ),
( 235, 'Shelly Brooks', '1964-01-31','M', '2020-02-03', '2999-12-31', 7, 8 ),
( 236, 'Justin Rojas', '1970-08-09','M', '2022-10-04', '2999-12-31', 14, 9 ),
( 237, 'Adam Barton', '1974-08-27','M', '2021-07-02', '2999-12-31', 7, 8 ),
( 238, 'Crystal Sanford', '1976-09-02','F', '2021-06-08', '2999-12-31', 6, 8 ),
( 239, 'Paul Ross', '1986-05-20','M', '2022-02-12', '2999-12-31', 17, 4 ),
( 240, 'James Henderson', '1988-11-29','O', '2020-06-14', '2999-12-31', 9, 5 ),
( 241, 'Ethan Baker', '1977-05-20','O', '2021-05-10', '2999-12-31', 7, 8 ),
( 242, 'Ashley Ramsey DVM', '1988-09-19','M', '2022-04-23', '2999-12-31', 12, 5 ),
( 243, 'Michael Young', '1959-10-10','F', '2021-11-17', '2999-12-31', 13, 9 ),
( 244, 'Michael Reynolds', '1982-01-09','O', '2020-01-26', '2999-12-31', 7, 5 ),
( 245, 'Nichole Cook', '1990-03-20','O', '2021-11-03', '2999-12-31', 7, 6 ),
( 246, 'Cheryl Duran', '1989-12-05','O', '2020-03-09', '2999-12-31', 15, 5 ),
( 247, 'Derrick Owens', '1989-02-17','F', '2023-05-30', '2999-12-31', 9, 5 ),
( 248, 'Leonard Contreras', '1964-08-20','F', '2021-10-07', '2999-12-31', 8, 8 ),
( 249, 'Crystal Underwood', '1966-01-29','O', '2021-12-02', '2999-12-31', 1, 7 ),
( 250, 'Jamie Rodriguez', '1984-04-17','O', '2022-02-16', '2999-12-31', 9, 4 ),
( 251, 'Amy Barrera', '1957-07-17','M', '2021-01-07', '2999-12-31', 2, 9 ),
( 252, 'Justin Freeman', '1969-08-08','O', '2020-09-03', '2999-12-31', 9, 7 ),
( 253, 'Marie Marshall', '1993-08-20','M', '2021-11-10', '2999-12-31', 10, 5 ),

In [51]:
with open(INSERT_USERS_FILE, 'w') as f:
    f.write(insert_sql)

In [52]:
#### Set user subscriptions
HEADER="""DELETE FROM public."UserSubscription"; INSERT INTO public."UserSubscription"(
    "UserId", "SubscriptionId", "ValidFrom", "ValidTo") VALUES
"""
ROW="( {user_id}, {subscription_id}, '{from_date}', '{to_date}' )"
SUBSCRIPTIONS_RANGE=(1,3) # 3 subscriptions
CHANGE_SUB_ONE_TIME=0.5
CHANGE_SUB_TWO_TIMES=0.3

In [53]:
# Set initial subs for every user, sharing same start date
insert_subscriptions = []
for user in insert_users:
    insert_subscriptions.append(
        dict(
            user_id=user['user_id'],
            subscription_id=random.randint(*SUBSCRIPTIONS_RANGE),
            from_date=user['from_date'],
            to_date=user['from_date'] + datetime.timedelta(days=round((datetime.date.today() - user['from_date']).days * random.random()))
        )
    )
    print(ROW.format(**insert_subscriptions[-1]))

( 1, 2, '2022-05-24', '2023-05-09' )
( 2, 3, '2021-07-19', '2023-05-11' )
( 3, 3, '2022-01-31', '2023-06-25' )
( 4, 3, '2019-03-25', '2019-07-22' )
( 5, 1, '2022-08-07', '2023-11-16' )
( 6, 3, '2019-01-10', '2023-04-15' )
( 7, 1, '2021-08-06', '2023-08-18' )
( 8, 1, '2019-01-31', '2022-07-15' )
( 9, 2, '2021-05-08', '2022-11-02' )
( 10, 2, '2022-10-31', '2023-09-18' )
( 11, 3, '2021-12-10', '2023-02-13' )
( 12, 1, '2021-08-30', '2021-11-17' )
( 13, 1, '2021-01-04', '2021-08-03' )
( 14, 1, '2022-04-27', '2023-04-29' )
( 15, 2, '2021-09-19', '2021-09-20' )
( 16, 3, '2022-06-20', '2022-06-23' )
( 17, 2, '2022-09-15', '2023-02-05' )
( 18, 1, '2020-07-27', '2021-06-01' )
( 19, 1, '2022-10-06', '2023-05-29' )
( 20, 1, '2019-08-28', '2020-05-07' )
( 21, 3, '2019-07-11', '2021-10-14' )
( 22, 2, '2019-04-03', '2023-08-02' )
( 23, 2, '2022-08-14', '2022-09-09' )
( 24, 3, '2020-03-18', '2021-12-02' )
( 25, 3, '2023-01-06', '2023-11-28' )
( 26, 2, '2021-02-05', '2022-08-15' )
( 27, 2, '2020-11-07', '2020-11-18' )
( 28, 3, '2019-08-11', '2021-05-07' )
( 29, 1, '2022-09-25', '2023-03-11' )
( 30, 3, '2019-12-04', '2022-02-14' )
( 31, 2, '2019-02-11', '2022-07-18' )
( 32, 2, '2022-01-10', '2022-01-19' )
( 33, 1, '2019-01-11', '2020-12-13' )
( 34, 3, '2022-01-20', '2023-09-06' )
( 35, 3, '2020-12-15', '2023-09-18' )
( 36, 3, '2020-08-09', '2022-07-11' )
( 37, 3, '2019-04-23', '2020-11-27' )
( 38, 1, '2019-06-09', '2023-06-08' )
( 39, 1, '2021-12-31', '2022-11-12' )
( 40, 3, '2020-07-05', '2023-06-11' )
( 41, 2, '2022-06-05', '2022-12-23' )
( 42, 2, '2020-01-29', '2021-10-23' )
( 43, 3, '2020-02-03', '2020-06-10' )
( 44, 3, '2019-03-01', '2023-04-19' )
( 45, 3, '2021-02-23', '2022-10-27' )
( 46, 1, '2022-10-01', '2023-08-16' )
( 47, 1, '2020-07-23', '2021-08-16' )
( 48, 1, '2019-09-25', '2020-10-09' )
( 49, 3, '2023-02-01', '2023-03-26' )
( 50, 3, '2021-08-19', '2022-08-15' )
( 51, 3, '2022-10-13', '2023-08-20' )
( 52, 3, '2021-05-29', '2021-11-27' )
( 53, 2, '2019-05-31', '2021-03-16' )
( 54, 3, '2021-10-14', '2023-11-07' )
( 55, 2, '2023-02-05', '2023-02-23' )
( 56, 1, '2019-07-13', '2020-11-13' )
( 57, 3, '2023-04-28', '2023-11-03' )
( 58, 2, '2019-10-04', '2022-05-24' )
( 59, 2, '2021-05-26', '2021-07-06' )
( 60, 1, '2020-10-04', '2022-08-31' )
( 61, 2, '2022-08-12', '2022-09-10' )
( 62, 3, '2021-12-31', '2022-11-18' )
( 63, 1, '2021-11-21', '2022-01-20' )
( 64, 1, '2020-04-07', '2020-10-29' )
( 65, 3, '2020-06-30', '2021-12-21' )
( 66, 1, '2020-06-29', '2023-07-04' )
( 67, 1, '2021-05-28', '2021-11-06' )
( 68, 1, '2023-06-07', '2023-12-12' )
( 69, 1, '2018-12-29', '2020-02-15' )
( 70, 1, '2021-11-03', '2022-01-14' )
( 71, 2, '2020-02-10', '2021-11-22' )
( 72, 1, '2019-07-07', '2023-04-08' )
( 73, 1, '2022-01-12', '2022-03-09' )
( 74, 1, '2019-03-09', '2022-01-19' )
( 75, 3, '2019-05-21', '2022-06-06' )
( 76, 1, '2022-02-28', '2022-09-16' )
( 77, 2, '2019-05-08', '2022-09-13' )
( 78, 2, '2021-12-07', '2023-09-17' )
( 79, 2, '2022-10-17', '2023-06-27' )
( 80, 2, '2019-08-28', '2022-04-30' )
( 81, 1, '2022-03-02', '2023-10-13' )
( 82, 3, '2023-05-13', '2023-09-14' )
( 83, 3, '2021-12-11', '2023-06-09' )
( 84, 1, '2021-04-06', '2022-11-02' )
( 85, 2, '2019-01-12', '2020-12-22' )
( 86, 1, '2022-03-21', '2022-04-12' )
( 87, 3, '2023-04-13', '2023-07-08' )
( 88, 1, '2019-07-28', '2020-02-10' )
( 89, 1, '2022-08-08', '2023-01-15' )
( 90, 3, '2019-06-13', '2019-06-24' )
( 91, 2, '2021-03-18', '2023-07-25' )
( 92, 1, '2020-11-18', '2022-07-10' )
( 93, 2, '2019-06-24', '2021-01-02' )
( 94, 1, '2020-12-27', '2023-05-02' )
( 95, 1, '2023-02-15', '2023-06-23' )
( 96, 3, '2022-05-02', '2023-05-06' )
( 97, 3, '2019-04-12', '2022-12-09' )
( 98, 2, '2022-06-15', '2023-06-18' )
( 99, 3, '2022-07-16', '2023-02-20' )
( 100, 1, '2019-09-30', '2019-10-08' )
( 101, 1, '2020-04-29', '2022-09-10' )
( 102, 2, '2019-02-25', '2019-05-16' )
( 103, 2, '2021-06-21', '2021-07-31' )
( 104, 3, '2020-11-29', '2022-12-18' )
( 105, 3, '2019-07-26', '2021-10-16' )
( 106, 2, '2020-12-10', '2022-03-19' )
( 107, 1, '2019-12-26', '2023-07-07' )
( 108, 1, '2021-12-08', '2023-02-17' )
( 109, 2, '2022-12-10', '2023-03-30' )
( 110, 1, '2019-12-06', '2022-05-25' )
( 111, 3, '2021-05-21', '2022-07-30' )
( 112, 2, '2020-12-01', '2021-11-11' )
( 113, 3, '2022-01-14', '2022-02-26' )
( 114, 1, '2019-01-10', '2022-03-03' )
( 115, 2, '2019-01-23', '2022-12-09' )
( 116, 3, '2022-08-06', '2023-07-26' )
( 117, 1, '2019-10-15', '2023-03-06' )
( 118, 2, '2022-08-12', '2023-12-10' )
( 119, 2, '2021-12-05', '2023-12-13' )
( 120, 1, '2020-07-03', '2023-07-16' )
( 121, 3, '2019-10-01', '2022-06-21' )
( 122, 1, '2021-06-11', '2023-09-10' )
( 123, 1, '2022-11-01', '2023-02-16' )
( 124, 2, '2021-12-05', '2023-03-24' )
( 125, 1, '2019-12-11', '2022-02-21' )
( 126, 3, '2021-06-11', '2023-09-01' )
( 127, 2, '2019-06-03', '2021-12-13' )
( 128, 1, '2023-01-28', '2023-10-19' )
( 129, 2, '2020-06-26', '2021-06-29' )
( 130, 1, '2022-03-12', '2023-11-20' )
( 131, 1, '2022-07-22', '2023-12-12' )
( 132, 2, '2020-10-14', '2020-12-23' )
( 133, 2, '2019-12-12', '2020-04-06' )
( 134, 1, '2020-02-13', '2023-11-06' )
( 135, 1, '2022-11-20', '2023-10-30' )
( 136, 1, '2022-09-12', '2023-01-31' )
( 137, 3, '2022-08-30', '2023-02-13' )
( 138, 1, '2020-10-04', '2023-08-15' )
( 139, 2, '2023-03-29', '2023-04-26' )
( 140, 1, '2023-02-26', '2023-04-16' )
( 141, 1, '2021-01-30', '2022-07-12' )
( 142, 2, '2021-03-29', '2021-08-18' )
( 143, 1, '2021-12-14', '2022-12-05' )
( 144, 2, '2018-12-26', '2023-11-14' )
( 145, 2, '2019-05-15', '2019-06-09' )
( 146, 3, '2021-10-09', '2023-04-16' )
( 147, 2, '2021-12-17', '2022-01-01' )
( 148, 3, '2020-03-21', '2023-02-03' )
( 149, 2, '2022-06-03', '2022-07-13' )
( 150, 1, '2021-04-10', '2022-05-17' )
( 151, 3, '2021-12-23', '2023-08-17' )
( 152, 1, '2022-10-11', '2023-04-12' )
( 153, 1, '2019-07-09', '2020-05-12' )
( 154, 1, '2020-09-04', '2023-07-25' )
( 155, 3, '2022-02-14', '2022-06-21' )
( 156, 2, '2023-05-13', '2023-07-12' )
( 157, 1, '2023-05-22', '2023-08-13' )
( 158, 3, '2023-01-28', '2023-09-01' )
( 159, 2, '2019-08-09', '2023-06-28' )
( 160, 1, '2021-02-09', '2021-06-02' )
( 161, 1, '2021-06-21', '2022-01-21' )
( 162, 3, '2023-05-30', '2023-11-09' )
( 163, 1, '2022-04-25', '2022-09-21' )
( 164, 2, '2021-06-20', '2022-08-24' )
( 165, 2, '2022-07-08', '2023-05-15' )
( 166, 2, '2019-02-07', '2021-05-18' )
( 167, 1, '2019-09-30', '2023-08-25' )
( 168, 1, '2022-03-16', '2022-05-08' )
( 169, 1, '2021-07-06', '2021-10-19' )
( 170, 3, '2019-05-14', '2019-05-18' )
( 171, 3, '2022-12-24', '2023-07-17' )
( 172, 3, '2023-01-24', '2023-06-11' )
( 173, 3, '2022-02-21', '2022-02-25' )
( 174, 2, '2019-07-21', '2022-08-25' )
( 175, 1, '2021-12-04', '2023-10-30' )
( 176, 2, '2019-11-03', '2021-01-26' )
( 177, 2, '2019-12-05', '2021-03-04' )
( 178, 2, '2020-12-24', '2022-06-29' )
( 179, 2, '2021-11-01', '2022-09-28' )
( 180, 3, '2022-07-29', '2022-09-28' )
( 181, 1, '2022-04-25', '2022-10-16' )
( 182, 1, '2020-02-27', '2020-04-15' )
( 183, 3, '2021-01-08', '2023-07-17' )
( 184, 3, '2021-07-07', '2022-08-25' )
( 185, 1, '2021-05-31', '2022-07-30' )
( 186, 3, '2022-04-30', '2022-09-28' )
( 187, 2, '2020-12-14', '2023-08-23' )
( 188, 1, '2022-10-12', '2023-04-18' )
( 189, 3, '2022-02-20', '2023-01-31' )
( 190, 3, '2021-05-07', '2023-04-26' )
( 191, 3, '2023-05-04', '2023-06-06' )
( 192, 2, '2022-03-24', '2022-04-12' )
( 193, 2, '2022-10-02', '2023-09-26' )
( 194, 3, '2022-11-25', '2023-04-10' )
( 195, 1, '2021-06-11', '2022-08-25' )
( 196, 2, '2022-05-12', '2022-05-21' )
( 197, 1, '2019-11-02', '2023-08-03' )
( 198, 1, '2020-05-07', '2022-08-30' )
( 199, 1, '2022-08-09', '2023-01-06' )
( 200, 2, '2020-11-28', '2022-07-21' )
( 201, 1, '2023-05-15', '2023-09-25' )
( 202, 1, '2022-12-02', '2023-02-14' )
( 203, 3, '2020-09-13', '2022-01-08' )
( 204, 2, '2019-11-07', '2023-03-13' )
( 205, 3, '2019-01-19', '2020-07-22' )
( 206, 3, '2022-11-08', '2023-01-06' )
( 207, 3, '2020-05-12', '2021-09-06' )
( 208, 3, '2020-06-20', '2020-06-24' )
( 209, 3, '2022-12-01', '2023-08-22' )
( 210, 1, '2020-03-09', '2023-01-09' )
( 211, 3, '2020-05-03', '2022-03-06' )
( 212, 2, '2023-04-05', '2023-04-16' )
( 213, 3, '2020-04-29', '2022-08-24' )
( 214, 1, '2022-08-14', '2023-03-28' )
( 215, 2, '2021-01-03', '2021-05-03' )
( 216, 1, '2020-04-17', '2021-01-03' )
( 217, 1, '2022-06-12', '2023-08-04' )
( 218, 3, '2021-08-06', '2022-10-07' )
( 219, 2, '2019-04-14', '2020-01-25' )
( 220, 3, '2021-02-22', '2021-09-26' )
( 221, 1, '2020-06-15', '2021-06-14' )
( 222, 1, '2020-03-06', '2023-06-29' )
( 223, 2, '2021-08-19', '2023-11-08' )
( 224, 2, '2022-10-11', '2023-09-08' )
( 225, 2, '2020-05-03', '2020-09-24' )
( 226, 2, '2021-01-09', '2021-07-17' )
( 227, 2, '2019-09-29', '2021-06-03' )
( 228, 3, '2019-05-23', '2022-05-30' )
( 229, 2, '2021-11-09', '2022-09-28' )
( 230, 3, '2020-02-18', '2022-02-14' )
( 231, 3, '2022-06-20', '2022-07-11' )
( 232, 2, '2020-03-25', '2021-12-08' )
( 233, 1, '2020-06-06', '2020-10-10' )
( 234, 1, '2022-02-26', '2023-08-04' )
( 235, 1, '2020-02-03', '2022-03-06' )
( 236, 1, '2022-10-04', '2023-05-23' )
( 237, 3, '2021-07-02', '2022-06-28' )
( 238, 3, '2021-06-08', '2023-07-03' )
( 239, 2, '2022-02-12', '2023-01-27' )
( 240, 1, '2020-06-14', '2022-09-09' )
( 241, 3, '2021-05-10', '2021-12-14' )
( 242, 1, '2022-04-23', '2023-05-04' )
( 243, 2, '2021-11-17', '2022-10-22' )
( 244, 1, '2020-01-26', '2022-08-05' )
( 245, 1, '2021-11-03', '2023-05-24' )
( 246, 3, '2020-03-09', '2023-12-13' )
( 247, 2, '2023-05-30', '2023-08-03' )
( 248, 2, '2021-10-07', '2023-09-01' )
( 249, 3, '2021-12-02', '2023-06-24' )
( 250, 3, '2022-02-16', '2023-06-24' )
( 251, 1, '2021-01-07', '2023-03-24' )
( 252, 1, '2020-09-03', '2023-06-12' )
( 253, 2, '2021-11-10', '2022-07-06' )
( 254, 2, '2020-01-19', '2022-01-25' )
( 255, 2, '2021-11-30', '2022-12-31' )
( 256, 2, '2021-08-22', '2023-01-05' )
( 257, 1, '2019-11-10', '2021-06-22' )
( 258, 3, '2021-08-28', '2021-12-27' )
( 259, 3, '2019-11-30', '2023-03-12' )
( 260, 2, '2019-05-10', '2021-10-17' )
( 261, 3, '2022-09-05', '2023-04-07' )
( 262, 2, '2022-02-21', '2023-02-09' )
( 263, 3, '2021-04-02', '2022-02-06' )
( 264, 1, '2021-04-08', '2022-09-26' )
( 265, 2, '2022-01-27', '2022-12-13' )
( 266, 2, '2021-11-03', '2023-07-25' )
( 267, 1, '2022-07-10', '2022-12-31' )
( 268, 2, '2021-08-21', '2022-06-17' )
( 269, 1, '2022-04-29', '2023-03-21' )
( 270, 2, '2022-09-01', '2023-11-21' )
( 271, 2, '2023-05-10', '2023-09-27' )
( 272, 1, '2021-03-02', '2022-08-17' )
( 273, 1, '2019-02-20', '2020-05-16' )
( 274, 2, '2022-07-20', '2023-06-17' )
( 275, 3, '2020-07-29', '2023-03-04' )
( 276, 2, '2019-12-14', '2022-04-09' )
( 277, 1, '2021-08-24', '2023-04-18' )
( 278, 1, '2022-09-02', '2022-09-26' )
( 279, 3, '2021-01-07', '2023-05-29' )
( 280, 1, '2022-10-22', '2023-09-11' )
( 281, 1, '2021-08-16', '2022-11-13' )
( 282, 3, '2020-12-25', '2022-02-21' )
( 283, 1, '2020-12-19', '2021-12-24' )
( 284, 2, '2019-10-13', '2022-03-20' )
( 285, 1, '2022-08-15', '2023-12-12' )
( 286, 3, '2021-10-19', '2023-10-05' )
( 287, 1, '2023-05-21', '2023-07-01' )
( 288, 2, '2021-05-30', '2023-12-01' )
( 289, 1, '2018-12-22', '2019-07-13' )
( 290, 2, '2020-09-20', '2023-02-16' )
( 291, 1, '2022-01-04', '2023-11-27' )
( 292, 1, '2020-05-02', '2021-07-21' )
( 293, 1, '2020-07-16', '2020-10-22' )
( 294, 2, '2019-04-30', '2023-04-17' )
( 295, 1, '2019-04-22', '2022-06-17' )
( 296, 1, '2020-03-24', '2023-12-09' )
( 297, 2, '2021-02-03', '2022-11-18' )
( 298, 2, '2021-02-17', '2023-03-14' )
( 299, 1, '2020-03-02', '2023-03-13' )
( 300, 1, '2019-10-20', '2022-08-25' )
( 301, 1, '2023-04-24', '2023-06-10' )
( 302, 1, '2022-10-12', '2022-11-06' )
( 303, 3, '2023-02-07', '2023-04-21' )
( 304, 3, '2018-12-19', '2019-09-11' )
( 305, 3, '2021-10-11', '2023-12-02' )
( 306, 1, '2021-06-29', '2022-08-20' )
( 307, 1, '2020-12-13', '2021-06-26' )
( 308, 2, '2021-10-28', '2023-02-16' )
( 309, 1, '2021-02-06', '2022-10-22' )
( 310, 2, '2020-11-23', '2023-05-22' )
( 311, 3, '2020-08-07', '2021-07-23' )
( 312, 1, '2023-01-22', '2023-07-27' )
( 313, 1, '2022-11-12', '2022-12-08' )
( 314, 2, '2022-01-13', '2022-09-14' )
( 315, 2, '2023-05-01', '2023-11-10' )
( 316, 2, '2019-01-26', '2022-12-07' )
( 317, 3, '2022-04-09', '2023-10-16' )
( 318, 2, '2019-11-12', '2022-12-19' )
( 319, 2, '2023-02-25', '2023-08-24' )
( 320, 2, '2022-06-09', '2022-09-22' )
( 321, 2, '2022-11-14', '2022-12-04' )
( 322, 1, '2020-02-09', '2023-04-18' )
( 323, 3, '2019-05-10', '2021-01-27' )
( 324, 3, '2020-01-08', '2020-11-18' )
( 325, 2, '2020-12-30', '2022-04-01' )
( 326, 1, '2020-12-09', '2023-10-06' )
( 327, 2, '2021-02-13', '2022-04-22' )
( 328, 3, '2019-08-02', '2020-07-09' )
( 329, 3, '2021-01-18', '2021-07-19' )
( 330, 3, '2022-06-14', '2023-03-11' )
( 331, 3, '2019-11-01', '2023-06-27' )
( 332, 1, '2020-07-02', '2022-02-06' )
( 333, 3, '2022-11-09', '2023-11-03' )
( 334, 2, '2019-05-14', '2022-02-18' )
( 335, 1, '2022-02-21', '2022-10-17' )
( 336, 3, '2019-11-04', '2020-01-06' )
( 337, 3, '2021-07-11', '2021-12-08' )
( 338, 1, '2021-01-01', '2022-10-25' )
( 339, 3, '2023-05-13', '2023-08-27' )
( 340, 3, '2022-03-11', '2023-04-28' )
( 341, 3, '2022-03-27', '2023-10-19' )
( 342, 2, '2022-11-14', '2023-09-24' )
( 343, 2, '2019-10-18', '2022-05-01' )
( 344, 2, '2022-08-17', '2022-12-15' )
( 345, 3, '2022-05-04', '2022-10-24' )
( 346, 1, '2022-09-12', '2023-05-27' )
( 347, 2, '2019-08-11', '2023-10-22' )
( 348, 3, '2019-02-20', '2021-01-08' )
( 349, 2, '2021-06-17', '2023-01-19' )
( 350, 1, '2019-03-31', '2019-08-05' )
( 351, 3, '2019-12-21', '2022-01-03' )
( 352, 2, '2019-08-07', '2020-10-31' )
( 353, 3, '2021-01-09', '2021-06-15' )
( 354, 2, '2021-06-15', '2023-06-25' )
( 355, 3, '2021-11-30', '2023-09-01' )
( 356, 3, '2021-10-09', '2023-03-07' )
( 357, 3, '2023-06-09', '2023-10-25' )
( 358, 1, '2020-07-18', '2022-06-09' )
( 359, 3, '2019-07-05', '2020-09-24' )
( 360, 1, '2023-02-11', '2023-10-23' )
( 361, 1, '2022-02-26', '2023-07-17' )
( 362, 2, '2020-03-22', '2023-03-20' )
( 363, 3, '2020-04-07', '2022-10-02' )
( 364, 2, '2019-09-21', '2020-05-01' )
( 365, 3, '2019-07-04', '2023-04-11' )
( 366, 1, '2021-02-08', '2023-07-09' )
( 367, 3, '2021-03-16', '2021-10-02' )
( 368, 2, '2020-04-26', '2022-09-13' )
( 369, 3, '2020-03-20', '2020-08-02' )
( 370, 2, '2022-11-28', '2023-07-24' )
( 371, 3, '2022-08-11', '2023-08-19' )
( 372, 2, '2022-10-02', '2023-02-08' )
( 373, 3, '2019-11-08', '2020-08-26' )
( 374, 1, '2022-06-19', '2022-08-05' )
( 375, 3, '2021-06-10', '2023-03-27' )
( 376, 2, '2020-06-18', '2021-09-03' )
( 377, 3, '2021-07-26', '2023-02-25' )
( 378, 2, '2019-03-14', '2021-05-07' )
( 379, 3, '2020-08-16', '2020-09-14' )
( 380, 3, '2019-01-27', '2021-06-30' )
( 381, 3, '2022-12-29', '2023-04-02' )
( 382, 1, '2021-08-22', '2022-09-27' )
( 383, 1, '2020-08-06', '2021-02-19' )
( 384, 1, '2019-11-26', '2022-06-29' )
( 385, 2, '2021-04-17', '2022-03-17' )
( 386, 1, '2019-12-13', '2020-01-16' )
( 387, 2, '2022-07-05', '2023-07-22' )
( 388, 2, '2020-01-03', '2021-01-04' )
( 389, 3, '2022-08-31', '2022-09-05' )
( 390, 1, '2020-12-28', '2022-10-15' )
( 391, 2, '2021-10-13', '2022-10-29' )
( 392, 3, '2020-07-05', '2021-01-23' )
( 393, 2, '2020-09-03', '2023-07-31' )
( 394, 2, '2022-01-02', '2022-08-11' )
( 395, 2, '2023-06-08', '2023-12-06' )
( 396, 1, '2021-04-27', '2022-11-13' )
( 397, 3, '2019-07-10', '2022-06-10' )
( 398, 3, '2020-11-15', '2023-09-20' )
( 399, 1, '2021-05-04', '2022-05-23' )
( 400, 1, '2019-03-28', '2021-02-18' )
( 401, 3, '2021-03-20', '2023-12-09' )
( 402, 1, '2019-01-17', '2021-03-14' )
( 403, 1, '2019-03-06', '2021-12-15' )
( 404, 2, '2021-03-25', '2021-06-22' )
( 405, 1, '2021-04-28', '2022-10-09' )
( 406, 3, '2022-01-21', '2023-01-24' )
( 407, 2, '2023-04-01', '2023-11-24' )
( 408, 1, '2021-09-15', '2022-09-14' )
( 409, 2, '2020-11-28', '2022-08-31' )
( 410, 2, '2020-11-16', '2020-12-11' )
( 411, 3, '2021-01-05', '2022-11-29' )
( 412, 2, '2019-09-25', '2020-07-03' )
( 413, 3, '2021-07-05', '2021-10-13' )
( 414, 3, '2019-10-31', '2022-04-16' )
( 415, 3, '2019-07-10', '2022-12-27' )
( 416, 2, '2023-04-01', '2023-11-13' )
( 417, 3, '2020-12-22', '2021-08-21' )
( 418, 3, '2019-04-26', '2019-06-15' )
( 419, 3, '2022-12-22', '2023-11-06' )
( 420, 1, '2019-06-19', '2023-10-01' )
( 421, 1, '2019-05-23', '2023-09-26' )
( 422, 3, '2022-08-28', '2022-12-16' )
( 423, 2, '2021-11-13', '2021-12-11' )
( 424, 3, '2018-12-23', '2019-01-25' )
( 425, 3, '2022-09-16', '2023-07-16' )
( 426, 2, '2021-08-15', '2022-09-19' )
( 427, 1, '2023-04-30', '2023-06-13' )
( 428, 2, '2022-04-22', '2022-07-06' )
( 429, 1, '2020-11-07', '2021-07-13' )
( 430, 2, '2021-10-07', '2022-12-21' )
( 431, 1, '2023-04-15', '2023-11-08' )
( 432, 1, '2023-01-07', '2023-04-12' )
( 433, 1, '2020-02-03', '2021-05-10' )
( 434, 2, '2023-05-12', '2023-07-09' )
( 435, 1, '2020-09-16', '2020-11-28' )
( 436, 2, '2023-04-28', '2023-07-29' )
( 437, 2, '2023-05-18', '2023-07-11' )
( 438, 1, '2021-03-29', '2023-05-15' )
( 439, 1, '2021-04-30', '2021-11-10' )
( 440, 2, '2021-10-30', '2022-09-13' )
( 441, 2, '2020-09-05', '2021-10-11' )
( 442, 1, '2023-01-09', '2023-04-05' )
( 443, 3, '2021-02-11', '2023-11-13' )
( 444, 3, '2021-09-16', '2023-06-05' )
( 445, 3, '2019-05-03', '2020-09-17' )
( 446, 3, '2022-03-05', '2023-04-06' )
( 447, 3, '2022-05-07', '2022-12-15' )
( 448, 1, '2021-05-19', '2022-12-08' )
( 449, 1, '2021-06-14', '2023-10-13' )
( 450, 3, '2019-11-10', '2023-09-06' )
( 451, 3, '2022-03-11', '2022-07-05' )
( 452, 2, '2021-12-10', '2022-04-09' )
( 453, 1, '2020-08-23', '2020-10-07' )
( 454, 1, '2020-07-18', '2021-09-02' )
( 455, 3, '2020-09-27', '2023-10-11' )
( 456, 1, '2019-04-08', '2022-04-07' )
( 457, 2, '2022-02-05', '2022-02-15' )
( 458, 2, '2022-08-26', '2023-02-04' )
( 459, 2, '2021-04-23', '2021-07-04' )
( 460, 3, '2020-01-03', '2020-03-28' )
( 461, 2, '2023-03-25', '2023-11-27' )
( 462, 1, '2019-10-04', '2022-08-22' )
( 463, 2, '2020-12-21', '2023-06-23' )
( 464, 2, '2019-02-19', '2019-03-14' )
( 465, 3, '2022-03-28', '2023-04-12' )
( 466, 1, '2019-09-06', '2022-12-17' )
( 467, 1, '2022-11-21', '2023-03-01' )
( 468, 1, '2019-02-21', '2020-05-13' )
( 469, 3, '2020-04-22', '2021-03-19' )
( 470, 3, '2022-10-16', '2023-04-28' )
( 471, 2, '2019-11-01', '2022-08-12' )
( 472, 3, '2021-07-04', '2022-01-05' )
( 473, 1, '2019-11-28', '2022-03-09' )
( 474, 2, '2022-12-24', '2023-05-10' )
( 475, 3, '2022-04-22', '2022-08-23' )
( 476, 3, '2019-05-28', '2019-08-29' )
( 477, 2, '2021-08-19', '2022-04-20' )
( 478, 3, '2019-04-20', '2022-05-02' )
( 479, 2, '2019-08-15', '2023-05-24' )
( 480, 1, '2019-03-12', '2022-03-04' )
( 481, 2, '2020-07-20', '2020-10-29' )
( 482, 2, '2022-12-12', '2023-01-04' )
( 483, 2, '2019-10-08', '2020-08-01' )
( 484, 1, '2022-11-03', '2023-02-11' )
( 485, 2, '2019-05-25', '2021-03-19' )
( 486, 1, '2019-08-13', '2021-07-19' )
( 487, 2, '2022-01-18', '2022-09-17' )
( 488, 2, '2019-04-28', '2020-06-06' )
( 489, 1, '2019-08-09', '2022-01-25' )
( 490, 1, '2023-04-11', '2023-07-24' )
( 491, 1, '2022-09-08', '2023-10-29' )
( 492, 1, '2022-05-22', '2023-08-25' )
( 493, 3, '2019-04-22', '2022-05-25' )
( 494, 3, '2023-04-28', '2023-06-26' )
( 495, 3, '2019-07-11', '2019-07-18' )
( 496, 1, '2021-11-02', '2022-02-19' )
( 497, 2, '2020-06-04', '2023-10-17' )
( 498, 1, '2022-12-01', '2023-08-24' )
( 499, 2, '2023-01-26', '2023-04-26' )
( 500, 1, '2019-12-17', '2020-06-04' )
( 501, 1, '2020-04-29', '2022-01-07' )
( 502, 1, '2022-04-20', '2023-03-19' )
( 503, 1, '2020-09-22', '2021-02-20' )
( 504, 2, '2020-07-06', '2023-08-31' )
( 505, 1, '2019-06-24', '2020-12-24' )
( 506, 3, '2020-11-10', '2021-05-28' )
( 507, 2, '2022-08-25', '2022-12-31' )
( 508, 3, '2021-10-10', '2023-02-17' )
( 509, 2, '2020-04-15', '2023-11-03' )
( 510, 2, '2023-04-23', '2023-11-10' )
( 511, 2, '2021-08-03', '2022-08-02' )
( 512, 3, '2022-06-28', '2023-03-23' )
( 513, 2, '2019-01-20', '2019-12-05' )
( 514, 2, '2019-10-06', '2019-12-23' )
( 515, 2, '2022-01-01', '2022-02-21' )

In [54]:
lost_customers_index = random.sample(
    range(0,len(insert_subscriptions)), 
    int((CHANGE_SUB_ONE_TIME+CHANGE_SUB_TWO_TIMES)*len(insert_subscriptions))
)
len(lost_customers_index)

800

In [55]:
# Change subscription once
from collections import defaultdict


cut_index = int(CHANGE_SUB_ONE_TIME*len(insert_users))
for i in lost_customers_index:
    new_sub = insert_subscriptions[i]['subscription_id']
    while insert_subscriptions[i]['subscription_id'] == (new_sub := random.randint(*SUBSCRIPTIONS_RANGE)): ... 
    insert_subscriptions.append(
        dict(
            user_id=insert_subscriptions[i]['user_id'],
            subscription_id=new_sub ,
            from_date=insert_subscriptions[i]['to_date'] + datetime.timedelta(days=1),
            to_date=FUTURE
        )
    )
# Change subscription twice    
for i in lost_customers_index[cut_index:]:
    # Find a new subscription change date
    days_first_sub = int((today - insert_subscriptions[i]['to_date']).days * random.random())
    # Change to date from previous subscription
    insert_subscriptions[i]['to_date'] = insert_subscriptions[i]['from_date'] + datetime.timedelta(days=days_first_sub)
    # Add new subscription
    while insert_subscriptions[i]['subscription_id'] == (new_sub := random.randint(*SUBSCRIPTIONS_RANGE)): ... 
    insert_subscriptions.append(
        dict(
            user_id=insert_subscriptions[i]['user_id'],
            subscription_id=new_sub ,
            from_date=insert_subscriptions[i]['to_date'] + datetime.timedelta(days=1),
            to_date=FUTURE
        )
    )

In [56]:
# Check users with miltiple rows
repeated_user_id_count = defaultdict(int)
for item in insert_subscriptions:
    print(repeated_user_id_count[item['user_id']])
    repeated_user_id_count[item['user_id']] += 1
count = [0,0,0]
for v in repeated_user_id_count.values():
    count[v-1] += 1
print(f'Users with 1 subscription: {count[0]}')
print(f'Users with 2 subscriptions: {count[1]}')
print(f'Users with 3 subscriptions: {count[2]}')

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
Users with 1 subscription: 200
Users with 2 subscriptions: 500
Users with 3 subscriptions: 300

In [57]:
len(insert_subscriptions)

2100

In [58]:
## Create user subscriptions insert statement
insert_sql = f'{HEADER}'
insert_sql += ',\n'.join([ROW.format(**sub) for sub in insert_subscriptions])
insert_sql += ';'   

print(insert_sql)

DELETE FROM public."UserSubscription"; INSERT INTO public."UserSubscription"(
    "UserId", "SubscriptionId", "ValidFrom", "ValidTo") VALUES
( 1, 2, '2022-05-24', '2023-05-09' ),
( 2, 3, '2021-07-19', '2021-07-28' ),
( 3, 3, '2022-01-31', '2022-03-04' ),
( 4, 3, '2019-03-25', '2019-07-22' ),
( 5, 1, '2022-08-07', '2023-11-16' ),
( 6, 3, '2019-01-10', '2023-04-15' ),
( 7, 1, '2021-08-06', '2023-08-18' ),
( 8, 1, '2019-01-31', '2020-06-27' ),
( 9, 2, '2021-05-08', '2021-12-16' ),
( 10, 2, '2022-10-31', '2022-11-12' ),
( 11, 3, '2021-12-10', '2023-02-13' ),
( 12, 1, '2021-08-30', '2021-11-17' ),
( 13, 1, '2021-01-04', '2021-08-03' ),
( 14, 1, '2022-04-27', '2023-04-29' ),
( 15, 2, '2021-09-19', '2022-08-28' ),
( 16, 3, '2022-06-20', '2022-11-30' ),
( 17, 2, '2022-09-15', '2023-02-05' ),
( 18, 1, '2020-07-27', '2021-06-01' ),
( 19, 1, '2022-10-06', '2023-05-29' ),
( 20, 1, '2019-08-28', '2019-12-25' ),
( 21, 3, '2019-07-11', '2021-10-14' ),
( 22, 2, '2019-04-03', '2023-08-02' ),
( 23, 2, '2022-08-14', '2022-09-09' ),
( 24, 3, '2020-03-18', '2020-07-02' ),
( 25, 3, '2023-01-06', '2023-01-07' ),
( 26, 2, '2021-02-05', '2022-02-03' ),
( 27, 2, '2020-11-07', '2020-11-18' ),
( 28, 3, '2019-08-11', '2021-05-07' ),
( 29, 1, '2022-09-25', '2023-03-11' ),
( 30, 3, '2019-12-04', '2021-01-07' ),
( 31, 2, '2019-02-11', '2020-04-19' ),
( 32, 2, '2022-01-10', '2022-01-19' ),
( 33, 1, '2019-01-11', '2020-08-29' ),
( 34, 3, '2022-01-20', '2022-03-29' ),
( 35, 3, '2020-12-15', '2021-01-26' ),
( 36, 3, '2020-08-09', '2022-07-11' ),
( 37, 3, '2019-04-23', '2020-11-27' ),
( 38, 1, '2019-06-09', '2023-06-08' ),
( 39, 1, '2021-12-31', '2022-07-13' ),
( 40, 3, '2020-07-05', '2023-06-11' ),
( 41, 2, '2022-06-05', '2022-07-27' ),
( 42, 2, '2020-01-29', '2021-10-23' ),
( 43, 3, '2020-02-03', '2020-06-10' ),
( 44, 3, '2019-03-01', '2019-10-03' ),
( 45, 3, '2021-02-23', '2022-10-27' ),
( 46, 1, '2022-10-01', '2023-01-15' ),
( 47, 1, '2020-07-23', '2021-08-16' ),
( 48, 1, '2019-09-25', '2020-10-09' ),
( 49, 3, '2023-02-01', '2023-06-21' ),
( 50, 3, '2021-08-19', '2022-08-15' ),
( 51, 3, '2022-10-13', '2023-08-20' ),
( 52, 3, '2021-05-29', '2021-11-27' ),
( 53, 2, '2019-05-31', '2021-03-16' ),
( 54, 3, '2021-10-14', '2023-11-07' ),
( 55, 2, '2023-02-05', '2023-02-23' ),
( 56, 1, '2019-07-13', '2020-11-13' ),
( 57, 3, '2023-04-28', '2023-11-03' ),
( 58, 2, '2019-10-04', '2022-05-24' ),
( 59, 2, '2021-05-26', '2022-12-04' ),
( 60, 1, '2020-10-04', '2022-08-31' ),
( 61, 2, '2022-08-12', '2022-12-05' ),
( 62, 3, '2021-12-31', '2023-01-16' ),
( 63, 1, '2021-11-21', '2023-09-03' ),
( 64, 1, '2020-04-07', '2020-10-29' ),
( 65, 3, '2020-06-30', '2021-12-21' ),
( 66, 1, '2020-06-29', '2023-07-04' ),
( 67, 1, '2021-05-28', '2021-11-06' ),
( 68, 1, '2023-06-07', '2023-06-07' ),
( 69, 1, '2018-12-29', '2021-02-24' ),
( 70, 1, '2021-11-03', '2022-01-14' ),
( 71, 2, '2020-02-10', '2021-10-04' ),
( 72, 1, '2019-07-07', '2020-02-28' ),
( 73, 1, '2022-01-12', '2022-11-29' ),
( 74, 1, '2019-03-09', '2022-01-19' ),
( 75, 3, '2019-05-21', '2022-06-06' ),
( 76, 1, '2022-02-28', '2022-09-16' ),
( 77, 2, '2019-05-08', '2019-08-28' ),
( 78, 2, '2021-12-07', '2023-09-17' ),
( 79, 2, '2022-10-17', '2022-11-26' ),
( 80, 2, '2019-08-28', '2020-03-07' ),
( 81, 1, '2022-03-02', '2023-10-13' ),
( 82, 3, '2023-05-13', '2023-07-01' ),
( 83, 3, '2021-12-11', '2023-06-09' ),
( 84, 1, '2021-04-06', '2022-11-02' ),
( 85, 2, '2019-01-12', '2021-05-15' ),
( 86, 1, '2022-03-21', '2022-04-12' ),
( 87, 3, '2023-04-13', '2023-07-08' ),
( 88, 1, '2019-07-28', '2020-02-10' ),
( 89, 1, '2022-08-08', '2022-10-04' ),
( 90, 3, '2019-06-13', '2019-06-20' ),
( 91, 2, '2021-03-18', '2023-07-25' ),
( 92, 1, '2020-11-18', '2022-07-10' ),
( 93, 2, '2019-06-24', '2021-08-19' ),
( 94, 1, '2020-12-27', '2023-05-02' ),
( 95, 1, '2023-02-15', '2023-02-23' ),
( 96, 3, '2022-05-02', '2023-05-06' ),
( 97, 3, '2019-04-12', '2019-06-05' ),
( 98, 2, '2022-06-15', '2023-06-18' ),
( 99, 3, '2022-07-16', '2022-12-22' ),
( 100, 1, '2019-09-30', '2019-10-08' ),
( 101, 1, '2020-04-29', '2022-09-10' ),
( 102, 2, '2019-02-25', '2019-05-16' ),
( 103, 2, '2021-06-21', '2023-02-19' ),
( 104, 3, '2020-11-29', '2022-12-18' ),
( 105, 3, '2019-07-26', '2019-12-05' ),
( 106, 2, '2020-12-10', '2022-03-19' ),
( 107, 1, '2019-12-26', '2023-07-07' ),
( 108, 1, '2021-12-08', '2023-02-17' ),
( 109, 2, '2022-12-10', '2023-03-30' ),
( 110, 1, '2019-12-06', '2022-05-25' ),
( 111, 3, '2021-05-21', '2022-05-14' ),
( 112, 2, '2020-12-01', '2021-11-11' ),
( 113, 3, '2022-01-14', '2023-10-28' ),
( 114, 1, '2019-01-10', '2022-03-03' ),
( 115, 2, '2019-01-23', '2022-12-09' ),
( 116, 3, '2022-08-06', '2023-07-26' ),
( 117, 1, '2019-10-15', '2023-03-06' ),
( 118, 2, '2022-08-12', '2022-08-16' ),
( 119, 2, '2021-12-05', '2023-12-13' ),
( 120, 1, '2020-07-03', '2023-07-16' ),
( 121, 3, '2019-10-01', '2022-06-21' ),
( 122, 1, '2021-06-11', '2023-09-10' ),
( 123, 1, '2022-11-01', '2022-11-08' ),
( 124, 2, '2021-12-05', '2022-03-07' ),
( 125, 1, '2019-12-11', '2022-02-21' ),
( 126, 3, '2021-06-11', '2023-09-01' ),
( 127, 2, '2019-06-03', '2021-12-13' ),
( 128, 1, '2023-01-28', '2023-10-19' ),
( 129, 2, '2020-06-26', '2021-06-29' ),
( 130, 1, '2022-03-12', '2022-03-16' ),
( 131, 1, '2022-07-22', '2022-07-25' ),
( 132, 2, '2020-10-14', '2020-12-23' ),
( 133, 2, '2019-12-12', '2020-04-06' ),
( 134, 1, '2020-02-13', '2020-03-16' ),
( 135, 1, '2022-11-20', '2023-10-30' ),
( 136, 1, '2022-09-12', '2023-01-31' ),
( 137, 3, '2022-08-30', '2023-02-13' ),
( 138, 1, '2020-10-04', '2023-08-15' ),
( 139, 2, '2023-03-29', '2023-04-26' ),
( 140, 1, '2023-02-26', '2023-04-16' ),
( 141, 1, '2021-01-30', '2022-05-17' ),
( 142, 2, '2021-03-29', '2021-08-18' ),
( 143, 1, '2021-12-14', '2022-12-05' ),
( 144, 2, '2018-12-26', '2023-11-14' ),
( 145, 2, '2019-05-15', '2023-10-19' ),
( 146, 3, '2021-10-09', '2022-04-06' ),
( 147, 2, '2021-12-17', '2022-01-01' ),
( 148, 3, '2020-03-21', '2020-08-25' ),
( 149, 2, '2022-06-03', '2022-07-13' ),
( 150, 1, '2021-04-10', '2022-02-14' ),
( 151, 3, '2021-12-23', '2023-08-17' ),
( 152, 1, '2022-10-11', '2023-04-12' ),
( 153, 1, '2019-07-09', '2020-05-12' ),
( 154, 1, '2020-09-04', '2023-07-25' ),
( 155, 3, '2022-02-14', '2022-06-21' ),
( 156, 2, '2023-05-13', '2023-07-12' ),
( 157, 1, '2023-05-22', '2023-08-13' ),
( 158, 3, '2023-01-28', '2023-03-26' ),
( 159, 2, '2019-08-09', '2019-12-21' ),
( 160, 1, '2021-02-09', '2021-06-02' ),
( 161, 1, '2021-06-21', '2022-04-12' ),
( 162, 3, '2023-05-30', '2023-11-09' ),
( 163, 1, '2022-04-25', '2022-10-24' ),
( 164, 2, '2021-06-20', '2022-08-24' ),
( 165, 2, '2022-07-08', '2022-09-30' ),
( 166, 2, '2019-02-07', '2019-10-30' ),
( 167, 1, '2019-09-30', '2019-12-04' ),
( 168, 1, '2022-03-16', '2022-05-08' ),
( 169, 1, '2021-07-06', '2021-10-19' ),
( 170, 3, '2019-05-14', '2020-11-15' ),
( 171, 3, '2022-12-24', '2023-05-19' ),
( 172, 3, '2023-01-24', '2023-06-11' ),
( 173, 3, '2022-02-21', '2022-02-21' ),
( 174, 2, '2019-07-21', '2019-09-26' ),
( 175, 1, '2021-12-04', '2022-01-05' ),
( 176, 2, '2019-11-03', '2021-01-26' ),
( 177, 2, '2019-12-05', '2021-03-04' ),
( 178, 2, '2020-12-24', '2022-06-29' ),
( 179, 2, '2021-11-01', '2022-09-28' ),
( 180, 3, '2022-07-29', '2022-09-28' ),
( 181, 1, '2022-04-25', '2022-10-16' ),
( 182, 1, '2020-02-27', '2021-11-16' ),
( 183, 3, '2021-01-08', '2021-02-18' ),
( 184, 3, '2021-07-07', '2022-08-25' ),
( 185, 1, '2021-05-31', '2021-08-16' ),
( 186, 3, '2022-04-30', '2022-09-28' ),
( 187, 2, '2020-12-14', '2023-08-23' ),
( 188, 1, '2022-10-12', '2023-04-18' ),
( 189, 3, '2022-02-20', '2022-03-02' ),
( 190, 3, '2021-05-07', '2023-04-26' ),
( 191, 3, '2023-05-04', '2023-06-06' ),
( 192, 2, '2022-03-24', '2022-12-19' ),
( 193, 2, '2022-10-02', '2022-12-16' ),
( 194, 3, '2022-11-25', '2023-04-10' ),
( 195, 1, '2021-06-11', '2022-08-25' ),
( 196, 2, '2022-05-12', '2023-04-26' ),
( 197, 1, '2019-11-02', '2023-08-03' ),
( 198, 1, '2020-05-07', '2022-08-30' ),
( 199, 1, '2022-08-09', '2023-01-06' ),
( 200, 2, '2020-11-28', '2022-07-21' ),
( 201, 1, '2023-05-15', '2023-09-25' ),
( 202, 1, '2022-12-02', '2023-02-14' ),
( 203, 3, '2020-09-13', '2021-05-15' ),
( 204, 2, '2019-11-07', '2023-03-13' ),
( 205, 3, '2019-01-19', '2020-07-22' ),
( 206, 3, '2022-11-08', '2023-01-06' ),
( 207, 3, '2020-05-12', '2022-07-19' ),
( 208, 3, '2020-06-20', '2021-08-02' ),
( 209, 3, '2022-12-01', '2023-08-22' ),
( 210, 1, '2020-03-09', '2023-01-09' ),
( 211, 3, '2020-05-03', '2022-03-06' ),
( 212, 2, '2023-04-05', '2023-04-16' ),
( 213, 3, '2020-04-29', '2020-11-07' ),
( 214, 1, '2022-08-14', '2023-03-28' ),
( 215, 2, '2021-01-03', '2021-05-03' ),
( 216, 1, '2020-04-17', '2021-01-03' ),
( 217, 1, '2022-06-12', '2023-08-04' ),
( 218, 3, '2021-08-06', '2022-10-07' ),
( 219, 2, '2019-04-14', '2020-01-25' ),
( 220, 3, '2021-02-22', '2021-09-26' ),
( 221, 1, '2020-06-15', '2021-05-05' ),
( 222, 1, '2020-03-06', '2020-06-08' ),
( 223, 2, '2021-08-19', '2023-11-08' ),
( 224, 2, '2022-10-11', '2022-12-20' ),
( 225, 2, '2020-05-03', '2020-09-24' ),
( 226, 2, '2021-01-09', '2021-07-17' ),
( 227, 2, '2019-09-29', '2021-06-03' ),
( 228, 3, '2019-05-23', '2022-05-30' ),
( 229, 2, '2021-11-09', '2022-03-11' ),
( 230, 3, '2020-02-18', '2020-07-21' ),
( 231, 3, '2022-06-20', '2022-07-11' ),
( 232, 2, '2020-03-25', '2021-12-08' ),
( 233, 1, '2020-06-06', '2020-10-10' ),
( 234, 1, '2022-02-26', '2023-08-04' ),
( 235, 1, '2020-02-03', '2022-03-06' ),
( 236, 1, '2022-10-04', '2023-01-18' ),
( 237, 3, '2021-07-02', '2022-06-28' ),
( 238, 3, '2021-06-08', '2023-07-03' ),
( 239, 2, '2022-02-12', '2023-01-27' ),
( 240, 1, '2020-06-14', '2021-05-16' ),
( 241, 3, '2021-05-10', '2021-12-14' ),
( 242, 1, '2022-04-23', '2023-05-04' ),
( 243, 2, '2021-11-17', '2022-10-22' ),
( 244, 1, '2020-01-26', '2020-09-27' ),
( 245, 1, '2021-11-03', '2023-05-24' ),
( 246, 3, '2020-03-09', '2023-12-13' ),
( 247, 2, '2023-05-30', '2023-08-03' ),
( 248, 2, '2021-10-07', '2023-09-01' ),
( 249, 3, '2021-12-02', '2023-06-24' ),
( 250, 3, '2022-02-16', '2023-06-24' ),
( 251, 1, '2021-01-07', '2023-03-24' ),
( 252, 1, '2020-09-03', '2023-06-12' ),
( 253, 2, '2021-11-10', '2022-07-06' ),
( 254, 2, '2020-01-19', '2022-01-25' ),
( 255, 2, '2021-11-30', '2022-12-31' ),
( 256, 2, '2021-08-22', '2023-01-05' ),
( 257, 1, '2019-11-10', '2022-04-22' ),
( 258, 3, '2021-08-28', '2021-12-27' ),
( 259, 3, '2019-11-30', '2023-03-12' ),
( 260, 2, '2019-05-10', '2021-10-17' ),
( 261, 3, '2022-09-05', '2023-04-07' ),
( 262, 2, '2022-02-21', '2023-02-09' ),
( 263, 3, '2021-04-02', '2022-02-06' ),
( 264, 1, '2021-04-08', '2022-09-26' ),
( 265, 2, '2022-01-27', '2022-12-13' ),
( 266, 2, '2021-11-03', '2023-07-25' ),
( 267, 1, '2022-07-10', '2023-04-12' ),
( 268, 2, '2021-08-21', '2022-06-17' ),
( 269, 1, '2022-04-29', '2023-03-21' ),
( 270, 2, '2022-09-01', '2023-11-21' ),
( 271, 2, '2023-05-10', '2023-05-28' ),
( 272, 1, '2021-03-02', '2022-08-17' ),
( 273, 1, '2019-02-20', '2021-04-23' ),
( 274, 2, '2022-07-20', '2023-06-17' ),
( 275, 3, '2020-07-29', '2023-03-04' ),
( 276, 2, '2019-12-14', '2022-04-09' ),
( 277, 1, '2021-08-24', '2023-04-18' ),
( 278, 1, '2022-09-02', '2022-12-04' ),
( 279, 3, '2021-01-07', '2023-05-29' ),
( 280, 1, '2022-10-22', '2023-09-11' ),
( 281, 1, '2021-08-16', '2022-05-17' ),
( 282, 3, '2020-12-25', '2022-02-21' ),
( 283, 1, '2020-12-19', '2022-06-16' ),
( 284, 2, '2019-10-13', '2020-01-24' ),
( 285, 1, '2022-08-15', '2022-08-15' ),
( 286, 3, '2021-10-19', '2023-10-05' ),
( 287, 1, '2023-05-21', '2023-07-01' ),
( 288, 2, '2021-05-30', '2023-12-01' ),
( 289, 1, '2018-12-22', '2019-07-13' ),
( 290, 2, '2020-09-20', '2023-02-16' ),
( 291, 1, '2022-01-04', '2022-01-19' ),
( 292, 1, '2020-05-02', '2021-10-10' ),
( 293, 1, '2020-07-16', '2020-10-22' ),
( 294, 2, '2019-04-30', '2023-04-17' ),
( 295, 1, '2019-04-22', '2022-06-17' ),
( 296, 1, '2020-03-24', '2023-12-09' ),
( 297, 2, '2021-02-03', '2022-11-18' ),
( 298, 2, '2021-02-17', '2023-03-14' ),
( 299, 1, '2020-03-02', '2020-04-21' ),
( 300, 1, '2019-10-20', '2022-08-25' ),
( 301, 1, '2023-04-24', '2023-06-10' ),
( 302, 1, '2022-10-12', '2022-11-06' ),
( 303, 3, '2023-02-07', '2023-02-17' ),
( 304, 3, '2018-12-19', '2019-09-11' ),
( 305, 3, '2021-10-11', '2023-12-02' ),
( 306, 1, '2021-06-29', '2021-07-05' ),
( 307, 1, '2020-12-13', '2021-06-26' ),
( 308, 2, '2021-10-28', '2022-03-31' ),
( 309, 1, '2021-02-06', '2022-10-22' ),
( 310, 2, '2020-11-23', '2023-05-22' ),
( 311, 3, '2020-08-07', '2021-07-23' ),
( 312, 1, '2023-01-22', '2023-07-27' ),
( 313, 1, '2022-11-12', '2022-12-08' ),
( 314, 2, '2022-01-13', '2022-09-14' ),
( 315, 2, '2023-05-01', '2023-11-10' ),
( 316, 2, '2019-01-26', '2022-12-07' ),
( 317, 3, '2022-04-09', '2023-10-16' ),
( 318, 2, '2019-11-12', '2022-12-19' ),
( 319, 2, '2023-02-25', '2023-08-24' ),
( 320, 2, '2022-06-09', '2022-09-22' ),
( 321, 2, '2022-11-14', '2022-12-04' ),
( 322, 1, '2020-02-09', '2023-04-18' ),
( 323, 3, '2019-05-10', '2021-01-27' ),
( 324, 3, '2020-01-08', '2022-04-06' ),
( 325, 2, '2020-12-30', '2021-05-11' ),
( 326, 1, '2020-12-09', '2023-10-06' ),
( 327, 2, '2021-02-13', '2021-09-15' ),
( 328, 3, '2019-08-02', '2020-07-09' ),
( 329, 3, '2021-01-18', '2021-05-06' ),
( 330, 3, '2022-06-14', '2023-03-11' ),
( 331, 3, '2019-11-01', '2020-02-08' ),
( 332, 1, '2020-07-02', '2020-07-24' ),
( 333, 3, '2022-11-09', '2023-11-03' ),
( 334, 2, '2019-05-14', '2022-02-18' ),
( 335, 1, '2022-02-21', '2022-10-17' ),
( 336, 3, '2019-11-04', '2020-01-06' ),
( 337, 3, '2021-07-11', '2021-12-08' ),
( 338, 1, '2021-01-01', '2021-03-16' ),
( 339, 3, '2023-05-13', '2023-05-22' ),
( 340, 3, '2022-03-11', '2023-04-28' ),
( 341, 3, '2022-03-27', '2023-10-19' ),
( 342, 2, '2022-11-14', '2023-09-24' ),
( 343, 2, '2019-10-18', '2020-07-11' ),
( 344, 2, '2022-08-17', '2022-12-15' ),
( 345, 3, '2022-05-04', '2022-10-24' ),
( 346, 1, '2022-09-12', '2022-09-14' ),
( 347, 2, '2019-08-11', '2023-10-22' ),
( 348, 3, '2019-02-20', '2021-05-28' ),
( 349, 2, '2021-06-17', '2021-08-09' ),
( 350, 1, '2019-03-31', '2019-08-05' ),
( 351, 3, '2019-12-21', '2022-01-03' ),
( 352, 2, '2019-08-07', '2021-05-30' ),
( 353, 3, '2021-01-09', '2022-11-17' ),
( 354, 2, '2021-06-15', '2023-06-25' ),
( 355, 3, '2021-11-30', '2023-09-01' ),
( 356, 3, '2021-10-09', '2023-03-07' ),
( 357, 3, '2023-06-09', '2023-10-25' ),
( 358, 1, '2020-07-18', '2022-06-09' ),
( 359, 3, '2019-07-05', '2020-09-24' ),
( 360, 1, '2023-02-11', '2023-10-23' ),
( 361, 1, '2022-02-26', '2023-07-17' ),
( 362, 2, '2020-03-22', '2023-03-20' ),
( 363, 3, '2020-04-07', '2020-08-25' ),
( 364, 2, '2019-09-21', '2020-12-07' ),
( 365, 3, '2019-07-04', '2019-11-01' ),
( 366, 1, '2021-02-08', '2021-03-14' ),
( 367, 3, '2021-03-16', '2021-10-02' ),
( 368, 2, '2020-04-26', '2022-09-13' ),
( 369, 3, '2020-03-20', '2020-08-02' ),
( 370, 2, '2022-11-28', '2022-12-12' ),
( 371, 3, '2022-08-11', '2023-08-19' ),
( 372, 2, '2022-10-02', '2023-02-08' ),
( 373, 3, '2019-11-08', '2021-08-23' ),
( 374, 1, '2022-06-19', '2022-08-05' ),
( 375, 3, '2021-06-10', '2021-08-12' ),
( 376, 2, '2020-06-18', '2021-09-03' ),
( 377, 3, '2021-07-26', '2023-02-25' ),
( 378, 2, '2019-03-14', '2021-05-07' ),
( 379, 3, '2020-08-16', '2020-09-14' ),
( 380, 3, '2019-01-27', '2021-06-30' ),
( 381, 3, '2022-12-29', '2023-04-02' ),
( 382, 1, '2021-08-22', '2022-08-29' ),
( 383, 1, '2020-08-06', '2021-02-19' ),
( 384, 1, '2019-11-26', '2022-06-29' ),
( 385, 2, '2021-04-17', '2022-03-17' ),
( 386, 1, '2019-12-13', '2020-01-16' ),
( 387, 2, '2022-07-05', '2023-07-22' ),
( 388, 2, '2020-01-03', '2021-09-13' ),
( 389, 3, '2022-08-31', '2022-09-05' ),
( 390, 1, '2020-12-28', '2022-10-15' ),
( 391, 2, '2021-10-13', '2022-10-29' ),
( 392, 3, '2020-07-05', '2022-11-03' ),
( 393, 2, '2020-09-03', '2023-07-31' ),
( 394, 2, '2022-01-02', '2022-08-11' ),
( 395, 2, '2023-06-08', '2023-06-13' ),
( 396, 1, '2021-04-27', '2022-11-13' ),
( 397, 3, '2019-07-10', '2022-06-10' ),
( 398, 3, '2020-11-15', '2023-09-20' ),
( 399, 1, '2021-05-04', '2022-05-23' ),
( 400, 1, '2019-03-28', '2021-02-06' ),
( 401, 3, '2021-03-20', '2023-12-09' ),
( 402, 1, '2019-01-17', '2021-09-08' ),
( 403, 1, '2019-03-06', '2021-12-15' ),
( 404, 2, '2021-03-25', '2021-06-22' ),
( 405, 1, '2021-04-28', '2022-04-10' ),
( 406, 3, '2022-01-21', '2023-01-24' ),
( 407, 2, '2023-04-01', '2023-04-12' ),
( 408, 1, '2021-09-15', '2022-09-14' ),
( 409, 2, '2020-11-28', '2022-08-31' ),
( 410, 2, '2020-11-16', '2020-12-11' ),
( 411, 3, '2021-01-05', '2021-07-20' ),
( 412, 2, '2019-09-25', '2020-07-03' ),
( 413, 3, '2021-07-05', '2021-10-13' ),
( 414, 3, '2019-10-31', '2022-04-16' ),
( 415, 3, '2019-07-10', '2020-03-25' ),
( 416, 2, '2023-04-01', '2023-11-13' ),
( 417, 3, '2020-12-22', '2021-08-21' ),
( 418, 3, '2019-04-26', '2020-08-24' ),
( 419, 3, '2022-12-22', '2023-11-06' ),
( 420, 1, '2019-06-19', '2023-10-01' ),
( 421, 1, '2019-05-23', '2023-09-26' ),
( 422, 3, '2022-08-28', '2022-12-16' ),
( 423, 2, '2021-11-13', '2021-12-11' ),
( 424, 3, '2018-12-23', '2019-01-25' ),
( 425, 3, '2022-09-16', '2023-07-16' ),
( 426, 2, '2021-08-15', '2022-09-19' ),
( 427, 1, '2023-04-30', '2023-06-13' ),
( 428, 2, '2022-04-22', '2022-07-06' ),
( 429, 1, '2020-11-07', '2020-12-09' ),
( 430, 2, '2021-10-07', '2022-12-21' ),
( 431, 1, '2023-04-15', '2023-11-08' ),
( 432, 1, '2023-01-07', '2023-04-12' ),
( 433, 1, '2020-02-03', '2020-09-29' ),
( 434, 2, '2023-05-12', '2023-07-09' ),
( 435, 1, '2020-09-16', '2020-11-28' ),
( 436, 2, '2023-04-28', '2023-07-29' ),
( 437, 2, '2023-05-18', '2023-07-11' ),
( 438, 1, '2021-03-29', '2023-05-15' ),
( 439, 1, '2021-04-30', '2021-11-10' ),
( 440, 2, '2021-10-30', '2021-11-24' ),
( 441, 2, '2020-09-05', '2021-10-11' ),
( 442, 1, '2023-01-09', '2023-04-05' ),
( 443, 3, '2021-02-11', '2023-11-13' ),
( 444, 3, '2021-09-16', '2021-12-28' ),
( 445, 3, '2019-05-03', '2020-09-17' ),
( 446, 3, '2022-03-05', '2022-09-26' ),
( 447, 3, '2022-05-07', '2022-12-15' ),
( 448, 1, '2021-05-19', '2021-08-08' ),
( 449, 1, '2021-06-14', '2021-08-08' ),
( 450, 3, '2019-11-10', '2023-09-06' ),
( 451, 3, '2022-03-11', '2022-04-24' ),
( 452, 2, '2021-12-10', '2022-04-09' ),
( 453, 1, '2020-08-23', '2020-10-07' ),
( 454, 1, '2020-07-18', '2021-09-02' ),
( 455, 3, '2020-09-27', '2023-10-11' ),
( 456, 1, '2019-04-08', '2022-04-07' ),
( 457, 2, '2022-02-05', '2022-02-15' ),
( 458, 2, '2022-08-26', '2023-02-04' ),
( 459, 2, '2021-04-23', '2021-07-04' ),
( 460, 3, '2020-01-03', '2020-03-28' ),
( 461, 2, '2023-03-25', '2023-11-27' ),
( 462, 1, '2019-10-04', '2022-08-22' ),
( 463, 2, '2020-12-21', '2021-05-09' ),
( 464, 2, '2019-02-19', '2019-03-14' ),
( 465, 3, '2022-03-28', '2023-04-12' ),
( 466, 1, '2019-09-06', '2020-07-23' ),
( 467, 1, '2022-11-21', '2023-03-01' ),
( 468, 1, '2019-02-21', '2020-05-13' ),
( 469, 3, '2020-04-22', '2021-03-19' ),
( 470, 3, '2022-10-16', '2023-04-28' ),
( 471, 2, '2019-11-01', '2019-12-29' ),
( 472, 3, '2021-07-04', '2023-04-11' ),
( 473, 1, '2019-11-28', '2022-03-09' ),
( 474, 2, '2022-12-24', '2023-05-10' ),
( 475, 3, '2022-04-22', '2023-05-27' ),
( 476, 3, '2019-05-28', '2019-08-29' ),
( 477, 2, '2021-08-19', '2022-10-22' ),
( 478, 3, '2019-04-20', '2022-05-02' ),
( 479, 2, '2019-08-15', '2020-01-02' ),
( 480, 1, '2019-03-12', '2019-12-06' ),
( 481, 2, '2020-07-20', '2020-10-29' ),
( 482, 2, '2022-12-12', '2023-03-10' ),
( 483, 2, '2019-10-08', '2020-08-01' ),
( 484, 1, '2022-11-03', '2023-02-11' ),
( 485, 2, '2019-05-25', '2021-03-19' ),
( 486, 1, '2019-08-13', '2020-05-17' ),
( 487, 2, '2022-01-18', '2022-09-17' ),
( 488, 2, '2019-04-28', '2020-06-06' ),
( 489, 1, '2019-08-09', '2022-01-25' ),
( 490, 1, '2023-04-11', '2023-07-24' ),
( 491, 1, '2022-09-08', '2023-10-29' ),
( 492, 1, '2022-05-22', '2023-08-25' ),
( 493, 3, '2019-04-22', '2022-05-25' ),
( 494, 3, '2023-04-28', '2023-06-26' ),
( 495, 3, '2019-07-11', '2019-07-18' ),
( 496, 1, '2021-11-02', '2022-02-19' ),
( 497, 2, '2020-06-04', '2023-10-17' ),
( 498, 1, '2022-12-01', '2023-02-09' ),
( 499, 2, '2023-01-26', '2023-04-26' ),

In [59]:
# Write to file
INSERT_SUBSCRIPTIONS_FILE="../16_insert_user_subscriptions.sql"
with open(INSERT_SUBSCRIPTIONS_FILE, 'w') as f:
    f.write(insert_sql)