In [34]:
import datetime
HEADER="""INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
"""
ROW="( {user_id}, '{name}', '{birth_date}','{gender}', '{from_date}', '{to_date}', {location_id}, {segment_id} )"
RECORDS=1000
LOCATION_RANGE=(1,17) # 17 locations
SEGMENT_RANGE=(1,3) # 3 segments
FUTURE=datetime.date(2999,12,31)
GENDERS=["M","F","O"]
BIRTH_DATE_START=datetime.date(1950,1,1)
BIRTH_DATE_RANGE=365*55 # 55 years
SEGMENT_AGES_RANGES=[(0,25),(25,45),(45,100)] # 3 segments
INSERT_USERS_FILE="../15_insert_users.sql"

In [35]:
import faker
import random

faker_name = faker.Faker()
today = datetime.date.today()
insert_users = []
for i in range(1,RECORDS+1):
    name = faker_name.name()
    
    birth_date = BIRTH_DATE_START + datetime.timedelta(days=random.randint(0,BIRTH_DATE_RANGE))
    from_date = today - datetime.timedelta(days=random.randint(180,365*5))
    location_id = random.randint(*LOCATION_RANGE)
    gender = random.choice(GENDERS)
    age = (today - birth_date).days // 365
    age_segment = list(filter(lambda x : x[0] <= age < x[1], SEGMENT_AGES_RANGES))
    segment_id = random.randint(*SEGMENT_RANGE) + SEGMENT_AGES_RANGES.index(age_segment[0]) * 3
    insert_users.append(
        dict(
            user_id=i,
            name= name,
            birth_date= birth_date,
            from_date= from_date,
            to_date= FUTURE,
            gender=gender,
            location_id=location_id,
            segment_id=segment_id
        )
    )
    print(ROW.format(**insert_users[-1]))

( 1, 'Ryan Pearson', '1959-10-22','F', '2022-08-03', '2999-12-31', 15, 7 )
( 2, 'Robyn Daniels', '1974-10-30','F', '2022-02-21', '2999-12-31', 12, 8 )
( 3, 'Joseph Banks', '1962-09-14','M', '2021-04-07', '2999-12-31', 12, 9 )
( 4, 'Jasmine Park', '1955-11-02','M', '2022-11-30', '2999-12-31', 7, 9 )
( 5, 'Christopher Hall', '1953-02-02','F', '2023-06-18', '2999-12-31', 10, 7 )
( 6, 'Valerie Little', '1956-08-06','M', '2023-01-12', '2999-12-31', 11, 9 )
( 7, 'Jean Day', '1987-01-09','O', '2023-05-21', '2999-12-31', 1, 6 )
( 8, 'Jeanette Valencia', '1955-10-26','M', '2019-03-22', '2999-12-31', 12, 9 )
( 9, 'Felicia Mcmillan', '1951-11-09','F', '2020-04-18', '2999-12-31', 11, 7 )
( 10, 'Tammy Thomas', '1999-08-08','O', '2023-01-16', '2999-12-31', 11, 3 )
( 11, 'Megan Larson', '1972-07-19','F', '2021-03-16', '2999-12-31', 17, 7 )
( 12, 'Larry Nguyen', '1973-02-23','F', '2020-08-29', '2999-12-31', 15, 9 )
( 13, 'David Hernandez', '1970-11-14','F', '2019-09-25', '2999-12-31', 13, 8 )
( 14, 'Jesse Kim DDS', '1971-01-12','M', '2020-10-26', '2999-12-31', 16, 8 )
( 15, 'Howard Wilson', '1978-12-29','O', '2021-05-11', '2999-12-31', 3, 6 )
( 16, 'Laura Steele', '2003-03-03','O', '2021-10-01', '2999-12-31', 10, 2 )
( 17, 'Katelyn Trevino', '1968-05-06','O', '2019-10-02', '2999-12-31', 14, 7 )
( 18, 'Gary Collins', '1991-09-02','M', '2020-05-21', '2999-12-31', 4, 4 )
( 19, 'Alisha Cox', '1978-11-11','F', '2022-10-23', '2999-12-31', 11, 8 )
( 20, 'Antonio Powers Jr.', '1994-11-15','O', '2020-04-08', '2999-12-31', 7, 4 )
( 21, 'Ashley Padilla', '1981-05-10','M', '2020-04-04', '2999-12-31', 1, 5 )
( 22, 'Jeffrey Thompson', '1966-08-19','F', '2021-08-26', '2999-12-31', 9, 8 )
( 23, 'Jerry Patel', '1999-05-02','F', '2023-05-09', '2999-12-31', 17, 1 )
( 24, 'John Jones Jr.', '2004-08-07','F', '2022-05-12', '2999-12-31', 12, 1 )
( 25, 'Jennifer Jimenez', '1987-01-11','M', '2019-04-19', '2999-12-31', 14, 4 )
( 26, 'Joshua Rogers', '1953-10-07','F', '2023-01-14', '2999-12-31', 9, 8 )
( 27, 'Jason Woods', '1962-07-24','F', '2022-12-17', '2999-12-31', 8, 7 )
( 28, 'Anthony Knight', '1993-07-31','M', '2023-03-16', '2999-12-31', 15, 4 )
( 29, 'Kevin Clark', '1960-12-16','O', '2019-04-13', '2999-12-31', 11, 9 )
( 30, 'Erica Wright', '1965-01-17','M', '2021-02-11', '2999-12-31', 17, 9 )
( 31, 'Christian Bennett', '1989-06-03','M', '2019-03-16', '2999-12-31', 14, 6 )
( 32, 'Linda Lewis', '1980-10-02','O', '2020-06-19', '2999-12-31', 13, 4 )
( 33, 'Jacob Wilson', '1977-03-24','F', '2021-08-28', '2999-12-31', 13, 7 )
( 34, 'Cynthia Rodriguez', '1989-05-08','M', '2022-04-30', '2999-12-31', 4, 4 )
( 35, 'Kathy Weaver', '1977-10-28','O', '2019-03-10', '2999-12-31', 11, 7 )
( 36, 'Monica Rodriguez', '1956-07-11','M', '2021-01-23', '2999-12-31', 9, 7 )
( 37, 'James Luna', '1957-08-23','M', '2020-07-22', '2999-12-31', 7, 9 )
( 38, 'Paul Washington', '1980-04-12','O', '2022-12-04', '2999-12-31', 3, 5 )
( 39, 'Miranda Graham', '1996-12-20','M', '2021-07-06', '2999-12-31', 1, 6 )
( 40, 'Edward Scott', '1950-08-02','M', '2021-01-15', '2999-12-31', 11, 7 )
( 41, 'Abigail Ramos', '1986-03-18','M', '2021-01-03', '2999-12-31', 5, 5 )
( 42, 'Brian Kidd III', '1955-03-27','O', '2023-05-14', '2999-12-31', 8, 7 )
( 43, 'Brandon Stevenson', '1997-10-07','O', '2020-05-22', '2999-12-31', 3, 4 )
( 44, 'Patricia Chavez', '1991-05-23','M', '2022-01-14', '2999-12-31', 8, 4 )
( 45, 'Michelle Rivera', '1967-05-04','M', '2019-12-13', '2999-12-31', 14, 8 )
( 46, 'Victoria White', '1993-03-16','F', '2021-11-11', '2999-12-31', 4, 4 )
( 47, 'Lucas Townsend', '2003-08-08','O', '2023-05-30', '2999-12-31', 13, 2 )
( 48, 'Leah Baker', '2002-11-26','O', '2023-02-10', '2999-12-31', 10, 2 )
( 49, 'Robert Smith', '2004-07-07','O', '2019-01-17', '2999-12-31', 13, 2 )
( 50, 'Danny Peterson', '1973-12-21','O', '2021-06-10', '2999-12-31', 6, 7 )
( 51, 'Mr. Sean Anderson III', '1956-08-09','M', '2019-04-08', '2999-12-31', 12, 9 )
( 52, 'Marc Ellison', '1958-06-14','M', '2021-08-19', '2999-12-31', 13, 7 )
( 53, 'Gerald Perez', '1950-11-24','F', '2019-05-30', '2999-12-31', 13, 9 )
( 54, 'Desiree Gates', '1973-12-26','O', '2021-11-21', '2999-12-31', 9, 9 )
( 55, 'Shannon George', '2003-01-17','O', '2023-03-17', '2999-12-31', 9, 1 )
( 56, 'Robert Walsh', '1996-05-15','F', '2022-08-03', '2999-12-31', 13, 5 )
( 57, 'Michael Crane', '1995-04-17','O', '2019-01-01', '2999-12-31', 9, 5 )
( 58, 'Barry Woodard', '1981-12-04','F', '2022-08-21', '2999-12-31', 15, 5 )
( 59, 'Emily Hutchinson', '1966-03-03','M', '2020-11-17', '2999-12-31', 12, 9 )
( 60, 'Thomas Lee', '2004-07-01','M', '2022-07-14', '2999-12-31', 14, 3 )
( 61, 'Andrea Smith', '1965-02-01','M', '2020-12-12', '2999-12-31', 7, 8 )
( 62, 'Gregory Tucker', '1980-06-20','M', '2022-07-15', '2999-12-31', 5, 4 )
( 63, 'Carl Sanders', '1996-03-15','O', '2020-02-26', '2999-12-31', 10, 6 )
( 64, 'Sandra Chan', '1996-11-10','M', '2020-06-03', '2999-12-31', 6, 4 )
( 65, 'Denise Wilson', '1993-10-21','O', '2023-06-06', '2999-12-31', 17, 4 )
( 66, 'William Ramos', '1958-02-20','F', '2022-04-03', '2999-12-31', 10, 7 )
( 67, 'Stephanie Taylor', '1950-03-26','F', '2020-09-05', '2999-12-31', 8, 7 )
( 68, 'Jennifer Flores', '1979-04-27','O', '2021-09-29', '2999-12-31', 4, 6 )
( 69, 'Holly Hopkins', '1993-08-21','M', '2020-12-26', '2999-12-31', 9, 5 )
( 70, 'Terry Stanton', '1958-03-21','F', '2021-09-18', '2999-12-31', 5, 7 )
( 71, 'Julie Robinson', '1951-02-04','M', '2022-11-12', '2999-12-31', 8, 9 )
( 72, 'Brian Kim', '1955-04-16','F', '2021-05-30', '2999-12-31', 17, 7 )
( 73, 'Pamela White', '1951-10-27','O', '2021-06-14', '2999-12-31', 5, 7 )
( 74, 'Michael Castillo', '1978-08-21','M', '2020-12-25', '2999-12-31', 12, 9 )
( 75, 'Sharon Parker', '1991-08-09','F', '2020-06-27', '2999-12-31', 7, 5 )
( 76, 'Matthew Porter', '1974-01-18','F', '2021-12-14', '2999-12-31', 3, 8 )
( 77, 'Derek Levine', '1984-08-15','M', '2022-08-31', '2999-12-31', 3, 5 )
( 78, 'Carla Franklin', '1992-04-12','F', '2022-11-10', '2999-12-31', 14, 5 )
( 79, 'Leah Mcdonald', '1976-02-24','M', '2022-08-07', '2999-12-31', 7, 9 )
( 80, 'William Davis', '1991-03-16','O', '2021-01-01', '2999-12-31', 1, 4 )
( 81, 'Aaron Thomas', '1992-10-22','F', '2019-04-05', '2999-12-31', 11, 6 )
( 82, 'Cindy Garcia', '1951-07-20','M', '2019-06-29', '2999-12-31', 11, 8 )
( 83, 'Richard Mcclure', '1999-02-06','F', '2023-02-19', '2999-12-31', 2, 1 )
( 84, 'Dana Johnson', '1978-12-26','M', '2021-06-04', '2999-12-31', 2, 7 )
( 85, 'Misty Bailey', '1959-05-04','O', '2019-03-04', '2999-12-31', 15, 7 )
( 86, 'Andrew Martin', '1956-11-24','M', '2020-06-05', '2999-12-31', 13, 7 )
( 87, 'Felicia Doyle', '1986-02-25','F', '2022-09-02', '2999-12-31', 16, 5 )
( 88, 'Robert Hall', '1952-03-29','F', '2021-10-10', '2999-12-31', 5, 9 )
( 89, 'Rebecca Herrera', '1968-01-30','O', '2021-03-12', '2999-12-31', 15, 7 )
( 90, 'Robert Brewer', '1970-01-27','F', '2022-10-17', '2999-12-31', 3, 7 )
( 91, 'Kathryn Roman', '1995-10-02','M', '2019-04-20', '2999-12-31', 3, 5 )
( 92, 'Nina Smith', '1959-12-14','O', '2023-01-18', '2999-12-31', 10, 8 )
( 93, 'Tiffany Watkins', '1976-10-06','O', '2021-04-06', '2999-12-31', 3, 8 )
( 94, 'Rebekah Winters', '1993-11-30','O', '2023-02-09', '2999-12-31', 10, 6 )
( 95, 'Sandra Baker', '1981-02-02','F', '2019-07-27', '2999-12-31', 1, 5 )
( 96, 'Matthew White', '1964-01-30','F', '2022-05-31', '2999-12-31', 1, 9 )
( 97, 'Michael Clark', '1996-03-20','F', '2022-06-08', '2999-12-31', 7, 5 )
( 98, 'Seth Smith', '1970-06-10','F', '2020-10-22', '2999-12-31', 1, 8 )
( 99, 'Mary Johnson', '1991-12-20','O', '2019-10-07', '2999-12-31', 4, 5 )
( 100, 'Bianca Mckay', '1981-04-16','M', '2021-12-27', '2999-12-31', 11, 4 )
( 101, 'Jennifer Jones', '1973-06-05','F', '2019-03-15', '2999-12-31', 16, 7 )
( 102, 'Daniel Howard', '1986-12-07','O', '2019-03-01', '2999-12-31', 14, 4 )
( 103, 'Michael Smith', '1990-09-02','M', '2023-04-22', '2999-12-31', 12, 6 )
( 104, 'Anna Jimenez', '1978-05-22','M', '2019-12-14', '2999-12-31', 14, 8 )
( 105, 'Mrs. Sherry Fleming', '1984-08-23','M', '2020-06-09', '2999-12-31', 1, 5 )
( 106, 'Donna Lester', '1985-08-27','M', '2020-03-04', '2999-12-31', 3, 6 )
( 107, 'Sarah Baker', '1976-06-27','O', '2020-02-05', '2999-12-31', 11, 9 )
( 108, 'Natalie Conley', '1978-10-07','O', '2019-08-27', '2999-12-31', 12, 9 )
( 109, 'Vickie Bradshaw', '1998-05-08','O', '2022-08-08', '2999-12-31', 15, 6 )
( 110, 'Melissa Dodson', '1965-09-17','O', '2020-08-04', '2999-12-31', 9, 7 )
( 111, 'Daniel Calhoun', '1978-10-06','O', '2022-03-27', '2999-12-31', 4, 9 )
( 112, 'Alan Moody', '1995-07-20','F', '2021-01-06', '2999-12-31', 9, 6 )
( 113, 'Kevin Woods', '1982-04-06','F', '2020-05-19', '2999-12-31', 11, 5 )
( 114, 'Susan Schultz', '1984-12-15','O', '2020-02-19', '2999-12-31', 7, 4 )
( 115, 'Natalie Norton', '1957-04-20','M', '2021-09-20', '2999-12-31', 6, 8 )
( 116, 'Kathy Solis', '1953-08-15','O', '2023-02-12', '2999-12-31', 8, 7 )
( 117, 'Andrea Bishop', '1953-08-17','M', '2022-01-03', '2999-12-31', 3, 9 )
( 118, 'Mark Garrett', '1951-09-11','F', '2022-03-19', '2999-12-31', 16, 7 )
( 119, 'Sarah Hernandez', '1979-04-01','F', '2020-05-21', '2999-12-31', 15, 5 )
( 120, 'David Watkins', '1983-06-21','F', '2021-04-26', '2999-12-31', 16, 5 )
( 121, 'Holly Brown', '1968-10-26','M', '2021-11-11', '2999-12-31', 11, 9 )
( 122, 'Brandi Bond', '1971-09-04','O', '2019-10-18', '2999-12-31', 11, 7 )
( 123, 'Ryan Riley', '1997-05-14','F', '2020-02-19', '2999-12-31', 15, 6 )
( 124, 'Meghan Dodson', '1999-01-13','O', '2022-07-20', '2999-12-31', 16, 3 )
( 125, 'Robyn Anderson', '1959-06-18','M', '2019-03-23', '2999-12-31', 1, 7 )
( 126, 'Jack Reeves', '1983-08-12','F', '2018-12-22', '2999-12-31', 4, 6 )
( 127, 'John Moody', '1995-12-12','M', '2022-01-09', '2999-12-31', 7, 4 )
( 128, 'Megan Cunningham', '1982-07-19','M', '2022-08-31', '2999-12-31', 8, 5 )
( 129, 'Samantha Smith', '1987-10-23','M', '2020-06-11', '2999-12-31', 15, 5 )
( 130, 'Taylor Gray', '1978-08-03','F', '2020-03-16', '2999-12-31', 6, 9 )
( 131, 'Jennifer Rosales', '1978-03-31','F', '2021-04-09', '2999-12-31', 15, 7 )
( 132, 'Joshua Peterson', '1974-05-19','O', '2019-07-15', '2999-12-31', 10, 7 )
( 133, 'Kimberly Hoffman', '1959-06-24','O', '2022-10-26', '2999-12-31', 2, 8 )
( 134, 'Alexa Matthews', '1967-08-12','M', '2022-03-11', '2999-12-31', 12, 9 )
( 135, 'Karen Roberts', '1997-03-25','M', '2020-05-01', '2999-12-31', 17, 5 )
( 136, 'Blake Ryan', '2000-09-25','F', '2021-12-31', '2999-12-31', 8, 1 )
( 137, 'Sarah Vazquez', '1964-04-20','M', '2021-10-19', '2999-12-31', 12, 9 )
( 138, 'Tanner Peters', '1965-10-19','F', '2019-11-06', '2999-12-31', 3, 9 )
( 139, 'Melinda Schmidt', '1978-03-01','O', '2020-05-29', '2999-12-31', 10, 9 )
( 140, 'Christina Williams', '1954-07-23','O', '2022-12-04', '2999-12-31', 10, 8 )
( 141, 'Kimberly Hudson', '1984-11-12','M', '2020-10-24', '2999-12-31', 4, 6 )
( 142, 'Heather Stevenson', '1999-02-11','M', '2021-07-24', '2999-12-31', 16, 1 )
( 143, 'Victoria Knox', '1995-12-29','O', '2021-12-22', '2999-12-31', 4, 4 )
( 144, 'Vincent Shannon', '1960-06-16','F', '2022-03-15', '2999-12-31', 7, 7 )
( 145, 'Jennifer Jones', '1988-04-30','M', '2020-10-21', '2999-12-31', 1, 5 )
( 146, 'David Hughes', '1968-02-04','F', '2022-02-22', '2999-12-31', 4, 9 )
( 147, 'Melanie Soto', '1950-02-21','O', '2019-12-12', '2999-12-31', 4, 9 )
( 148, 'Heather Ramos', '1958-05-07','O', '2023-01-09', '2999-12-31', 7, 8 )
( 149, 'Zachary Yu', '1968-01-17','O', '2018-12-23', '2999-12-31', 3, 8 )
( 150, 'Erin Gomez', '1980-12-08','M', '2023-02-03', '2999-12-31', 10, 4 )
( 151, 'Andrew Murillo', '2003-07-30','M', '2021-12-31', '2999-12-31', 11, 1 )
( 152, 'Michael Watkins', '1957-03-31','M', '2019-10-27', '2999-12-31', 6, 7 )
( 153, 'Christopher Thompson', '1974-02-18','M', '2019-11-30', '2999-12-31', 14, 9 )
( 154, 'Elizabeth Nelson', '1972-06-25','O', '2022-08-14', '2999-12-31', 4, 7 )
( 155, 'Marc Ortiz MD', '1951-02-17','O', '2021-12-24', '2999-12-31', 10, 8 )
( 156, 'Michael Douglas', '1977-01-07','M', '2019-11-13', '2999-12-31', 1, 7 )
( 157, 'Brittney Willis', '1999-03-28','F', '2021-09-11', '2999-12-31', 16, 1 )
( 158, 'Gail Carlson', '2002-12-13','F', '2022-09-09', '2999-12-31', 13, 2 )
( 159, 'Jeffrey Lowe', '1993-07-16','F', '2022-12-04', '2999-12-31', 11, 5 )
( 160, 'Sherri Giles', '1951-12-31','F', '2019-04-29', '2999-12-31', 14, 7 )
( 161, 'Mason Wolfe', '1993-09-02','M', '2023-04-10', '2999-12-31', 9, 6 )
( 162, 'Mr. Michael Campbell', '1960-04-06','F', '2022-07-19', '2999-12-31', 7, 8 )
( 163, 'Adam Mendez', '1976-09-28','M', '2020-11-08', '2999-12-31', 7, 8 )
( 164, 'Ashley Scott', '1984-01-07','M', '2019-06-12', '2999-12-31', 10, 5 )
( 165, 'Charlotte Love', '1986-10-15','O', '2022-06-24', '2999-12-31', 16, 4 )
( 166, 'Debra Brooks', '1977-12-06','M', '2019-02-03', '2999-12-31', 8, 7 )
( 167, 'Eric Cline', '1972-02-18','M', '2019-05-14', '2999-12-31', 8, 9 )
( 168, 'Robert Stokes', '1970-08-29','F', '2020-08-30', '2999-12-31', 13, 9 )
( 169, 'Diana Perkins', '1953-01-31','M', '2020-02-22', '2999-12-31', 10, 7 )
( 170, 'Jeffrey Walker', '1965-06-04','O', '2019-01-22', '2999-12-31', 6, 7 )
( 171, 'Katherine Ross', '1994-08-02','F', '2020-12-10', '2999-12-31', 1, 4 )
( 172, 'Jenny Gonzales', '2000-09-25','M', '2019-02-05', '2999-12-31', 17, 3 )
( 173, 'Julie Johnson', '1981-10-08','F', '2019-06-08', '2999-12-31', 9, 6 )
( 174, 'Carolyn Warren', '1972-12-21','M', '2020-03-29', '2999-12-31', 11, 7 )
( 175, 'Robert Palmer', '1964-08-25','O', '2023-02-12', '2999-12-31', 11, 7 )
( 176, 'William Leblanc', '2000-09-03','M', '2022-04-04', '2999-12-31', 4, 1 )
( 177, 'Mrs. Sarah Snow', '1957-03-22','O', '2022-01-25', '2999-12-31', 17, 9 )
( 178, 'Patricia Sanders', '1978-07-19','M', '2021-09-29', '2999-12-31', 11, 9 )
( 179, 'Danielle Thornton', '1962-02-22','O', '2021-06-23', '2999-12-31', 9, 7 )
( 180, 'Michele Le', '1996-04-23','M', '2022-04-18', '2999-12-31', 12, 5 )
( 181, 'Matthew Howard', '1968-05-20','M', '2020-09-29', '2999-12-31', 3, 9 )
( 182, 'David White', '1961-12-03','O', '2019-06-21', '2999-12-31', 3, 7 )
( 183, 'Melissa Smith', '1981-05-06','F', '2018-12-22', '2999-12-31', 10, 4 )
( 184, 'Jessica Davila', '1981-04-02','O', '2020-05-29', '2999-12-31', 4, 5 )
( 185, 'Pamela Vasquez', '1951-03-31','F', '2020-06-02', '2999-12-31', 5, 9 )
( 186, 'Donna Williams', '2001-09-01','F', '2021-04-30', '2999-12-31', 5, 3 )
( 187, 'Rebecca Taylor', '1968-11-01','M', '2020-04-22', '2999-12-31', 4, 7 )
( 188, 'Hannah Jones', '1992-08-31','F', '2022-04-06', '2999-12-31', 7, 6 )
( 189, 'Tamara Allison', '2001-07-17','O', '2020-12-23', '2999-12-31', 16, 3 )
( 190, 'Mrs. Tanya Miller DVM', '1978-09-01','M', '2020-10-29', '2999-12-31', 1, 8 )
( 191, 'Tina Anderson', '1972-04-02','F', '2023-01-09', '2999-12-31', 2, 7 )
( 192, 'Sarah Moran', '1974-08-06','F', '2020-12-30', '2999-12-31', 1, 8 )
( 193, 'Karen Ryan', '1950-08-22','O', '2020-05-06', '2999-12-31', 3, 9 )
( 194, 'Dawn Tucker', '1959-10-18','O', '2023-02-28', '2999-12-31', 16, 9 )
( 195, 'Michelle Marquez', '1951-09-28','M', '2019-07-23', '2999-12-31', 7, 9 )
( 196, 'Sherri Johnson', '1993-01-02','F', '2019-11-03', '2999-12-31', 14, 5 )
( 197, 'Carolyn Sims', '1974-07-24','M', '2020-10-11', '2999-12-31', 9, 7 )
( 198, 'Michael Lloyd', '1984-11-09','O', '2019-04-11', '2999-12-31', 16, 4 )
( 199, 'Audrey Collins', '1990-06-26','O', '2019-03-06', '2999-12-31', 8, 4 )
( 200, 'Michael Peterson', '1999-07-20','M', '2021-05-16', '2999-12-31', 3, 3 )
( 201, 'Juan Acosta', '2003-05-20','F', '2019-10-21', '2999-12-31', 15, 1 )
( 202, 'Mary Brown', '1987-08-03','M', '2021-07-30', '2999-12-31', 9, 4 )
( 203, 'Benjamin Morrison', '1974-03-15','O', '2022-01-03', '2999-12-31', 11, 8 )
( 204, 'Diana Parsons', '1983-01-26','M', '2022-06-05', '2999-12-31', 6, 5 )
( 205, 'Leslie Hodge', '1996-11-19','O', '2019-11-18', '2999-12-31', 10, 5 )
( 206, 'Sarah Moore', '1952-09-03','F', '2023-03-17', '2999-12-31', 9, 8 )
( 207, 'Heidi Pena', '1986-12-08','O', '2019-03-06', '2999-12-31', 4, 4 )
( 208, 'Ryan Miller', '1974-02-18','O', '2020-02-15', '2999-12-31', 16, 9 )
( 209, 'Kyle Jones', '1961-09-28','O', '2020-12-17', '2999-12-31', 7, 9 )
( 210, 'Rachel Richards', '1984-04-30','O', '2021-03-08', '2999-12-31', 7, 4 )
( 211, 'Jose Clark', '1964-10-08','O', '2021-05-15', '2999-12-31', 11, 9 )
( 212, 'Nancy Solis', '1955-04-15','M', '2020-01-12', '2999-12-31', 17, 7 )
( 213, 'Lisa Chavez', '1965-06-26','O', '2022-09-22', '2999-12-31', 5, 9 )
( 214, 'Mary Edwards', '1961-06-15','O', '2019-04-04', '2999-12-31', 7, 8 )
( 215, 'Frank Garrison', '1962-12-15','M', '2020-07-16', '2999-12-31', 4, 8 )
( 216, 'James Wallace', '2004-07-25','M', '2023-03-07', '2999-12-31', 9, 1 )
( 217, 'Thomas Campbell', '2001-10-29','O', '2021-05-31', '2999-12-31', 1, 3 )
( 218, 'Sarah Young', '2000-03-16','F', '2020-02-14', '2999-12-31', 7, 1 )
( 219, 'Alexandra Perkins', '1970-08-28','F', '2022-09-09', '2999-12-31', 13, 7 )
( 220, 'Drew Smith', '1956-09-06','O', '2019-03-09', '2999-12-31', 2, 8 )
( 221, 'Lisa Martin', '1987-07-03','O', '2022-06-29', '2999-12-31', 11, 5 )
( 222, 'Chad French', '1952-08-21','F', '2021-07-06', '2999-12-31', 5, 9 )
( 223, 'Hannah Rocha', '1963-11-12','M', '2020-11-04', '2999-12-31', 6, 9 )
( 224, 'Brittney Thomas', '1989-03-02','F', '2023-01-19', '2999-12-31', 15, 4 )
( 225, 'Andrew Williams', '1997-12-02','O', '2023-04-30', '2999-12-31', 11, 6 )
( 226, 'Elizabeth Lewis', '1994-01-11','F', '2022-03-23', '2999-12-31', 5, 5 )
( 227, 'Candice Murray', '1954-05-09','F', '2019-06-12', '2999-12-31', 9, 7 )
( 228, 'Jamie Mcdonald', '1976-08-09','F', '2020-01-16', '2999-12-31', 16, 9 )
( 229, 'Erin Gonzalez', '1997-04-22','F', '2021-02-16', '2999-12-31', 3, 4 )
( 230, 'Patricia Nunez', '1952-11-10','F', '2022-12-29', '2999-12-31', 16, 7 )
( 231, 'Billy Santos', '1959-09-30','O', '2023-05-06', '2999-12-31', 15, 7 )
( 232, 'Jason Sandoval', '1960-07-12','O', '2021-05-02', '2999-12-31', 3, 7 )
( 233, 'Mrs. Carolyn Pope', '1956-12-28','M', '2023-05-06', '2999-12-31', 12, 9 )
( 234, 'Sherry Rhodes', '1973-04-13','M', '2021-11-04', '2999-12-31', 13, 7 )
( 235, 'Deborah Williams', '1982-09-22','O', '2020-01-22', '2999-12-31', 14, 6 )
( 236, 'Mark Owens', '1983-08-18','O', '2021-10-17', '2999-12-31', 6, 5 )
( 237, 'Linda Brown', '2000-12-19','F', '2022-05-06', '2999-12-31', 14, 3 )
( 238, 'Christina Hernandez', '1999-11-18','F', '2021-12-18', '2999-12-31', 5, 3 )
( 239, 'Jennifer Sullivan', '1972-06-05','O', '2022-02-26', '2999-12-31', 11, 9 )
( 240, 'Andrew Sanchez', '1955-02-14','M', '2022-02-12', '2999-12-31', 4, 7 )
( 241, 'Christopher Martin', '1959-12-28','F', '2023-02-08', '2999-12-31', 15, 8 )
( 242, 'John Christensen', '1971-09-02','M', '2019-04-08', '2999-12-31', 9, 8 )
( 243, 'James York', '1966-02-12','M', '2019-10-10', '2999-12-31', 10, 9 )
( 244, 'Victor Roberts', '1976-06-05','O', '2021-09-01', '2999-12-31', 7, 8 )
( 245, 'Paula Morales', '1972-12-16','O', '2022-10-25', '2999-12-31', 6, 9 )
( 246, 'James Sanchez', '1973-01-03','M', '2022-09-26', '2999-12-31', 3, 9 )
( 247, 'Erika Brown', '1996-08-01','O', '2023-05-08', '2999-12-31', 8, 5 )
( 248, 'William Wells', '1969-06-22','F', '2020-11-11', '2999-12-31', 1, 7 )
( 249, 'Elizabeth Owen', '2001-11-02','M', '2020-02-23', '2999-12-31', 14, 1 )
( 250, 'John Henderson', '1962-09-06','F', '2022-09-13', '2999-12-31', 10, 7 )
( 251, 'Brenda May', '1989-07-10','F', '2023-03-10', '2999-12-31', 6, 6 )
( 252, 'Richard Hoover', '1980-02-13','O', '2021-04-10', '2999-12-31', 6, 6 )
( 253, 'Christina Clark', '1976-08-05','M', '2019-04-22', '2999-12-31', 15, 8 )
( 254, 'Brian Smith', '1992-03-25','F', '2019-12-05', '2999-12-31', 13, 4 )
( 255, 'James Garcia', '1958-05-21','O', '2019-08-04', '2999-12-31', 3, 7 )
( 256, 'Nicole Arias', '1959-08-18','O', '2022-09-25', '2999-12-31', 16, 7 )
( 257, 'Jacob Taylor', '1963-09-10','O', '2023-04-02', '2999-12-31', 16, 8 )
( 258, 'Andrew Dalton', '1978-06-02','F', '2022-06-06', '2999-12-31', 2, 9 )

In [36]:
## MAKE INSERT STATEMENT
insert_sql = f'{HEADER}'
insert_sql += ',\n'.join([ROW.format(**user) for user in insert_users])
insert_sql += ';'
print(insert_sql)

INSERT INTO public."User"(
	"Id", "Name", "BirthDate", "Gender", "ValidFrom", "ValidTo", "LocationId", "SegmentId") VALUES
( 1, 'Ryan Pearson', '1959-10-22','F', '2022-08-03', '2999-12-31', 15, 7 ),
( 2, 'Robyn Daniels', '1974-10-30','F', '2022-02-21', '2999-12-31', 12, 8 ),
( 3, 'Joseph Banks', '1962-09-14','M', '2021-04-07', '2999-12-31', 12, 9 ),
( 4, 'Jasmine Park', '1955-11-02','M', '2022-11-30', '2999-12-31', 7, 9 ),
( 5, 'Christopher Hall', '1953-02-02','F', '2023-06-18', '2999-12-31', 10, 7 ),
( 6, 'Valerie Little', '1956-08-06','M', '2023-01-12', '2999-12-31', 11, 9 ),
( 7, 'Jean Day', '1987-01-09','O', '2023-05-21', '2999-12-31', 1, 6 ),
( 8, 'Jeanette Valencia', '1955-10-26','M', '2019-03-22', '2999-12-31', 12, 9 ),
( 9, 'Felicia Mcmillan', '1951-11-09','F', '2020-04-18', '2999-12-31', 11, 7 ),
( 10, 'Tammy Thomas', '1999-08-08','O', '2023-01-16', '2999-12-31', 11, 3 ),
( 11, 'Megan Larson', '1972-07-19','F', '2021-03-16', '2999-12-31', 17, 7 ),
( 12, 'Larry Nguyen', '1973-02-23','F', '2020-08-29', '2999-12-31', 15, 9 ),
( 13, 'David Hernandez', '1970-11-14','F', '2019-09-25', '2999-12-31', 13, 8 ),
( 14, 'Jesse Kim DDS', '1971-01-12','M', '2020-10-26', '2999-12-31', 16, 8 ),
( 15, 'Howard Wilson', '1978-12-29','O', '2021-05-11', '2999-12-31', 3, 6 ),
( 16, 'Laura Steele', '2003-03-03','O', '2021-10-01', '2999-12-31', 10, 2 ),
( 17, 'Katelyn Trevino', '1968-05-06','O', '2019-10-02', '2999-12-31', 14, 7 ),
( 18, 'Gary Collins', '1991-09-02','M', '2020-05-21', '2999-12-31', 4, 4 ),
( 19, 'Alisha Cox', '1978-11-11','F', '2022-10-23', '2999-12-31', 11, 8 ),
( 20, 'Antonio Powers Jr.', '1994-11-15','O', '2020-04-08', '2999-12-31', 7, 4 ),
( 21, 'Ashley Padilla', '1981-05-10','M', '2020-04-04', '2999-12-31', 1, 5 ),
( 22, 'Jeffrey Thompson', '1966-08-19','F', '2021-08-26', '2999-12-31', 9, 8 ),
( 23, 'Jerry Patel', '1999-05-02','F', '2023-05-09', '2999-12-31', 17, 1 ),
( 24, 'John Jones Jr.', '2004-08-07','F', '2022-05-12', '2999-12-31', 12, 1 ),
( 25, 'Jennifer Jimenez', '1987-01-11','M', '2019-04-19', '2999-12-31', 14, 4 ),
( 26, 'Joshua Rogers', '1953-10-07','F', '2023-01-14', '2999-12-31', 9, 8 ),
( 27, 'Jason Woods', '1962-07-24','F', '2022-12-17', '2999-12-31', 8, 7 ),
( 28, 'Anthony Knight', '1993-07-31','M', '2023-03-16', '2999-12-31', 15, 4 ),
( 29, 'Kevin Clark', '1960-12-16','O', '2019-04-13', '2999-12-31', 11, 9 ),
( 30, 'Erica Wright', '1965-01-17','M', '2021-02-11', '2999-12-31', 17, 9 ),
( 31, 'Christian Bennett', '1989-06-03','M', '2019-03-16', '2999-12-31', 14, 6 ),
( 32, 'Linda Lewis', '1980-10-02','O', '2020-06-19', '2999-12-31', 13, 4 ),
( 33, 'Jacob Wilson', '1977-03-24','F', '2021-08-28', '2999-12-31', 13, 7 ),
( 34, 'Cynthia Rodriguez', '1989-05-08','M', '2022-04-30', '2999-12-31', 4, 4 ),
( 35, 'Kathy Weaver', '1977-10-28','O', '2019-03-10', '2999-12-31', 11, 7 ),
( 36, 'Monica Rodriguez', '1956-07-11','M', '2021-01-23', '2999-12-31', 9, 7 ),
( 37, 'James Luna', '1957-08-23','M', '2020-07-22', '2999-12-31', 7, 9 ),
( 38, 'Paul Washington', '1980-04-12','O', '2022-12-04', '2999-12-31', 3, 5 ),
( 39, 'Miranda Graham', '1996-12-20','M', '2021-07-06', '2999-12-31', 1, 6 ),
( 40, 'Edward Scott', '1950-08-02','M', '2021-01-15', '2999-12-31', 11, 7 ),
( 41, 'Abigail Ramos', '1986-03-18','M', '2021-01-03', '2999-12-31', 5, 5 ),
( 42, 'Brian Kidd III', '1955-03-27','O', '2023-05-14', '2999-12-31', 8, 7 ),
( 43, 'Brandon Stevenson', '1997-10-07','O', '2020-05-22', '2999-12-31', 3, 4 ),
( 44, 'Patricia Chavez', '1991-05-23','M', '2022-01-14', '2999-12-31', 8, 4 ),
( 45, 'Michelle Rivera', '1967-05-04','M', '2019-12-13', '2999-12-31', 14, 8 ),
( 46, 'Victoria White', '1993-03-16','F', '2021-11-11', '2999-12-31', 4, 4 ),
( 47, 'Lucas Townsend', '2003-08-08','O', '2023-05-30', '2999-12-31', 13, 2 ),
( 48, 'Leah Baker', '2002-11-26','O', '2023-02-10', '2999-12-31', 10, 2 ),
( 49, 'Robert Smith', '2004-07-07','O', '2019-01-17', '2999-12-31', 13, 2 ),
( 50, 'Danny Peterson', '1973-12-21','O', '2021-06-10', '2999-12-31', 6, 7 ),
( 51, 'Mr. Sean Anderson III', '1956-08-09','M', '2019-04-08', '2999-12-31', 12, 9 ),
( 52, 'Marc Ellison', '1958-06-14','M', '2021-08-19', '2999-12-31', 13, 7 ),
( 53, 'Gerald Perez', '1950-11-24','F', '2019-05-30', '2999-12-31', 13, 9 ),
( 54, 'Desiree Gates', '1973-12-26','O', '2021-11-21', '2999-12-31', 9, 9 ),
( 55, 'Shannon George', '2003-01-17','O', '2023-03-17', '2999-12-31', 9, 1 ),
( 56, 'Robert Walsh', '1996-05-15','F', '2022-08-03', '2999-12-31', 13, 5 ),
( 57, 'Michael Crane', '1995-04-17','O', '2019-01-01', '2999-12-31', 9, 5 ),
( 58, 'Barry Woodard', '1981-12-04','F', '2022-08-21', '2999-12-31', 15, 5 ),
( 59, 'Emily Hutchinson', '1966-03-03','M', '2020-11-17', '2999-12-31', 12, 9 ),
( 60, 'Thomas Lee', '2004-07-01','M', '2022-07-14', '2999-12-31', 14, 3 ),
( 61, 'Andrea Smith', '1965-02-01','M', '2020-12-12', '2999-12-31', 7, 8 ),
( 62, 'Gregory Tucker', '1980-06-20','M', '2022-07-15', '2999-12-31', 5, 4 ),
( 63, 'Carl Sanders', '1996-03-15','O', '2020-02-26', '2999-12-31', 10, 6 ),
( 64, 'Sandra Chan', '1996-11-10','M', '2020-06-03', '2999-12-31', 6, 4 ),
( 65, 'Denise Wilson', '1993-10-21','O', '2023-06-06', '2999-12-31', 17, 4 ),
( 66, 'William Ramos', '1958-02-20','F', '2022-04-03', '2999-12-31', 10, 7 ),
( 67, 'Stephanie Taylor', '1950-03-26','F', '2020-09-05', '2999-12-31', 8, 7 ),
( 68, 'Jennifer Flores', '1979-04-27','O', '2021-09-29', '2999-12-31', 4, 6 ),
( 69, 'Holly Hopkins', '1993-08-21','M', '2020-12-26', '2999-12-31', 9, 5 ),
( 70, 'Terry Stanton', '1958-03-21','F', '2021-09-18', '2999-12-31', 5, 7 ),
( 71, 'Julie Robinson', '1951-02-04','M', '2022-11-12', '2999-12-31', 8, 9 ),
( 72, 'Brian Kim', '1955-04-16','F', '2021-05-30', '2999-12-31', 17, 7 ),
( 73, 'Pamela White', '1951-10-27','O', '2021-06-14', '2999-12-31', 5, 7 ),
( 74, 'Michael Castillo', '1978-08-21','M', '2020-12-25', '2999-12-31', 12, 9 ),
( 75, 'Sharon Parker', '1991-08-09','F', '2020-06-27', '2999-12-31', 7, 5 ),
( 76, 'Matthew Porter', '1974-01-18','F', '2021-12-14', '2999-12-31', 3, 8 ),
( 77, 'Derek Levine', '1984-08-15','M', '2022-08-31', '2999-12-31', 3, 5 ),
( 78, 'Carla Franklin', '1992-04-12','F', '2022-11-10', '2999-12-31', 14, 5 ),
( 79, 'Leah Mcdonald', '1976-02-24','M', '2022-08-07', '2999-12-31', 7, 9 ),
( 80, 'William Davis', '1991-03-16','O', '2021-01-01', '2999-12-31', 1, 4 ),
( 81, 'Aaron Thomas', '1992-10-22','F', '2019-04-05', '2999-12-31', 11, 6 ),
( 82, 'Cindy Garcia', '1951-07-20','M', '2019-06-29', '2999-12-31', 11, 8 ),
( 83, 'Richard Mcclure', '1999-02-06','F', '2023-02-19', '2999-12-31', 2, 1 ),
( 84, 'Dana Johnson', '1978-12-26','M', '2021-06-04', '2999-12-31', 2, 7 ),
( 85, 'Misty Bailey', '1959-05-04','O', '2019-03-04', '2999-12-31', 15, 7 ),
( 86, 'Andrew Martin', '1956-11-24','M', '2020-06-05', '2999-12-31', 13, 7 ),
( 87, 'Felicia Doyle', '1986-02-25','F', '2022-09-02', '2999-12-31', 16, 5 ),
( 88, 'Robert Hall', '1952-03-29','F', '2021-10-10', '2999-12-31', 5, 9 ),
( 89, 'Rebecca Herrera', '1968-01-30','O', '2021-03-12', '2999-12-31', 15, 7 ),
( 90, 'Robert Brewer', '1970-01-27','F', '2022-10-17', '2999-12-31', 3, 7 ),
( 91, 'Kathryn Roman', '1995-10-02','M', '2019-04-20', '2999-12-31', 3, 5 ),
( 92, 'Nina Smith', '1959-12-14','O', '2023-01-18', '2999-12-31', 10, 8 ),
( 93, 'Tiffany Watkins', '1976-10-06','O', '2021-04-06', '2999-12-31', 3, 8 ),
( 94, 'Rebekah Winters', '1993-11-30','O', '2023-02-09', '2999-12-31', 10, 6 ),
( 95, 'Sandra Baker', '1981-02-02','F', '2019-07-27', '2999-12-31', 1, 5 ),
( 96, 'Matthew White', '1964-01-30','F', '2022-05-31', '2999-12-31', 1, 9 ),
( 97, 'Michael Clark', '1996-03-20','F', '2022-06-08', '2999-12-31', 7, 5 ),
( 98, 'Seth Smith', '1970-06-10','F', '2020-10-22', '2999-12-31', 1, 8 ),
( 99, 'Mary Johnson', '1991-12-20','O', '2019-10-07', '2999-12-31', 4, 5 ),
( 100, 'Bianca Mckay', '1981-04-16','M', '2021-12-27', '2999-12-31', 11, 4 ),
( 101, 'Jennifer Jones', '1973-06-05','F', '2019-03-15', '2999-12-31', 16, 7 ),
( 102, 'Daniel Howard', '1986-12-07','O', '2019-03-01', '2999-12-31', 14, 4 ),
( 103, 'Michael Smith', '1990-09-02','M', '2023-04-22', '2999-12-31', 12, 6 ),
( 104, 'Anna Jimenez', '1978-05-22','M', '2019-12-14', '2999-12-31', 14, 8 ),
( 105, 'Mrs. Sherry Fleming', '1984-08-23','M', '2020-06-09', '2999-12-31', 1, 5 ),
( 106, 'Donna Lester', '1985-08-27','M', '2020-03-04', '2999-12-31', 3, 6 ),
( 107, 'Sarah Baker', '1976-06-27','O', '2020-02-05', '2999-12-31', 11, 9 ),
( 108, 'Natalie Conley', '1978-10-07','O', '2019-08-27', '2999-12-31', 12, 9 ),
( 109, 'Vickie Bradshaw', '1998-05-08','O', '2022-08-08', '2999-12-31', 15, 6 ),
( 110, 'Melissa Dodson', '1965-09-17','O', '2020-08-04', '2999-12-31', 9, 7 ),
( 111, 'Daniel Calhoun', '1978-10-06','O', '2022-03-27', '2999-12-31', 4, 9 ),
( 112, 'Alan Moody', '1995-07-20','F', '2021-01-06', '2999-12-31', 9, 6 ),
( 113, 'Kevin Woods', '1982-04-06','F', '2020-05-19', '2999-12-31', 11, 5 ),
( 114, 'Susan Schultz', '1984-12-15','O', '2020-02-19', '2999-12-31', 7, 4 ),
( 115, 'Natalie Norton', '1957-04-20','M', '2021-09-20', '2999-12-31', 6, 8 ),
( 116, 'Kathy Solis', '1953-08-15','O', '2023-02-12', '2999-12-31', 8, 7 ),
( 117, 'Andrea Bishop', '1953-08-17','M', '2022-01-03', '2999-12-31', 3, 9 ),
( 118, 'Mark Garrett', '1951-09-11','F', '2022-03-19', '2999-12-31', 16, 7 ),
( 119, 'Sarah Hernandez', '1979-04-01','F', '2020-05-21', '2999-12-31', 15, 5 ),
( 120, 'David Watkins', '1983-06-21','F', '2021-04-26', '2999-12-31', 16, 5 ),
( 121, 'Holly Brown', '1968-10-26','M', '2021-11-11', '2999-12-31', 11, 9 ),
( 122, 'Brandi Bond', '1971-09-04','O', '2019-10-18', '2999-12-31', 11, 7 ),
( 123, 'Ryan Riley', '1997-05-14','F', '2020-02-19', '2999-12-31', 15, 6 ),
( 124, 'Meghan Dodson', '1999-01-13','O', '2022-07-20', '2999-12-31', 16, 3 ),
( 125, 'Robyn Anderson', '1959-06-18','M', '2019-03-23', '2999-12-31', 1, 7 ),
( 126, 'Jack Reeves', '1983-08-12','F', '2018-12-22', '2999-12-31', 4, 6 ),
( 127, 'John Moody', '1995-12-12','M', '2022-01-09', '2999-12-31', 7, 4 ),
( 128, 'Megan Cunningham', '1982-07-19','M', '2022-08-31', '2999-12-31', 8, 5 ),
( 129, 'Samantha Smith', '1987-10-23','M', '2020-06-11', '2999-12-31', 15, 5 ),
( 130, 'Taylor Gray', '1978-08-03','F', '2020-03-16', '2999-12-31', 6, 9 ),
( 131, 'Jennifer Rosales', '1978-03-31','F', '2021-04-09', '2999-12-31', 15, 7 ),
( 132, 'Joshua Peterson', '1974-05-19','O', '2019-07-15', '2999-12-31', 10, 7 ),
( 133, 'Kimberly Hoffman', '1959-06-24','O', '2022-10-26', '2999-12-31', 2, 8 ),
( 134, 'Alexa Matthews', '1967-08-12','M', '2022-03-11', '2999-12-31', 12, 9 ),
( 135, 'Karen Roberts', '1997-03-25','M', '2020-05-01', '2999-12-31', 17, 5 ),
( 136, 'Blake Ryan', '2000-09-25','F', '2021-12-31', '2999-12-31', 8, 1 ),
( 137, 'Sarah Vazquez', '1964-04-20','M', '2021-10-19', '2999-12-31', 12, 9 ),
( 138, 'Tanner Peters', '1965-10-19','F', '2019-11-06', '2999-12-31', 3, 9 ),
( 139, 'Melinda Schmidt', '1978-03-01','O', '2020-05-29', '2999-12-31', 10, 9 ),
( 140, 'Christina Williams', '1954-07-23','O', '2022-12-04', '2999-12-31', 10, 8 ),
( 141, 'Kimberly Hudson', '1984-11-12','M', '2020-10-24', '2999-12-31', 4, 6 ),
( 142, 'Heather Stevenson', '1999-02-11','M', '2021-07-24', '2999-12-31', 16, 1 ),
( 143, 'Victoria Knox', '1995-12-29','O', '2021-12-22', '2999-12-31', 4, 4 ),
( 144, 'Vincent Shannon', '1960-06-16','F', '2022-03-15', '2999-12-31', 7, 7 ),
( 145, 'Jennifer Jones', '1988-04-30','M', '2020-10-21', '2999-12-31', 1, 5 ),
( 146, 'David Hughes', '1968-02-04','F', '2022-02-22', '2999-12-31', 4, 9 ),
( 147, 'Melanie Soto', '1950-02-21','O', '2019-12-12', '2999-12-31', 4, 9 ),
( 148, 'Heather Ramos', '1958-05-07','O', '2023-01-09', '2999-12-31', 7, 8 ),
( 149, 'Zachary Yu', '1968-01-17','O', '2018-12-23', '2999-12-31', 3, 8 ),
( 150, 'Erin Gomez', '1980-12-08','M', '2023-02-03', '2999-12-31', 10, 4 ),
( 151, 'Andrew Murillo', '2003-07-30','M', '2021-12-31', '2999-12-31', 11, 1 ),
( 152, 'Michael Watkins', '1957-03-31','M', '2019-10-27', '2999-12-31', 6, 7 ),
( 153, 'Christopher Thompson', '1974-02-18','M', '2019-11-30', '2999-12-31', 14, 9 ),
( 154, 'Elizabeth Nelson', '1972-06-25','O', '2022-08-14', '2999-12-31', 4, 7 ),
( 155, 'Marc Ortiz MD', '1951-02-17','O', '2021-12-24', '2999-12-31', 10, 8 ),
( 156, 'Michael Douglas', '1977-01-07','M', '2019-11-13', '2999-12-31', 1, 7 ),
( 157, 'Brittney Willis', '1999-03-28','F', '2021-09-11', '2999-12-31', 16, 1 ),
( 158, 'Gail Carlson', '2002-12-13','F', '2022-09-09', '2999-12-31', 13, 2 ),
( 159, 'Jeffrey Lowe', '1993-07-16','F', '2022-12-04', '2999-12-31', 11, 5 ),
( 160, 'Sherri Giles', '1951-12-31','F', '2019-04-29', '2999-12-31', 14, 7 ),
( 161, 'Mason Wolfe', '1993-09-02','M', '2023-04-10', '2999-12-31', 9, 6 ),
( 162, 'Mr. Michael Campbell', '1960-04-06','F', '2022-07-19', '2999-12-31', 7, 8 ),
( 163, 'Adam Mendez', '1976-09-28','M', '2020-11-08', '2999-12-31', 7, 8 ),
( 164, 'Ashley Scott', '1984-01-07','M', '2019-06-12', '2999-12-31', 10, 5 ),
( 165, 'Charlotte Love', '1986-10-15','O', '2022-06-24', '2999-12-31', 16, 4 ),
( 166, 'Debra Brooks', '1977-12-06','M', '2019-02-03', '2999-12-31', 8, 7 ),
( 167, 'Eric Cline', '1972-02-18','M', '2019-05-14', '2999-12-31', 8, 9 ),
( 168, 'Robert Stokes', '1970-08-29','F', '2020-08-30', '2999-12-31', 13, 9 ),
( 169, 'Diana Perkins', '1953-01-31','M', '2020-02-22', '2999-12-31', 10, 7 ),
( 170, 'Jeffrey Walker', '1965-06-04','O', '2019-01-22', '2999-12-31', 6, 7 ),
( 171, 'Katherine Ross', '1994-08-02','F', '2020-12-10', '2999-12-31', 1, 4 ),
( 172, 'Jenny Gonzales', '2000-09-25','M', '2019-02-05', '2999-12-31', 17, 3 ),
( 173, 'Julie Johnson', '1981-10-08','F', '2019-06-08', '2999-12-31', 9, 6 ),
( 174, 'Carolyn Warren', '1972-12-21','M', '2020-03-29', '2999-12-31', 11, 7 ),
( 175, 'Robert Palmer', '1964-08-25','O', '2023-02-12', '2999-12-31', 11, 7 ),
( 176, 'William Leblanc', '2000-09-03','M', '2022-04-04', '2999-12-31', 4, 1 ),
( 177, 'Mrs. Sarah Snow', '1957-03-22','O', '2022-01-25', '2999-12-31', 17, 9 ),
( 178, 'Patricia Sanders', '1978-07-19','M', '2021-09-29', '2999-12-31', 11, 9 ),
( 179, 'Danielle Thornton', '1962-02-22','O', '2021-06-23', '2999-12-31', 9, 7 ),
( 180, 'Michele Le', '1996-04-23','M', '2022-04-18', '2999-12-31', 12, 5 ),
( 181, 'Matthew Howard', '1968-05-20','M', '2020-09-29', '2999-12-31', 3, 9 ),
( 182, 'David White', '1961-12-03','O', '2019-06-21', '2999-12-31', 3, 7 ),
( 183, 'Melissa Smith', '1981-05-06','F', '2018-12-22', '2999-12-31', 10, 4 ),
( 184, 'Jessica Davila', '1981-04-02','O', '2020-05-29', '2999-12-31', 4, 5 ),
( 185, 'Pamela Vasquez', '1951-03-31','F', '2020-06-02', '2999-12-31', 5, 9 ),
( 186, 'Donna Williams', '2001-09-01','F', '2021-04-30', '2999-12-31', 5, 3 ),
( 187, 'Rebecca Taylor', '1968-11-01','M', '2020-04-22', '2999-12-31', 4, 7 ),
( 188, 'Hannah Jones', '1992-08-31','F', '2022-04-06', '2999-12-31', 7, 6 ),
( 189, 'Tamara Allison', '2001-07-17','O', '2020-12-23', '2999-12-31', 16, 3 ),
( 190, 'Mrs. Tanya Miller DVM', '1978-09-01','M', '2020-10-29', '2999-12-31', 1, 8 ),
( 191, 'Tina Anderson', '1972-04-02','F', '2023-01-09', '2999-12-31', 2, 7 ),
( 192, 'Sarah Moran', '1974-08-06','F', '2020-12-30', '2999-12-31', 1, 8 ),
( 193, 'Karen Ryan', '1950-08-22','O', '2020-05-06', '2999-12-31', 3, 9 ),
( 194, 'Dawn Tucker', '1959-10-18','O', '2023-02-28', '2999-12-31', 16, 9 ),
( 195, 'Michelle Marquez', '1951-09-28','M', '2019-07-23', '2999-12-31', 7, 9 ),
( 196, 'Sherri Johnson', '1993-01-02','F', '2019-11-03', '2999-12-31', 14, 5 ),
( 197, 'Carolyn Sims', '1974-07-24','M', '2020-10-11', '2999-12-31', 9, 7 ),
( 198, 'Michael Lloyd', '1984-11-09','O', '2019-04-11', '2999-12-31', 16, 4 ),
( 199, 'Audrey Collins', '1990-06-26','O', '2019-03-06', '2999-12-31', 8, 4 ),
( 200, 'Michael Peterson', '1999-07-20','M', '2021-05-16', '2999-12-31', 3, 3 ),
( 201, 'Juan Acosta', '2003-05-20','F', '2019-10-21', '2999-12-31', 15, 1 ),
( 202, 'Mary Brown', '1987-08-03','M', '2021-07-30', '2999-12-31', 9, 4 ),
( 203, 'Benjamin Morrison', '1974-03-15','O', '2022-01-03', '2999-12-31', 11, 8 ),
( 204, 'Diana Parsons', '1983-01-26','M', '2022-06-05', '2999-12-31', 6, 5 ),
( 205, 'Leslie Hodge', '1996-11-19','O', '2019-11-18', '2999-12-31', 10, 5 ),
( 206, 'Sarah Moore', '1952-09-03','F', '2023-03-17', '2999-12-31', 9, 8 ),
( 207, 'Heidi Pena', '1986-12-08','O', '2019-03-06', '2999-12-31', 4, 4 ),
( 208, 'Ryan Miller', '1974-02-18','O', '2020-02-15', '2999-12-31', 16, 9 ),
( 209, 'Kyle Jones', '1961-09-28','O', '2020-12-17', '2999-12-31', 7, 9 ),
( 210, 'Rachel Richards', '1984-04-30','O', '2021-03-08', '2999-12-31', 7, 4 ),
( 211, 'Jose Clark', '1964-10-08','O', '2021-05-15', '2999-12-31', 11, 9 ),
( 212, 'Nancy Solis', '1955-04-15','M', '2020-01-12', '2999-12-31', 17, 7 ),
( 213, 'Lisa Chavez', '1965-06-26','O', '2022-09-22', '2999-12-31', 5, 9 ),
( 214, 'Mary Edwards', '1961-06-15','O', '2019-04-04', '2999-12-31', 7, 8 ),
( 215, 'Frank Garrison', '1962-12-15','M', '2020-07-16', '2999-12-31', 4, 8 ),
( 216, 'James Wallace', '2004-07-25','M', '2023-03-07', '2999-12-31', 9, 1 ),
( 217, 'Thomas Campbell', '2001-10-29','O', '2021-05-31', '2999-12-31', 1, 3 ),
( 218, 'Sarah Young', '2000-03-16','F', '2020-02-14', '2999-12-31', 7, 1 ),
( 219, 'Alexandra Perkins', '1970-08-28','F', '2022-09-09', '2999-12-31', 13, 7 ),
( 220, 'Drew Smith', '1956-09-06','O', '2019-03-09', '2999-12-31', 2, 8 ),
( 221, 'Lisa Martin', '1987-07-03','O', '2022-06-29', '2999-12-31', 11, 5 ),
( 222, 'Chad French', '1952-08-21','F', '2021-07-06', '2999-12-31', 5, 9 ),
( 223, 'Hannah Rocha', '1963-11-12','M', '2020-11-04', '2999-12-31', 6, 9 ),
( 224, 'Brittney Thomas', '1989-03-02','F', '2023-01-19', '2999-12-31', 15, 4 ),
( 225, 'Andrew Williams', '1997-12-02','O', '2023-04-30', '2999-12-31', 11, 6 ),
( 226, 'Elizabeth Lewis', '1994-01-11','F', '2022-03-23', '2999-12-31', 5, 5 ),
( 227, 'Candice Murray', '1954-05-09','F', '2019-06-12', '2999-12-31', 9, 7 ),
( 228, 'Jamie Mcdonald', '1976-08-09','F', '2020-01-16', '2999-12-31', 16, 9 ),
( 229, 'Erin Gonzalez', '1997-04-22','F', '2021-02-16', '2999-12-31', 3, 4 ),
( 230, 'Patricia Nunez', '1952-11-10','F', '2022-12-29', '2999-12-31', 16, 7 ),
( 231, 'Billy Santos', '1959-09-30','O', '2023-05-06', '2999-12-31', 15, 7 ),
( 232, 'Jason Sandoval', '1960-07-12','O', '2021-05-02', '2999-12-31', 3, 7 ),
( 233, 'Mrs. Carolyn Pope', '1956-12-28','M', '2023-05-06', '2999-12-31', 12, 9 ),
( 234, 'Sherry Rhodes', '1973-04-13','M', '2021-11-04', '2999-12-31', 13, 7 ),
( 235, 'Deborah Williams', '1982-09-22','O', '2020-01-22', '2999-12-31', 14, 6 ),
( 236, 'Mark Owens', '1983-08-18','O', '2021-10-17', '2999-12-31', 6, 5 ),
( 237, 'Linda Brown', '2000-12-19','F', '2022-05-06', '2999-12-31', 14, 3 ),
( 238, 'Christina Hernandez', '1999-11-18','F', '2021-12-18', '2999-12-31', 5, 3 ),
( 239, 'Jennifer Sullivan', '1972-06-05','O', '2022-02-26', '2999-12-31', 11, 9 ),
( 240, 'Andrew Sanchez', '1955-02-14','M', '2022-02-12', '2999-12-31', 4, 7 ),
( 241, 'Christopher Martin', '1959-12-28','F', '2023-02-08', '2999-12-31', 15, 8 ),
( 242, 'John Christensen', '1971-09-02','M', '2019-04-08', '2999-12-31', 9, 8 ),
( 243, 'James York', '1966-02-12','M', '2019-10-10', '2999-12-31', 10, 9 ),
( 244, 'Victor Roberts', '1976-06-05','O', '2021-09-01', '2999-12-31', 7, 8 ),
( 245, 'Paula Morales', '1972-12-16','O', '2022-10-25', '2999-12-31', 6, 9 ),
( 246, 'James Sanchez', '1973-01-03','M', '2022-09-26', '2999-12-31', 3, 9 ),
( 247, 'Erika Brown', '1996-08-01','O', '2023-05-08', '2999-12-31', 8, 5 ),
( 248, 'William Wells', '1969-06-22','F', '2020-11-11', '2999-12-31', 1, 7 ),
( 249, 'Elizabeth Owen', '2001-11-02','M', '2020-02-23', '2999-12-31', 14, 1 ),
( 250, 'John Henderson', '1962-09-06','F', '2022-09-13', '2999-12-31', 10, 7 ),
( 251, 'Brenda May', '1989-07-10','F', '2023-03-10', '2999-12-31', 6, 6 ),
( 252, 'Richard Hoover', '1980-02-13','O', '2021-04-10', '2999-12-31', 6, 6 ),
( 253, 'Christina Clark', '1976-08-05','M', '2019-04-22', '2999-12-31', 15, 8 ),

In [37]:
with open(INSERT_USERS_FILE, 'w') as f:
    f.write(insert_sql)

In [38]:
#### Set user subscriptions
HEADER="""INSERT INTO public."UserSubscription"(
    "UserId", "SubscriptionId", "ValidFrom", "ValidTo") VALUES
"""
ROW="( {user_id}, {subscription_id}, '{from_date}', '{to_date}' )"
SUBSCRIPTIONS_RANGE=(1,3) # 3 subscriptions
CHANGE_SUB_ONE_TIME=0.5
CHANGE_SUB_TWO_TIMES=0.3

In [39]:
# Set initial subs for every user, sharing same start date
insert_subscriptions = []
for user in insert_users:
    insert_subscriptions.append(
        dict(
            user_id=user['user_id'],
            subscription_id=random.randint(*SUBSCRIPTIONS_RANGE),
            from_date=user['from_date'],
            to_date=user['from_date'] + datetime.timedelta(days=round((datetime.date.today() - user['from_date']).days * random.random()))
        )
    )
    print(ROW.format(**insert_subscriptions[-1]))

( 1, 3, '2022-08-03', '2023-02-12' )
( 2, 1, '2022-02-21', '2022-12-19' )
( 3, 3, '2021-04-07', '2023-12-01' )
( 4, 3, '2022-11-30', '2023-04-20' )
( 5, 3, '2023-06-18', '2023-12-09' )
( 6, 2, '2023-01-12', '2023-07-23' )
( 7, 2, '2023-05-21', '2023-06-07' )
( 8, 1, '2019-03-22', '2023-09-30' )
( 9, 1, '2020-04-18', '2023-09-15' )
( 10, 3, '2023-01-16', '2023-02-24' )
( 11, 2, '2021-03-16', '2022-10-25' )
( 12, 1, '2020-08-29', '2020-11-17' )
( 13, 2, '2019-09-25', '2023-12-16' )
( 14, 1, '2020-10-26', '2021-02-17' )
( 15, 3, '2021-05-11', '2022-11-01' )
( 16, 1, '2021-10-01', '2022-04-14' )
( 17, 2, '2019-10-02', '2023-05-13' )
( 18, 1, '2020-05-21', '2021-09-09' )
( 19, 3, '2022-10-23', '2023-11-10' )
( 20, 1, '2020-04-08', '2023-06-15' )
( 21, 2, '2020-04-04', '2021-06-17' )
( 22, 2, '2021-08-26', '2021-12-30' )
( 23, 3, '2023-05-09', '2023-10-13' )
( 24, 1, '2022-05-12', '2022-11-25' )
( 25, 2, '2019-04-19', '2023-02-06' )
( 26, 1, '2023-01-14', '2023-03-09' )
( 27, 1, '2022-12-17', '2023-07-31' )
( 28, 3, '2023-03-16', '2023-08-07' )
( 29, 1, '2019-04-13', '2022-08-12' )
( 30, 2, '2021-02-11', '2022-09-29' )
( 31, 1, '2019-03-16', '2021-03-09' )
( 32, 1, '2020-06-19', '2020-10-29' )
( 33, 3, '2021-08-28', '2022-12-31' )
( 34, 3, '2022-04-30', '2022-07-26' )
( 35, 2, '2019-03-10', '2022-06-07' )
( 36, 2, '2021-01-23', '2023-08-29' )
( 37, 2, '2020-07-22', '2021-08-03' )
( 38, 1, '2022-12-04', '2023-02-19' )
( 39, 3, '2021-07-06', '2022-01-30' )
( 40, 1, '2021-01-15', '2023-11-03' )
( 41, 1, '2021-01-03', '2021-09-29' )
( 42, 1, '2023-05-14', '2023-11-07' )
( 43, 1, '2020-05-22', '2022-05-16' )
( 44, 1, '2022-01-14', '2023-09-14' )
( 45, 1, '2019-12-13', '2021-06-02' )
( 46, 2, '2021-11-11', '2023-10-13' )
( 47, 1, '2023-05-30', '2023-11-21' )
( 48, 3, '2023-02-10', '2023-04-22' )
( 49, 1, '2019-01-17', '2019-01-19' )
( 50, 2, '2021-06-10', '2023-10-23' )
( 51, 3, '2019-04-08', '2022-02-03' )
( 52, 2, '2021-08-19', '2021-12-03' )
( 53, 2, '2019-05-30', '2020-12-12' )
( 54, 2, '2021-11-21', '2023-07-20' )
( 55, 2, '2023-03-17', '2023-11-08' )
( 56, 2, '2022-08-03', '2023-06-04' )
( 57, 1, '2019-01-01', '2022-09-26' )
( 58, 3, '2022-08-21', '2022-10-31' )
( 59, 3, '2020-11-17', '2023-07-21' )
( 60, 2, '2022-07-14', '2023-11-16' )
( 61, 3, '2020-12-12', '2022-07-26' )
( 62, 1, '2022-07-15', '2023-12-12' )
( 63, 1, '2020-02-26', '2021-07-25' )
( 64, 2, '2020-06-03', '2021-09-25' )
( 65, 2, '2023-06-06', '2023-09-21' )
( 66, 2, '2022-04-03', '2022-11-24' )
( 67, 1, '2020-09-05', '2023-04-16' )
( 68, 2, '2021-09-29', '2021-11-21' )
( 69, 3, '2020-12-26', '2023-07-26' )
( 70, 1, '2021-09-18', '2022-05-21' )
( 71, 2, '2022-11-12', '2023-03-30' )
( 72, 2, '2021-05-30', '2022-03-20' )
( 73, 1, '2021-06-14', '2023-11-10' )
( 74, 2, '2020-12-25', '2023-01-05' )
( 75, 3, '2020-06-27', '2023-08-14' )
( 76, 3, '2021-12-14', '2022-10-12' )
( 77, 1, '2022-08-31', '2023-09-22' )
( 78, 3, '2022-11-10', '2023-08-04' )
( 79, 3, '2022-08-07', '2023-02-23' )
( 80, 1, '2021-01-01', '2021-10-10' )
( 81, 3, '2019-04-05', '2020-09-04' )
( 82, 3, '2019-06-29', '2021-11-23' )
( 83, 2, '2023-02-19', '2023-06-04' )
( 84, 3, '2021-06-04', '2022-02-17' )
( 85, 2, '2019-03-04', '2020-12-02' )
( 86, 1, '2020-06-05', '2023-04-17' )
( 87, 3, '2022-09-02', '2023-02-02' )
( 88, 2, '2021-10-10', '2023-12-04' )
( 89, 3, '2021-03-12', '2023-04-06' )
( 90, 3, '2022-10-17', '2023-07-22' )
( 91, 1, '2019-04-20', '2022-11-08' )
( 92, 2, '2023-01-18', '2023-06-02' )
( 93, 3, '2021-04-06', '2023-01-03' )
( 94, 2, '2023-02-09', '2023-11-27' )
( 95, 1, '2019-07-27', '2020-04-19' )
( 96, 2, '2022-05-31', '2023-02-12' )
( 97, 1, '2022-06-08', '2022-08-19' )
( 98, 1, '2020-10-22', '2022-02-11' )
( 99, 1, '2019-10-07', '2022-03-23' )
( 100, 2, '2021-12-27', '2023-06-07' )
( 101, 1, '2019-03-15', '2023-10-24' )
( 102, 2, '2019-03-01', '2021-06-16' )
( 103, 3, '2023-04-22', '2023-06-21' )
( 104, 1, '2019-12-14', '2020-07-05' )
( 105, 3, '2020-06-09', '2022-04-08' )
( 106, 1, '2020-03-04', '2022-10-03' )
( 107, 1, '2020-02-05', '2023-05-31' )
( 108, 1, '2019-08-27', '2020-08-28' )
( 109, 3, '2022-08-08', '2023-11-29' )
( 110, 3, '2020-08-04', '2021-04-19' )
( 111, 1, '2022-03-27', '2023-09-07' )
( 112, 1, '2021-01-06', '2021-12-02' )
( 113, 2, '2020-05-19', '2022-10-09' )
( 114, 1, '2020-02-19', '2022-09-17' )
( 115, 1, '2021-09-20', '2023-08-09' )
( 116, 2, '2023-02-12', '2023-12-15' )
( 117, 2, '2022-01-03', '2022-07-04' )
( 118, 3, '2022-03-19', '2023-10-01' )
( 119, 1, '2020-05-21', '2023-06-28' )
( 120, 1, '2021-04-26', '2022-09-01' )
( 121, 1, '2021-11-11', '2023-08-23' )
( 122, 2, '2019-10-18', '2020-04-13' )
( 123, 3, '2020-02-19', '2023-09-27' )
( 124, 1, '2022-07-20', '2022-10-30' )
( 125, 2, '2019-03-23', '2021-11-16' )
( 126, 1, '2018-12-22', '2023-03-28' )
( 127, 3, '2022-01-09', '2022-12-29' )
( 128, 1, '2022-08-31', '2023-09-09' )
( 129, 2, '2020-06-11', '2021-02-25' )
( 130, 2, '2020-03-16', '2021-09-10' )
( 131, 1, '2021-04-09', '2021-07-25' )
( 132, 3, '2019-07-15', '2023-04-11' )
( 133, 2, '2022-10-26', '2023-10-31' )
( 134, 2, '2022-03-11', '2022-12-16' )
( 135, 2, '2020-05-01', '2023-03-10' )
( 136, 3, '2021-12-31', '2023-05-16' )
( 137, 3, '2021-10-19', '2022-11-07' )
( 138, 2, '2019-11-06', '2021-05-07' )
( 139, 2, '2020-05-29', '2021-11-03' )
( 140, 2, '2022-12-04', '2023-08-10' )
( 141, 1, '2020-10-24', '2021-03-02' )
( 142, 1, '2021-07-24', '2021-10-24' )
( 143, 1, '2021-12-22', '2023-11-04' )
( 144, 1, '2022-03-15', '2022-09-06' )
( 145, 2, '2020-10-21', '2022-10-22' )
( 146, 1, '2022-02-22', '2023-07-01' )
( 147, 2, '2019-12-12', '2020-04-20' )
( 148, 2, '2023-01-09', '2023-02-18' )
( 149, 1, '2018-12-23', '2021-05-27' )
( 150, 1, '2023-02-03', '2023-08-03' )
( 151, 3, '2021-12-31', '2022-03-18' )
( 152, 1, '2019-10-27', '2023-09-26' )
( 153, 1, '2019-11-30', '2021-07-02' )
( 154, 3, '2022-08-14', '2022-10-10' )
( 155, 2, '2021-12-24', '2021-12-30' )
( 156, 1, '2019-11-13', '2019-11-22' )
( 157, 2, '2021-09-11', '2022-11-10' )
( 158, 3, '2022-09-09', '2023-01-15' )
( 159, 3, '2022-12-04', '2023-04-07' )
( 160, 3, '2019-04-29', '2023-04-09' )
( 161, 2, '2023-04-10', '2023-11-16' )
( 162, 3, '2022-07-19', '2023-06-23' )
( 163, 1, '2020-11-08', '2023-04-07' )
( 164, 2, '2019-06-12', '2021-09-15' )
( 165, 3, '2022-06-24', '2022-08-27' )
( 166, 3, '2019-02-03', '2020-10-02' )
( 167, 1, '2019-05-14', '2023-09-30' )
( 168, 2, '2020-08-30', '2023-03-10' )
( 169, 1, '2020-02-22', '2020-07-18' )
( 170, 2, '2019-01-22', '2021-04-02' )
( 171, 3, '2020-12-10', '2023-04-08' )
( 172, 3, '2019-02-05', '2019-05-15' )
( 173, 3, '2019-06-08', '2019-07-02' )
( 174, 3, '2020-03-29', '2020-09-10' )
( 175, 1, '2023-02-12', '2023-02-24' )
( 176, 1, '2022-04-04', '2023-02-01' )
( 177, 1, '2022-01-25', '2023-10-11' )
( 178, 3, '2021-09-29', '2022-05-30' )
( 179, 3, '2021-06-23', '2022-02-02' )
( 180, 3, '2022-04-18', '2022-05-04' )
( 181, 3, '2020-09-29', '2023-02-13' )
( 182, 1, '2019-06-21', '2020-03-30' )
( 183, 1, '2018-12-22', '2019-08-17' )
( 184, 2, '2020-05-29', '2021-02-28' )
( 185, 3, '2020-06-02', '2021-08-25' )
( 186, 1, '2021-04-30', '2023-06-03' )
( 187, 1, '2020-04-22', '2023-03-02' )
( 188, 3, '2022-04-06', '2023-05-23' )
( 189, 1, '2020-12-23', '2023-04-25' )
( 190, 3, '2020-10-29', '2021-08-31' )
( 191, 1, '2023-01-09', '2023-06-10' )
( 192, 2, '2020-12-30', '2022-01-22' )
( 193, 2, '2020-05-06', '2023-02-14' )
( 194, 3, '2023-02-28', '2023-09-19' )
( 195, 3, '2019-07-23', '2021-09-13' )
( 196, 2, '2019-11-03', '2020-01-14' )
( 197, 3, '2020-10-11', '2022-05-30' )
( 198, 3, '2019-04-11', '2020-06-05' )
( 199, 1, '2019-03-06', '2021-09-12' )
( 200, 2, '2021-05-16', '2023-09-22' )
( 201, 2, '2019-10-21', '2021-06-07' )
( 202, 1, '2021-07-30', '2022-08-03' )
( 203, 3, '2022-01-03', '2023-07-03' )
( 204, 2, '2022-06-05', '2022-10-05' )
( 205, 1, '2019-11-18', '2021-04-17' )
( 206, 1, '2023-03-17', '2023-05-29' )
( 207, 2, '2019-03-06', '2022-09-30' )
( 208, 2, '2020-02-15', '2022-02-01' )
( 209, 1, '2020-12-17', '2021-11-25' )
( 210, 1, '2021-03-08', '2021-07-09' )
( 211, 1, '2021-05-15', '2022-02-21' )
( 212, 1, '2020-01-12', '2022-01-26' )
( 213, 2, '2022-09-22', '2023-08-29' )
( 214, 1, '2019-04-04', '2020-08-21' )
( 215, 3, '2020-07-16', '2023-05-26' )
( 216, 3, '2023-03-07', '2023-11-02' )
( 217, 1, '2021-05-31', '2023-11-06' )
( 218, 3, '2020-02-14', '2023-10-27' )
( 219, 1, '2022-09-09', '2023-01-31' )
( 220, 1, '2019-03-09', '2022-07-24' )
( 221, 1, '2022-06-29', '2023-01-02' )
( 222, 1, '2021-07-06', '2022-04-30' )
( 223, 1, '2020-11-04', '2021-03-01' )
( 224, 1, '2023-01-19', '2023-05-24' )
( 225, 2, '2023-04-30', '2023-09-01' )
( 226, 3, '2022-03-23', '2023-10-03' )
( 227, 1, '2019-06-12', '2021-04-14' )
( 228, 3, '2020-01-16', '2022-04-26' )
( 229, 1, '2021-02-16', '2021-08-19' )
( 230, 2, '2022-12-29', '2023-12-01' )
( 231, 2, '2023-05-06', '2023-05-14' )
( 232, 3, '2021-05-02', '2022-09-11' )
( 233, 1, '2023-05-06', '2023-06-25' )
( 234, 3, '2021-11-04', '2023-08-20' )
( 235, 1, '2020-01-22', '2020-12-08' )
( 236, 3, '2021-10-17', '2023-02-26' )
( 237, 1, '2022-05-06', '2022-12-10' )
( 238, 3, '2021-12-18', '2023-01-25' )
( 239, 3, '2022-02-26', '2023-08-16' )
( 240, 2, '2022-02-12', '2023-10-23' )
( 241, 2, '2023-02-08', '2023-06-11' )
( 242, 2, '2019-04-08', '2021-01-31' )
( 243, 3, '2019-10-10', '2021-11-29' )
( 244, 2, '2021-09-01', '2023-04-11' )
( 245, 3, '2022-10-25', '2023-09-22' )
( 246, 2, '2022-09-26', '2023-01-26' )
( 247, 2, '2023-05-08', '2023-11-24' )
( 248, 3, '2020-11-11', '2022-09-04' )
( 249, 2, '2020-02-23', '2020-08-21' )
( 250, 1, '2022-09-13', '2023-06-08' )
( 251, 3, '2023-03-10', '2023-10-07' )
( 252, 1, '2021-04-10', '2022-03-18' )
( 253, 2, '2019-04-22', '2020-12-14' )
( 254, 1, '2019-12-05', '2021-11-24' )
( 255, 3, '2019-08-04', '2021-09-28' )
( 256, 1, '2022-09-25', '2022-12-22' )
( 257, 2, '2023-04-02', '2023-10-21' )
( 258, 2, '2022-06-06', '2022-09-18' )
( 259, 3, '2022-03-13', '2022-06-30' )
( 260, 2, '2022-03-05', '2023-02-25' )
( 261, 3, '2022-02-25', '2022-06-29' )
( 262, 1, '2019-11-04', '2022-08-20' )
( 263, 1, '2019-11-28', '2021-05-30' )
( 264, 2, '2021-12-06', '2022-06-29' )
( 265, 3, '2019-12-14', '2021-12-23' )
( 266, 3, '2019-01-18', '2021-05-05' )
( 267, 2, '2019-05-07', '2022-09-09' )
( 268, 1, '2019-10-02', '2020-06-27' )
( 269, 2, '2021-06-12', '2023-03-13' )
( 270, 3, '2021-01-08', '2023-08-29' )
( 271, 2, '2021-04-13', '2023-06-19' )
( 272, 2, '2020-04-04', '2020-08-20' )
( 273, 2, '2021-03-23', '2021-12-11' )
( 274, 2, '2022-10-17', '2023-03-28' )
( 275, 1, '2020-08-30', '2022-07-23' )
( 276, 3, '2022-11-21', '2023-05-30' )
( 277, 1, '2019-12-09', '2020-01-01' )
( 278, 2, '2018-12-30', '2020-08-09' )
( 279, 3, '2023-02-13', '2023-03-04' )
( 280, 2, '2021-11-18', '2022-12-27' )
( 281, 2, '2023-06-01', '2023-11-09' )
( 282, 1, '2020-06-09', '2020-09-13' )
( 283, 1, '2021-08-28', '2022-11-15' )
( 284, 3, '2020-09-21', '2022-03-09' )
( 285, 1, '2022-02-06', '2022-07-14' )
( 286, 3, '2022-02-23', '2022-04-30' )
( 287, 1, '2020-12-02', '2023-05-02' )
( 288, 1, '2019-08-20', '2021-01-31' )
( 289, 2, '2022-06-03', '2023-01-14' )
( 290, 1, '2019-05-22', '2021-06-04' )
( 291, 3, '2021-01-05', '2023-11-23' )
( 292, 1, '2020-01-27', '2023-02-07' )
( 293, 3, '2021-08-12', '2021-08-18' )
( 294, 1, '2020-10-19', '2023-03-30' )
( 295, 3, '2019-12-01', '2020-04-26' )
( 296, 2, '2023-05-24', '2023-10-29' )
( 297, 1, '2020-01-14', '2020-05-27' )
( 298, 1, '2021-03-12', '2023-09-04' )
( 299, 3, '2019-03-19', '2022-01-01' )
( 300, 3, '2020-04-15', '2023-05-20' )
( 301, 3, '2020-06-04', '2023-09-13' )
( 302, 3, '2021-09-15', '2023-04-08' )
( 303, 3, '2021-05-19', '2021-11-05' )
( 304, 3, '2023-05-26', '2023-10-28' )
( 305, 2, '2020-01-02', '2020-03-05' )
( 306, 2, '2021-11-13', '2022-03-28' )
( 307, 1, '2021-10-25', '2022-02-09' )
( 308, 2, '2019-12-01', '2022-02-25' )
( 309, 1, '2022-10-02', '2023-03-13' )
( 310, 3, '2020-05-11', '2023-12-14' )
( 311, 3, '2022-05-15', '2023-11-09' )
( 312, 2, '2023-06-18', '2023-06-20' )
( 313, 2, '2022-11-16', '2023-01-04' )
( 314, 1, '2022-08-18', '2023-01-11' )
( 315, 2, '2022-02-01', '2022-06-10' )
( 316, 3, '2019-05-26', '2020-09-17' )
( 317, 3, '2021-09-14', '2022-10-12' )
( 318, 2, '2022-09-04', '2023-05-02' )
( 319, 2, '2021-06-10', '2022-12-26' )
( 320, 1, '2020-10-21', '2022-05-19' )
( 321, 3, '2021-11-12', '2023-10-11' )
( 322, 2, '2022-09-13', '2023-02-11' )
( 323, 2, '2023-05-30', '2023-08-28' )
( 324, 2, '2020-06-20', '2021-06-19' )
( 325, 1, '2022-05-03', '2022-06-22' )
( 326, 1, '2021-06-28', '2023-01-27' )
( 327, 1, '2020-07-23', '2022-07-04' )
( 328, 3, '2019-11-14', '2020-03-05' )
( 329, 2, '2021-01-24', '2021-07-02' )
( 330, 1, '2020-12-15', '2022-03-25' )
( 331, 2, '2018-12-29', '2020-12-21' )
( 332, 2, '2021-11-07', '2022-04-04' )
( 333, 3, '2019-11-12', '2021-05-11' )
( 334, 1, '2022-12-23', '2023-07-14' )
( 335, 2, '2022-05-11', '2022-06-13' )
( 336, 2, '2021-12-05', '2022-07-06' )
( 337, 2, '2019-01-04', '2021-10-14' )
( 338, 3, '2020-05-22', '2022-04-25' )
( 339, 3, '2022-10-03', '2023-03-08' )
( 340, 1, '2021-04-11', '2021-10-10' )
( 341, 3, '2021-04-22', '2023-06-06' )
( 342, 2, '2018-12-22', '2019-07-06' )
( 343, 1, '2021-10-12', '2023-12-16' )
( 344, 2, '2022-08-10', '2023-09-29' )
( 345, 1, '2021-11-09', '2022-11-30' )
( 346, 2, '2021-06-10', '2021-06-13' )
( 347, 2, '2021-09-26', '2021-10-01' )
( 348, 3, '2020-08-29', '2021-01-05' )
( 349, 3, '2020-10-12', '2023-12-14' )
( 350, 3, '2021-04-18', '2022-04-05' )
( 351, 2, '2019-01-24', '2021-06-23' )
( 352, 2, '2021-11-21', '2021-12-26' )
( 353, 1, '2019-05-11', '2021-11-02' )
( 354, 2, '2020-12-13', '2023-10-21' )
( 355, 1, '2021-11-03', '2022-06-11' )
( 356, 3, '2021-11-15', '2022-09-28' )
( 357, 1, '2022-05-22', '2023-01-10' )
( 358, 2, '2020-02-19', '2023-07-25' )
( 359, 1, '2021-04-09', '2023-01-05' )
( 360, 3, '2021-05-24', '2022-04-30' )
( 361, 2, '2021-02-04', '2022-06-18' )
( 362, 2, '2020-05-01', '2023-08-16' )
( 363, 1, '2021-06-01', '2021-11-05' )
( 364, 3, '2022-08-19', '2023-05-24' )
( 365, 1, '2020-08-30', '2021-08-12' )
( 366, 3, '2022-07-04', '2023-10-13' )
( 367, 1, '2020-08-14', '2021-08-13' )
( 368, 2, '2022-04-25', '2023-07-02' )
( 369, 2, '2021-05-20', '2023-10-28' )
( 370, 1, '2021-05-26', '2023-01-27' )
( 371, 2, '2021-01-03', '2023-01-25' )
( 372, 1, '2022-12-18', '2023-09-18' )
( 373, 3, '2019-02-02', '2023-01-11' )
( 374, 3, '2020-02-26', '2021-01-17' )
( 375, 2, '2019-07-03', '2022-04-24' )
( 376, 2, '2022-07-05', '2023-02-25' )
( 377, 1, '2021-07-02', '2022-02-02' )
( 378, 1, '2020-06-16', '2023-10-02' )
( 379, 1, '2021-06-26', '2023-07-30' )
( 380, 1, '2021-01-14', '2023-05-08' )
( 381, 1, '2021-06-07', '2022-11-08' )
( 382, 2, '2019-03-08', '2020-06-13' )
( 383, 2, '2019-04-06', '2022-05-19' )
( 384, 3, '2021-05-12', '2021-05-17' )
( 385, 1, '2023-01-19', '2023-07-21' )
( 386, 2, '2021-07-14', '2021-09-08' )
( 387, 2, '2022-12-17', '2022-12-31' )
( 388, 1, '2021-06-03', '2021-06-20' )
( 389, 3, '2020-07-21', '2022-09-19' )
( 390, 2, '2020-04-12', '2022-10-31' )
( 391, 2, '2020-01-26', '2020-03-12' )
( 392, 2, '2022-04-07', '2023-02-01' )
( 393, 1, '2019-06-21', '2020-04-22' )
( 394, 1, '2020-07-31', '2022-10-08' )
( 395, 2, '2020-06-16', '2023-12-07' )
( 396, 3, '2019-04-06', '2023-08-29' )
( 397, 2, '2019-06-28', '2023-09-20' )
( 398, 1, '2019-11-06', '2023-02-22' )
( 399, 1, '2022-03-27', '2023-02-07' )
( 400, 2, '2021-12-10', '2023-04-09' )
( 401, 2, '2021-06-07', '2021-08-08' )
( 402, 3, '2020-04-08', '2023-10-14' )
( 403, 2, '2021-04-29', '2023-03-24' )
( 404, 3, '2021-05-31', '2023-05-10' )
( 405, 1, '2022-10-28', '2023-02-18' )
( 406, 1, '2022-07-06', '2023-05-20' )
( 407, 3, '2019-01-29', '2022-08-24' )
( 408, 1, '2023-04-09', '2023-10-22' )
( 409, 2, '2019-06-21', '2023-10-29' )
( 410, 3, '2023-03-05', '2023-12-02' )
( 411, 2, '2020-04-11', '2021-06-20' )
( 412, 3, '2019-09-24', '2021-07-19' )
( 413, 1, '2021-09-30', '2023-01-22' )
( 414, 1, '2021-05-26', '2021-12-10' )
( 415, 2, '2019-05-29', '2022-05-17' )
( 416, 1, '2021-10-09', '2022-07-17' )
( 417, 3, '2021-05-21', '2023-09-02' )
( 418, 3, '2022-04-10', '2023-12-01' )
( 419, 2, '2020-08-22', '2020-11-15' )
( 420, 1, '2019-04-10', '2022-10-02' )
( 421, 2, '2021-02-27', '2022-09-17' )
( 422, 1, '2022-05-07', '2023-08-25' )
( 423, 1, '2019-04-13', '2023-08-08' )
( 424, 2, '2021-11-13', '2022-08-03' )
( 425, 1, '2019-03-29', '2023-11-15' )
( 426, 2, '2021-11-17', '2023-01-11' )
( 427, 3, '2021-12-24', '2022-10-07' )
( 428, 3, '2020-09-11', '2023-08-09' )
( 429, 3, '2021-07-19', '2022-04-12' )
( 430, 3, '2019-03-17', '2022-01-14' )
( 431, 1, '2022-04-19', '2022-06-07' )
( 432, 3, '2021-04-03', '2021-10-20' )
( 433, 3, '2021-06-17', '2023-08-05' )
( 434, 2, '2022-05-26', '2023-08-06' )
( 435, 2, '2023-02-26', '2023-08-30' )
( 436, 1, '2021-08-31', '2022-10-09' )
( 437, 2, '2019-04-12', '2023-03-31' )
( 438, 2, '2022-12-02', '2022-12-03' )
( 439, 1, '2019-05-24', '2023-04-21' )
( 440, 1, '2019-02-11', '2023-05-16' )
( 441, 2, '2020-05-19', '2023-01-10' )
( 442, 2, '2023-01-24', '2023-06-11' )
( 443, 2, '2019-12-10', '2022-10-22' )
( 444, 3, '2021-12-08', '2023-07-22' )
( 445, 2, '2022-05-05', '2022-12-06' )
( 446, 3, '2020-12-16', '2023-09-15' )
( 447, 1, '2023-05-23', '2023-09-25' )
( 448, 3, '2020-07-06', '2023-02-10' )
( 449, 2, '2022-01-25', '2023-04-07' )
( 450, 1, '2022-07-14', '2023-11-20' )
( 451, 3, '2023-01-15', '2023-05-20' )
( 452, 3, '2019-12-04', '2021-05-08' )
( 453, 3, '2019-02-12', '2020-11-08' )
( 454, 1, '2022-02-14', '2022-07-07' )
( 455, 1, '2020-07-18', '2022-03-14' )
( 456, 2, '2022-02-02', '2023-04-04' )
( 457, 2, '2020-09-25', '2021-11-22' )
( 458, 3, '2019-06-15', '2022-07-11' )
( 459, 1, '2021-09-04', '2023-06-10' )
( 460, 2, '2019-10-02', '2022-09-16' )
( 461, 2, '2021-10-25', '2022-09-06' )
( 462, 3, '2022-10-24', '2023-11-18' )
( 463, 3, '2021-02-16', '2023-01-31' )
( 464, 3, '2020-03-27', '2021-09-07' )
( 465, 1, '2023-05-01', '2023-06-19' )
( 466, 3, '2022-02-12', '2023-06-29' )
( 467, 1, '2022-10-14', '2023-01-20' )
( 468, 1, '2019-07-28', '2023-08-26' )
( 469, 3, '2020-05-31', '2020-08-13' )
( 470, 3, '2021-01-02', '2021-07-08' )
( 471, 3, '2022-08-05', '2023-11-15' )
( 472, 2, '2019-02-28', '2020-03-01' )
( 473, 3, '2019-09-05', '2021-08-28' )
( 474, 2, '2019-11-23', '2020-06-27' )
( 475, 3, '2022-04-15', '2022-12-18' )
( 476, 1, '2023-05-03', '2023-06-04' )
( 477, 1, '2020-08-30', '2022-08-16' )
( 478, 3, '2022-08-16', '2023-11-06' )
( 479, 1, '2019-07-03', '2019-09-19' )
( 480, 3, '2021-05-12', '2023-09-21' )
( 481, 3, '2020-04-07', '2020-05-04' )
( 482, 2, '2019-04-13', '2023-08-14' )
( 483, 2, '2019-01-17', '2019-05-28' )
( 484, 2, '2022-03-21', '2023-04-02' )
( 485, 1, '2021-02-08', '2023-08-22' )
( 486, 2, '2019-10-02', '2021-03-03' )
( 487, 1, '2020-05-18', '2023-09-20' )
( 488, 2, '2020-05-17', '2021-05-14' )
( 489, 1, '2021-07-08', '2021-10-13' )
( 490, 3, '2021-03-08', '2022-06-06' )
( 491, 2, '2023-04-09', '2023-05-28' )
( 492, 1, '2021-06-27', '2023-07-05' )
( 493, 1, '2019-09-16', '2022-08-18' )
( 494, 2, '2022-08-31', '2023-08-19' )
( 495, 3, '2021-11-09', '2023-05-21' )
( 496, 3, '2021-03-26', '2021-11-14' )
( 497, 3, '2020-02-19', '2021-07-20' )
( 498, 2, '2020-09-03', '2022-10-15' )
( 499, 3, '2020-02-03', '2021-02-23' )
( 500, 1, '2022-02-27', '2022-07-30' )
( 501, 3, '2023-02-22', '2023-09-20' )
( 502, 2, '2021-12-08', '2023-01-13' )
( 503, 1, '2021-05-02', '2021-08-31' )
( 504, 1, '2019-08-29', '2022-01-07' )
( 505, 2, '2021-01-23', '2022-08-10' )
( 506, 2, '2021-12-13', '2022-11-30' )
( 507, 3, '2020-08-30', '2020-11-26' )
( 508, 2, '2022-08-28', '2023-01-25' )
( 509, 2, '2021-09-22', '2022-09-02' )
( 510, 3, '2022-10-22', '2023-10-13' )
( 511, 2, '2019-08-02', '2019-12-08' )
( 512, 3, '2021-11-07', '2022-11-05' )
( 513, 3, '2022-09-11', '2023-08-15' )
( 514, 2, '2020-04-28', '2021-07-15' )
( 515, 1, '2019-12-20', '2023-09-21' )

In [40]:
lost_customers_index = random.sample(
    range(0,len(insert_subscriptions)), 
    int((CHANGE_SUB_ONE_TIME+CHANGE_SUB_TWO_TIMES)*len(insert_subscriptions))
)
len(lost_customers_index)

800

In [41]:
# Change subscription once
from collections import defaultdict


cut_index = int(CHANGE_SUB_ONE_TIME*len(insert_users))
for i in lost_customers_index:
    new_sub = insert_subscriptions[i]['subscription_id']
    while insert_subscriptions[i]['subscription_id'] == (new_sub := random.randint(*SUBSCRIPTIONS_RANGE)): ... 
    insert_subscriptions.append(
        dict(
            user_id=insert_subscriptions[i]['user_id'],
            subscription_id=new_sub ,
            from_date=insert_subscriptions[i]['to_date'] + datetime.timedelta(days=1),
            to_date=FUTURE
        )
    )
# Change subscription twice    
for i in lost_customers_index[cut_index:]:
    new_sub = insert_subscriptions[i]['subscription_id']
    while insert_subscriptions[i]['subscription_id'] == (new_sub := random.randint(*SUBSCRIPTIONS_RANGE)): ... 
    insert_subscriptions.append(
        dict(
            user_id=insert_subscriptions[i]['user_id'],
            subscription_id=new_sub ,
            from_date=insert_subscriptions[i]['to_date'] + datetime.timedelta(days=1),
            to_date=FUTURE
        )
    )

In [42]:
# Check users with miltiple rows
repeated_user_id_count = defaultdict(int)
for item in insert_subscriptions:
    print(repeated_user_id_count[item['user_id']])
    repeated_user_id_count[item['user_id']] += 1
count = [0,0,0]
for v in repeated_user_id_count.values():
    print(v)
    count[v-1] += 1
print(f'Users with 1 subscription: {count[0]}')
print(f'Users with 2 subscriptions: {count[1]}')
print(f'Users with 3 subscriptions: {count[2]}')

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3
1
2
3
1
2
3
2
1
2
1
2
1
3
1
3
2
1
2
1
2
3
2
1
2
3
3
3
2
2
3
1
1
2
2
2
2
1
3
2
2
3
3
3
2
2
2
3
2
1
3
2
2
1
2
3
3
2
3
2
3
2
3
3
2
3
2
3
2
2
2
2
3
2
1
3
3
3
2
3
3
3
2
3
2
2
3
1
2
3
2
2
3
1
2
2
3
3
3
3
2
2
2
2
1
3
2
2
3
2
1
3
2
2
2
1
3
3
3
2
3
3
2
2
2
2
3
3
2
3
2
3
2
2
3
3
2
1
3
2
2
2
2
2
2
2
3
2
3
2
2
2
2
3
2
3
2
2
2
2
2
2
3
2
3
1
1
2
3
2
2
3
2
2
2
3
3
2
3
2
3
2
2
3
2
2
1
3
2
2
3
3
3
1
3
3
1
2
2
2
1
2
2
2
2
3
3
2
3
1
2
3
3
3
2
3
3
1
1
1
3
3
1
2
3
3
2
2
3
2
2
1
3
2
2
1
3
2
2
2
2
2
3
1
3
2
2
2
1
3
3
2
2
1
3
2
1
3
3
1
2
1
1
2
2
1
3
2
1
2
3
2
3
3
1
2
2
2
3
2
2
2
2
1
1
2
3
2
2
2
3
3
3
2
2
3
3
2
1
3
1
1
2
3
1
1
2
3
1
3
3
3
2
1
2
3
2
3
2
2
2
1
1
2
3
3
1
1
3
3
3
2
2
1
3
2
1
2
1
3
2
2
2
1
2
2
3
2
2
2
3
1
3
2
1
3
3
3
2
3
1
2
2
1
2
1
2
2
2
1
3
1
2
2
2
1
3
1
2
1
3
2
2
3
2
1
3
3
1
2
2
3
2
2
3
2
3
2
1
2
1
1
2
2
2
1
2
2
3
1
2
2
2
3
2
2
1
2
2
1
2
2
2
1
1
3
2
3
2
1
2
1
2
3
1
2
3
2
2
2
1
2
1
3
2
1
3
3
3
2
2
3
3
2
2
2
2
2
2
2
2
2
1
2
2
3
3
2
2
2
3
2
2
2
3
1
2
1
3
2
1
2
1
2
2
1
1
2
3
3
2
1
2
2
1
3
1
2
2
2
2
2
2
3
2
2
1
1
2
2
2
3
3
2
1
2
3
2
2
3
2
3
2
2
3
2
3
2
2
1
3
3
2
1
3
2
3
1
3
3
1
2
2
2
1
2
3
1
3
2
2
1
2
3
2
3
2
2
3
2
1
2
3
2
2
2
1
1
2
1
2
3
3
2
3
3
3
2
3
3
2
2
3
2
2
2
2
3
3
2
3
2
2
2
2
1
2
3
2
3
2
3
3
3
2
2
2
2
2
2
3
2
1
1
3
2
2
2
3
3
3
2
1
1
2
2
3
1
2
1
1
3
1
2
2
3
1
2
2
2
2
2
2
3
3
2
2
2
3
1
2
2
2
2
2
2
2
3
2
3
3
1
3
2
3
3
1
1
2
2
1
2
2
1
3
3
2
2
1
2
1
3
3
2
1
2
2
3
2
3
3
2
2
2
1
1
1
3
2
1
1
2
2
2
3
2
1
2
2
2
2
1
3
1
2
2
2
3
3
2
3
1
1
1
3
2
3
2
2
2
2
2
2
3
3
3
2
2
1
2
3
2
1
1
2
3
2
2
2
3
1
3
2
2
2
3
3
2
3
3
2
1
1
3
2
2
2
1
3
3
2
2
2
3
3
1
1
3
2
1
2
2
2
1
2
2
2
3
2
2
2
2
2
2
2
1
1
2
2
1
1
1
2
1
2
3
3
3
1
2
2
1
1
1
3
2
2
2
2
2
3
2
3
2
3
2
2
3
2
2
3
2
2
3
3
2
1
3
2
2
2
2
3
1
3
2
2
2
2
3
3
1
2
3
2
1
3
2
2
2
2
1
2
2
2
2
2
2
2
2
2
3
1
3
3
2
1
1
2
2
2
2
2
2
2
1
1
3
2
2
2
1
3
1
2
1
3
2
1
1
1
2
3
3
3
3
2
2
3
1
3
3
2
2
3
2
1
3
3
1
2
2
2
1
2
3
3
3
3
2
2
1
2
1
2
2
2
3
1
3
2
2
1
3
2
2
2
3
2
2
2
2
2
2
3
2
2
1
3
2
3
2
1
1
2
1
2
2
3
1
3
2
3
3
1
1
1
3
2
2
2
2
1
2
2
3
3
1
3
2
2
3
1
3
1
3
1
3
2
2
Users with 1 subscription: 200
Users with 2 subscriptions: 500
Users with 3 subscriptions: 300

In [43]:
len(insert_subscriptions)

2100

In [44]:
## Create user subscriptions insert statement
insert_sql = f'{HEADER}'
insert_sql += ',\n'.join([ROW.format(**sub) for sub in insert_subscriptions])
insert_sql += ';'   

print(insert_sql)

INSERT INTO public."UserSubscription"(
    "UserId", "SubscriptionId", "ValidFrom", "ValidTo") VALUES
( 1, 3, '2022-08-03', '2023-02-12' ),
( 2, 1, '2022-02-21', '2022-12-19' ),
( 3, 3, '2021-04-07', '2023-12-01' ),
( 4, 3, '2022-11-30', '2023-04-20' ),
( 5, 3, '2023-06-18', '2023-12-09' ),
( 6, 2, '2023-01-12', '2023-07-23' ),
( 7, 2, '2023-05-21', '2023-06-07' ),
( 8, 1, '2019-03-22', '2023-09-30' ),
( 9, 1, '2020-04-18', '2023-09-15' ),
( 10, 3, '2023-01-16', '2023-02-24' ),
( 11, 2, '2021-03-16', '2022-10-25' ),
( 12, 1, '2020-08-29', '2020-11-17' ),
( 13, 2, '2019-09-25', '2023-12-16' ),
( 14, 1, '2020-10-26', '2021-02-17' ),
( 15, 3, '2021-05-11', '2022-11-01' ),
( 16, 1, '2021-10-01', '2022-04-14' ),
( 17, 2, '2019-10-02', '2023-05-13' ),
( 18, 1, '2020-05-21', '2021-09-09' ),
( 19, 3, '2022-10-23', '2023-11-10' ),
( 20, 1, '2020-04-08', '2023-06-15' ),
( 21, 2, '2020-04-04', '2021-06-17' ),
( 22, 2, '2021-08-26', '2021-12-30' ),
( 23, 3, '2023-05-09', '2023-10-13' ),
( 24, 1, '2022-05-12', '2022-11-25' ),
( 25, 2, '2019-04-19', '2023-02-06' ),
( 26, 1, '2023-01-14', '2023-03-09' ),
( 27, 1, '2022-12-17', '2023-07-31' ),
( 28, 3, '2023-03-16', '2023-08-07' ),
( 29, 1, '2019-04-13', '2022-08-12' ),
( 30, 2, '2021-02-11', '2022-09-29' ),
( 31, 1, '2019-03-16', '2021-03-09' ),
( 32, 1, '2020-06-19', '2020-10-29' ),
( 33, 3, '2021-08-28', '2022-12-31' ),
( 34, 3, '2022-04-30', '2022-07-26' ),
( 35, 2, '2019-03-10', '2022-06-07' ),
( 36, 2, '2021-01-23', '2023-08-29' ),
( 37, 2, '2020-07-22', '2021-08-03' ),
( 38, 1, '2022-12-04', '2023-02-19' ),
( 39, 3, '2021-07-06', '2022-01-30' ),
( 40, 1, '2021-01-15', '2023-11-03' ),
( 41, 1, '2021-01-03', '2021-09-29' ),
( 42, 1, '2023-05-14', '2023-11-07' ),
( 43, 1, '2020-05-22', '2022-05-16' ),
( 44, 1, '2022-01-14', '2023-09-14' ),
( 45, 1, '2019-12-13', '2021-06-02' ),
( 46, 2, '2021-11-11', '2023-10-13' ),
( 47, 1, '2023-05-30', '2023-11-21' ),
( 48, 3, '2023-02-10', '2023-04-22' ),
( 49, 1, '2019-01-17', '2019-01-19' ),
( 50, 2, '2021-06-10', '2023-10-23' ),
( 51, 3, '2019-04-08', '2022-02-03' ),
( 52, 2, '2021-08-19', '2021-12-03' ),
( 53, 2, '2019-05-30', '2020-12-12' ),
( 54, 2, '2021-11-21', '2023-07-20' ),
( 55, 2, '2023-03-17', '2023-11-08' ),
( 56, 2, '2022-08-03', '2023-06-04' ),
( 57, 1, '2019-01-01', '2022-09-26' ),
( 58, 3, '2022-08-21', '2022-10-31' ),
( 59, 3, '2020-11-17', '2023-07-21' ),
( 60, 2, '2022-07-14', '2023-11-16' ),
( 61, 3, '2020-12-12', '2022-07-26' ),
( 62, 1, '2022-07-15', '2023-12-12' ),
( 63, 1, '2020-02-26', '2021-07-25' ),
( 64, 2, '2020-06-03', '2021-09-25' ),
( 65, 2, '2023-06-06', '2023-09-21' ),
( 66, 2, '2022-04-03', '2022-11-24' ),
( 67, 1, '2020-09-05', '2023-04-16' ),
( 68, 2, '2021-09-29', '2021-11-21' ),
( 69, 3, '2020-12-26', '2023-07-26' ),
( 70, 1, '2021-09-18', '2022-05-21' ),
( 71, 2, '2022-11-12', '2023-03-30' ),
( 72, 2, '2021-05-30', '2022-03-20' ),
( 73, 1, '2021-06-14', '2023-11-10' ),
( 74, 2, '2020-12-25', '2023-01-05' ),
( 75, 3, '2020-06-27', '2023-08-14' ),
( 76, 3, '2021-12-14', '2022-10-12' ),
( 77, 1, '2022-08-31', '2023-09-22' ),
( 78, 3, '2022-11-10', '2023-08-04' ),
( 79, 3, '2022-08-07', '2023-02-23' ),
( 80, 1, '2021-01-01', '2021-10-10' ),
( 81, 3, '2019-04-05', '2020-09-04' ),
( 82, 3, '2019-06-29', '2021-11-23' ),
( 83, 2, '2023-02-19', '2023-06-04' ),
( 84, 3, '2021-06-04', '2022-02-17' ),
( 85, 2, '2019-03-04', '2020-12-02' ),
( 86, 1, '2020-06-05', '2023-04-17' ),
( 87, 3, '2022-09-02', '2023-02-02' ),
( 88, 2, '2021-10-10', '2023-12-04' ),
( 89, 3, '2021-03-12', '2023-04-06' ),
( 90, 3, '2022-10-17', '2023-07-22' ),
( 91, 1, '2019-04-20', '2022-11-08' ),
( 92, 2, '2023-01-18', '2023-06-02' ),
( 93, 3, '2021-04-06', '2023-01-03' ),
( 94, 2, '2023-02-09', '2023-11-27' ),
( 95, 1, '2019-07-27', '2020-04-19' ),
( 96, 2, '2022-05-31', '2023-02-12' ),
( 97, 1, '2022-06-08', '2022-08-19' ),
( 98, 1, '2020-10-22', '2022-02-11' ),
( 99, 1, '2019-10-07', '2022-03-23' ),
( 100, 2, '2021-12-27', '2023-06-07' ),
( 101, 1, '2019-03-15', '2023-10-24' ),
( 102, 2, '2019-03-01', '2021-06-16' ),
( 103, 3, '2023-04-22', '2023-06-21' ),
( 104, 1, '2019-12-14', '2020-07-05' ),
( 105, 3, '2020-06-09', '2022-04-08' ),
( 106, 1, '2020-03-04', '2022-10-03' ),
( 107, 1, '2020-02-05', '2023-05-31' ),
( 108, 1, '2019-08-27', '2020-08-28' ),
( 109, 3, '2022-08-08', '2023-11-29' ),
( 110, 3, '2020-08-04', '2021-04-19' ),
( 111, 1, '2022-03-27', '2023-09-07' ),
( 112, 1, '2021-01-06', '2021-12-02' ),
( 113, 2, '2020-05-19', '2022-10-09' ),
( 114, 1, '2020-02-19', '2022-09-17' ),
( 115, 1, '2021-09-20', '2023-08-09' ),
( 116, 2, '2023-02-12', '2023-12-15' ),
( 117, 2, '2022-01-03', '2022-07-04' ),
( 118, 3, '2022-03-19', '2023-10-01' ),
( 119, 1, '2020-05-21', '2023-06-28' ),
( 120, 1, '2021-04-26', '2022-09-01' ),
( 121, 1, '2021-11-11', '2023-08-23' ),
( 122, 2, '2019-10-18', '2020-04-13' ),
( 123, 3, '2020-02-19', '2023-09-27' ),
( 124, 1, '2022-07-20', '2022-10-30' ),
( 125, 2, '2019-03-23', '2021-11-16' ),
( 126, 1, '2018-12-22', '2023-03-28' ),
( 127, 3, '2022-01-09', '2022-12-29' ),
( 128, 1, '2022-08-31', '2023-09-09' ),
( 129, 2, '2020-06-11', '2021-02-25' ),
( 130, 2, '2020-03-16', '2021-09-10' ),
( 131, 1, '2021-04-09', '2021-07-25' ),
( 132, 3, '2019-07-15', '2023-04-11' ),
( 133, 2, '2022-10-26', '2023-10-31' ),
( 134, 2, '2022-03-11', '2022-12-16' ),
( 135, 2, '2020-05-01', '2023-03-10' ),
( 136, 3, '2021-12-31', '2023-05-16' ),
( 137, 3, '2021-10-19', '2022-11-07' ),
( 138, 2, '2019-11-06', '2021-05-07' ),
( 139, 2, '2020-05-29', '2021-11-03' ),
( 140, 2, '2022-12-04', '2023-08-10' ),
( 141, 1, '2020-10-24', '2021-03-02' ),
( 142, 1, '2021-07-24', '2021-10-24' ),
( 143, 1, '2021-12-22', '2023-11-04' ),
( 144, 1, '2022-03-15', '2022-09-06' ),
( 145, 2, '2020-10-21', '2022-10-22' ),
( 146, 1, '2022-02-22', '2023-07-01' ),
( 147, 2, '2019-12-12', '2020-04-20' ),
( 148, 2, '2023-01-09', '2023-02-18' ),
( 149, 1, '2018-12-23', '2021-05-27' ),
( 150, 1, '2023-02-03', '2023-08-03' ),
( 151, 3, '2021-12-31', '2022-03-18' ),
( 152, 1, '2019-10-27', '2023-09-26' ),
( 153, 1, '2019-11-30', '2021-07-02' ),
( 154, 3, '2022-08-14', '2022-10-10' ),
( 155, 2, '2021-12-24', '2021-12-30' ),
( 156, 1, '2019-11-13', '2019-11-22' ),
( 157, 2, '2021-09-11', '2022-11-10' ),
( 158, 3, '2022-09-09', '2023-01-15' ),
( 159, 3, '2022-12-04', '2023-04-07' ),
( 160, 3, '2019-04-29', '2023-04-09' ),
( 161, 2, '2023-04-10', '2023-11-16' ),
( 162, 3, '2022-07-19', '2023-06-23' ),
( 163, 1, '2020-11-08', '2023-04-07' ),
( 164, 2, '2019-06-12', '2021-09-15' ),
( 165, 3, '2022-06-24', '2022-08-27' ),
( 166, 3, '2019-02-03', '2020-10-02' ),
( 167, 1, '2019-05-14', '2023-09-30' ),
( 168, 2, '2020-08-30', '2023-03-10' ),
( 169, 1, '2020-02-22', '2020-07-18' ),
( 170, 2, '2019-01-22', '2021-04-02' ),
( 171, 3, '2020-12-10', '2023-04-08' ),
( 172, 3, '2019-02-05', '2019-05-15' ),
( 173, 3, '2019-06-08', '2019-07-02' ),
( 174, 3, '2020-03-29', '2020-09-10' ),
( 175, 1, '2023-02-12', '2023-02-24' ),
( 176, 1, '2022-04-04', '2023-02-01' ),
( 177, 1, '2022-01-25', '2023-10-11' ),
( 178, 3, '2021-09-29', '2022-05-30' ),
( 179, 3, '2021-06-23', '2022-02-02' ),
( 180, 3, '2022-04-18', '2022-05-04' ),
( 181, 3, '2020-09-29', '2023-02-13' ),
( 182, 1, '2019-06-21', '2020-03-30' ),
( 183, 1, '2018-12-22', '2019-08-17' ),
( 184, 2, '2020-05-29', '2021-02-28' ),
( 185, 3, '2020-06-02', '2021-08-25' ),
( 186, 1, '2021-04-30', '2023-06-03' ),
( 187, 1, '2020-04-22', '2023-03-02' ),
( 188, 3, '2022-04-06', '2023-05-23' ),
( 189, 1, '2020-12-23', '2023-04-25' ),
( 190, 3, '2020-10-29', '2021-08-31' ),
( 191, 1, '2023-01-09', '2023-06-10' ),
( 192, 2, '2020-12-30', '2022-01-22' ),
( 193, 2, '2020-05-06', '2023-02-14' ),
( 194, 3, '2023-02-28', '2023-09-19' ),
( 195, 3, '2019-07-23', '2021-09-13' ),
( 196, 2, '2019-11-03', '2020-01-14' ),
( 197, 3, '2020-10-11', '2022-05-30' ),
( 198, 3, '2019-04-11', '2020-06-05' ),
( 199, 1, '2019-03-06', '2021-09-12' ),
( 200, 2, '2021-05-16', '2023-09-22' ),
( 201, 2, '2019-10-21', '2021-06-07' ),
( 202, 1, '2021-07-30', '2022-08-03' ),
( 203, 3, '2022-01-03', '2023-07-03' ),
( 204, 2, '2022-06-05', '2022-10-05' ),
( 205, 1, '2019-11-18', '2021-04-17' ),
( 206, 1, '2023-03-17', '2023-05-29' ),
( 207, 2, '2019-03-06', '2022-09-30' ),
( 208, 2, '2020-02-15', '2022-02-01' ),
( 209, 1, '2020-12-17', '2021-11-25' ),
( 210, 1, '2021-03-08', '2021-07-09' ),
( 211, 1, '2021-05-15', '2022-02-21' ),
( 212, 1, '2020-01-12', '2022-01-26' ),
( 213, 2, '2022-09-22', '2023-08-29' ),
( 214, 1, '2019-04-04', '2020-08-21' ),
( 215, 3, '2020-07-16', '2023-05-26' ),
( 216, 3, '2023-03-07', '2023-11-02' ),
( 217, 1, '2021-05-31', '2023-11-06' ),
( 218, 3, '2020-02-14', '2023-10-27' ),
( 219, 1, '2022-09-09', '2023-01-31' ),
( 220, 1, '2019-03-09', '2022-07-24' ),
( 221, 1, '2022-06-29', '2023-01-02' ),
( 222, 1, '2021-07-06', '2022-04-30' ),
( 223, 1, '2020-11-04', '2021-03-01' ),
( 224, 1, '2023-01-19', '2023-05-24' ),
( 225, 2, '2023-04-30', '2023-09-01' ),
( 226, 3, '2022-03-23', '2023-10-03' ),
( 227, 1, '2019-06-12', '2021-04-14' ),
( 228, 3, '2020-01-16', '2022-04-26' ),
( 229, 1, '2021-02-16', '2021-08-19' ),
( 230, 2, '2022-12-29', '2023-12-01' ),
( 231, 2, '2023-05-06', '2023-05-14' ),
( 232, 3, '2021-05-02', '2022-09-11' ),
( 233, 1, '2023-05-06', '2023-06-25' ),
( 234, 3, '2021-11-04', '2023-08-20' ),
( 235, 1, '2020-01-22', '2020-12-08' ),
( 236, 3, '2021-10-17', '2023-02-26' ),
( 237, 1, '2022-05-06', '2022-12-10' ),
( 238, 3, '2021-12-18', '2023-01-25' ),
( 239, 3, '2022-02-26', '2023-08-16' ),
( 240, 2, '2022-02-12', '2023-10-23' ),
( 241, 2, '2023-02-08', '2023-06-11' ),
( 242, 2, '2019-04-08', '2021-01-31' ),
( 243, 3, '2019-10-10', '2021-11-29' ),
( 244, 2, '2021-09-01', '2023-04-11' ),
( 245, 3, '2022-10-25', '2023-09-22' ),
( 246, 2, '2022-09-26', '2023-01-26' ),
( 247, 2, '2023-05-08', '2023-11-24' ),
( 248, 3, '2020-11-11', '2022-09-04' ),
( 249, 2, '2020-02-23', '2020-08-21' ),
( 250, 1, '2022-09-13', '2023-06-08' ),
( 251, 3, '2023-03-10', '2023-10-07' ),
( 252, 1, '2021-04-10', '2022-03-18' ),
( 253, 2, '2019-04-22', '2020-12-14' ),
( 254, 1, '2019-12-05', '2021-11-24' ),
( 255, 3, '2019-08-04', '2021-09-28' ),
( 256, 1, '2022-09-25', '2022-12-22' ),
( 257, 2, '2023-04-02', '2023-10-21' ),
( 258, 2, '2022-06-06', '2022-09-18' ),
( 259, 3, '2022-03-13', '2022-06-30' ),
( 260, 2, '2022-03-05', '2023-02-25' ),
( 261, 3, '2022-02-25', '2022-06-29' ),
( 262, 1, '2019-11-04', '2022-08-20' ),
( 263, 1, '2019-11-28', '2021-05-30' ),
( 264, 2, '2021-12-06', '2022-06-29' ),
( 265, 3, '2019-12-14', '2021-12-23' ),
( 266, 3, '2019-01-18', '2021-05-05' ),
( 267, 2, '2019-05-07', '2022-09-09' ),
( 268, 1, '2019-10-02', '2020-06-27' ),
( 269, 2, '2021-06-12', '2023-03-13' ),
( 270, 3, '2021-01-08', '2023-08-29' ),
( 271, 2, '2021-04-13', '2023-06-19' ),
( 272, 2, '2020-04-04', '2020-08-20' ),
( 273, 2, '2021-03-23', '2021-12-11' ),
( 274, 2, '2022-10-17', '2023-03-28' ),
( 275, 1, '2020-08-30', '2022-07-23' ),
( 276, 3, '2022-11-21', '2023-05-30' ),
( 277, 1, '2019-12-09', '2020-01-01' ),
( 278, 2, '2018-12-30', '2020-08-09' ),
( 279, 3, '2023-02-13', '2023-03-04' ),
( 280, 2, '2021-11-18', '2022-12-27' ),
( 281, 2, '2023-06-01', '2023-11-09' ),
( 282, 1, '2020-06-09', '2020-09-13' ),
( 283, 1, '2021-08-28', '2022-11-15' ),
( 284, 3, '2020-09-21', '2022-03-09' ),
( 285, 1, '2022-02-06', '2022-07-14' ),
( 286, 3, '2022-02-23', '2022-04-30' ),
( 287, 1, '2020-12-02', '2023-05-02' ),
( 288, 1, '2019-08-20', '2021-01-31' ),
( 289, 2, '2022-06-03', '2023-01-14' ),
( 290, 1, '2019-05-22', '2021-06-04' ),
( 291, 3, '2021-01-05', '2023-11-23' ),
( 292, 1, '2020-01-27', '2023-02-07' ),
( 293, 3, '2021-08-12', '2021-08-18' ),
( 294, 1, '2020-10-19', '2023-03-30' ),
( 295, 3, '2019-12-01', '2020-04-26' ),
( 296, 2, '2023-05-24', '2023-10-29' ),
( 297, 1, '2020-01-14', '2020-05-27' ),
( 298, 1, '2021-03-12', '2023-09-04' ),
( 299, 3, '2019-03-19', '2022-01-01' ),
( 300, 3, '2020-04-15', '2023-05-20' ),
( 301, 3, '2020-06-04', '2023-09-13' ),
( 302, 3, '2021-09-15', '2023-04-08' ),
( 303, 3, '2021-05-19', '2021-11-05' ),
( 304, 3, '2023-05-26', '2023-10-28' ),
( 305, 2, '2020-01-02', '2020-03-05' ),
( 306, 2, '2021-11-13', '2022-03-28' ),
( 307, 1, '2021-10-25', '2022-02-09' ),
( 308, 2, '2019-12-01', '2022-02-25' ),
( 309, 1, '2022-10-02', '2023-03-13' ),
( 310, 3, '2020-05-11', '2023-12-14' ),
( 311, 3, '2022-05-15', '2023-11-09' ),
( 312, 2, '2023-06-18', '2023-06-20' ),
( 313, 2, '2022-11-16', '2023-01-04' ),
( 314, 1, '2022-08-18', '2023-01-11' ),
( 315, 2, '2022-02-01', '2022-06-10' ),
( 316, 3, '2019-05-26', '2020-09-17' ),
( 317, 3, '2021-09-14', '2022-10-12' ),
( 318, 2, '2022-09-04', '2023-05-02' ),
( 319, 2, '2021-06-10', '2022-12-26' ),
( 320, 1, '2020-10-21', '2022-05-19' ),
( 321, 3, '2021-11-12', '2023-10-11' ),
( 322, 2, '2022-09-13', '2023-02-11' ),
( 323, 2, '2023-05-30', '2023-08-28' ),
( 324, 2, '2020-06-20', '2021-06-19' ),
( 325, 1, '2022-05-03', '2022-06-22' ),
( 326, 1, '2021-06-28', '2023-01-27' ),
( 327, 1, '2020-07-23', '2022-07-04' ),
( 328, 3, '2019-11-14', '2020-03-05' ),
( 329, 2, '2021-01-24', '2021-07-02' ),
( 330, 1, '2020-12-15', '2022-03-25' ),
( 331, 2, '2018-12-29', '2020-12-21' ),
( 332, 2, '2021-11-07', '2022-04-04' ),
( 333, 3, '2019-11-12', '2021-05-11' ),
( 334, 1, '2022-12-23', '2023-07-14' ),
( 335, 2, '2022-05-11', '2022-06-13' ),
( 336, 2, '2021-12-05', '2022-07-06' ),
( 337, 2, '2019-01-04', '2021-10-14' ),
( 338, 3, '2020-05-22', '2022-04-25' ),
( 339, 3, '2022-10-03', '2023-03-08' ),
( 340, 1, '2021-04-11', '2021-10-10' ),
( 341, 3, '2021-04-22', '2023-06-06' ),
( 342, 2, '2018-12-22', '2019-07-06' ),
( 343, 1, '2021-10-12', '2023-12-16' ),
( 344, 2, '2022-08-10', '2023-09-29' ),
( 345, 1, '2021-11-09', '2022-11-30' ),
( 346, 2, '2021-06-10', '2021-06-13' ),
( 347, 2, '2021-09-26', '2021-10-01' ),
( 348, 3, '2020-08-29', '2021-01-05' ),
( 349, 3, '2020-10-12', '2023-12-14' ),
( 350, 3, '2021-04-18', '2022-04-05' ),
( 351, 2, '2019-01-24', '2021-06-23' ),
( 352, 2, '2021-11-21', '2021-12-26' ),
( 353, 1, '2019-05-11', '2021-11-02' ),
( 354, 2, '2020-12-13', '2023-10-21' ),
( 355, 1, '2021-11-03', '2022-06-11' ),
( 356, 3, '2021-11-15', '2022-09-28' ),
( 357, 1, '2022-05-22', '2023-01-10' ),
( 358, 2, '2020-02-19', '2023-07-25' ),
( 359, 1, '2021-04-09', '2023-01-05' ),
( 360, 3, '2021-05-24', '2022-04-30' ),
( 361, 2, '2021-02-04', '2022-06-18' ),
( 362, 2, '2020-05-01', '2023-08-16' ),
( 363, 1, '2021-06-01', '2021-11-05' ),
( 364, 3, '2022-08-19', '2023-05-24' ),
( 365, 1, '2020-08-30', '2021-08-12' ),
( 366, 3, '2022-07-04', '2023-10-13' ),
( 367, 1, '2020-08-14', '2021-08-13' ),
( 368, 2, '2022-04-25', '2023-07-02' ),
( 369, 2, '2021-05-20', '2023-10-28' ),
( 370, 1, '2021-05-26', '2023-01-27' ),
( 371, 2, '2021-01-03', '2023-01-25' ),
( 372, 1, '2022-12-18', '2023-09-18' ),
( 373, 3, '2019-02-02', '2023-01-11' ),
( 374, 3, '2020-02-26', '2021-01-17' ),
( 375, 2, '2019-07-03', '2022-04-24' ),
( 376, 2, '2022-07-05', '2023-02-25' ),
( 377, 1, '2021-07-02', '2022-02-02' ),
( 378, 1, '2020-06-16', '2023-10-02' ),
( 379, 1, '2021-06-26', '2023-07-30' ),
( 380, 1, '2021-01-14', '2023-05-08' ),
( 381, 1, '2021-06-07', '2022-11-08' ),
( 382, 2, '2019-03-08', '2020-06-13' ),
( 383, 2, '2019-04-06', '2022-05-19' ),
( 384, 3, '2021-05-12', '2021-05-17' ),
( 385, 1, '2023-01-19', '2023-07-21' ),
( 386, 2, '2021-07-14', '2021-09-08' ),
( 387, 2, '2022-12-17', '2022-12-31' ),
( 388, 1, '2021-06-03', '2021-06-20' ),
( 389, 3, '2020-07-21', '2022-09-19' ),
( 390, 2, '2020-04-12', '2022-10-31' ),
( 391, 2, '2020-01-26', '2020-03-12' ),
( 392, 2, '2022-04-07', '2023-02-01' ),
( 393, 1, '2019-06-21', '2020-04-22' ),
( 394, 1, '2020-07-31', '2022-10-08' ),
( 395, 2, '2020-06-16', '2023-12-07' ),
( 396, 3, '2019-04-06', '2023-08-29' ),
( 397, 2, '2019-06-28', '2023-09-20' ),
( 398, 1, '2019-11-06', '2023-02-22' ),
( 399, 1, '2022-03-27', '2023-02-07' ),
( 400, 2, '2021-12-10', '2023-04-09' ),
( 401, 2, '2021-06-07', '2021-08-08' ),
( 402, 3, '2020-04-08', '2023-10-14' ),
( 403, 2, '2021-04-29', '2023-03-24' ),
( 404, 3, '2021-05-31', '2023-05-10' ),
( 405, 1, '2022-10-28', '2023-02-18' ),
( 406, 1, '2022-07-06', '2023-05-20' ),
( 407, 3, '2019-01-29', '2022-08-24' ),
( 408, 1, '2023-04-09', '2023-10-22' ),
( 409, 2, '2019-06-21', '2023-10-29' ),
( 410, 3, '2023-03-05', '2023-12-02' ),
( 411, 2, '2020-04-11', '2021-06-20' ),
( 412, 3, '2019-09-24', '2021-07-19' ),
( 413, 1, '2021-09-30', '2023-01-22' ),
( 414, 1, '2021-05-26', '2021-12-10' ),
( 415, 2, '2019-05-29', '2022-05-17' ),
( 416, 1, '2021-10-09', '2022-07-17' ),
( 417, 3, '2021-05-21', '2023-09-02' ),
( 418, 3, '2022-04-10', '2023-12-01' ),
( 419, 2, '2020-08-22', '2020-11-15' ),
( 420, 1, '2019-04-10', '2022-10-02' ),
( 421, 2, '2021-02-27', '2022-09-17' ),
( 422, 1, '2022-05-07', '2023-08-25' ),
( 423, 1, '2019-04-13', '2023-08-08' ),
( 424, 2, '2021-11-13', '2022-08-03' ),
( 425, 1, '2019-03-29', '2023-11-15' ),
( 426, 2, '2021-11-17', '2023-01-11' ),
( 427, 3, '2021-12-24', '2022-10-07' ),
( 428, 3, '2020-09-11', '2023-08-09' ),
( 429, 3, '2021-07-19', '2022-04-12' ),
( 430, 3, '2019-03-17', '2022-01-14' ),
( 431, 1, '2022-04-19', '2022-06-07' ),
( 432, 3, '2021-04-03', '2021-10-20' ),
( 433, 3, '2021-06-17', '2023-08-05' ),
( 434, 2, '2022-05-26', '2023-08-06' ),
( 435, 2, '2023-02-26', '2023-08-30' ),
( 436, 1, '2021-08-31', '2022-10-09' ),
( 437, 2, '2019-04-12', '2023-03-31' ),
( 438, 2, '2022-12-02', '2022-12-03' ),
( 439, 1, '2019-05-24', '2023-04-21' ),
( 440, 1, '2019-02-11', '2023-05-16' ),
( 441, 2, '2020-05-19', '2023-01-10' ),
( 442, 2, '2023-01-24', '2023-06-11' ),
( 443, 2, '2019-12-10', '2022-10-22' ),
( 444, 3, '2021-12-08', '2023-07-22' ),
( 445, 2, '2022-05-05', '2022-12-06' ),
( 446, 3, '2020-12-16', '2023-09-15' ),
( 447, 1, '2023-05-23', '2023-09-25' ),
( 448, 3, '2020-07-06', '2023-02-10' ),
( 449, 2, '2022-01-25', '2023-04-07' ),
( 450, 1, '2022-07-14', '2023-11-20' ),
( 451, 3, '2023-01-15', '2023-05-20' ),
( 452, 3, '2019-12-04', '2021-05-08' ),
( 453, 3, '2019-02-12', '2020-11-08' ),
( 454, 1, '2022-02-14', '2022-07-07' ),
( 455, 1, '2020-07-18', '2022-03-14' ),
( 456, 2, '2022-02-02', '2023-04-04' ),
( 457, 2, '2020-09-25', '2021-11-22' ),
( 458, 3, '2019-06-15', '2022-07-11' ),
( 459, 1, '2021-09-04', '2023-06-10' ),
( 460, 2, '2019-10-02', '2022-09-16' ),
( 461, 2, '2021-10-25', '2022-09-06' ),
( 462, 3, '2022-10-24', '2023-11-18' ),
( 463, 3, '2021-02-16', '2023-01-31' ),
( 464, 3, '2020-03-27', '2021-09-07' ),
( 465, 1, '2023-05-01', '2023-06-19' ),
( 466, 3, '2022-02-12', '2023-06-29' ),
( 467, 1, '2022-10-14', '2023-01-20' ),
( 468, 1, '2019-07-28', '2023-08-26' ),
( 469, 3, '2020-05-31', '2020-08-13' ),
( 470, 3, '2021-01-02', '2021-07-08' ),
( 471, 3, '2022-08-05', '2023-11-15' ),
( 472, 2, '2019-02-28', '2020-03-01' ),
( 473, 3, '2019-09-05', '2021-08-28' ),
( 474, 2, '2019-11-23', '2020-06-27' ),
( 475, 3, '2022-04-15', '2022-12-18' ),
( 476, 1, '2023-05-03', '2023-06-04' ),
( 477, 1, '2020-08-30', '2022-08-16' ),
( 478, 3, '2022-08-16', '2023-11-06' ),
( 479, 1, '2019-07-03', '2019-09-19' ),
( 480, 3, '2021-05-12', '2023-09-21' ),
( 481, 3, '2020-04-07', '2020-05-04' ),
( 482, 2, '2019-04-13', '2023-08-14' ),
( 483, 2, '2019-01-17', '2019-05-28' ),
( 484, 2, '2022-03-21', '2023-04-02' ),
( 485, 1, '2021-02-08', '2023-08-22' ),
( 486, 2, '2019-10-02', '2021-03-03' ),
( 487, 1, '2020-05-18', '2023-09-20' ),
( 488, 2, '2020-05-17', '2021-05-14' ),
( 489, 1, '2021-07-08', '2021-10-13' ),
( 490, 3, '2021-03-08', '2022-06-06' ),
( 491, 2, '2023-04-09', '2023-05-28' ),
( 492, 1, '2021-06-27', '2023-07-05' ),
( 493, 1, '2019-09-16', '2022-08-18' ),
( 494, 2, '2022-08-31', '2023-08-19' ),
( 495, 3, '2021-11-09', '2023-05-21' ),
( 496, 3, '2021-03-26', '2021-11-14' ),
( 497, 3, '2020-02-19', '2021-07-20' ),
( 498, 2, '2020-09-03', '2022-10-15' ),
( 499, 3, '2020-02-03', '2021-02-23' ),
( 500, 1, '2022-02-27', '2022-07-30' ),

In [45]:
# Write to file
INSERT_SUBSCRIPTIONS_FILE="../16_insert_user_subscriptions.sql"
with open(INSERT_SUBSCRIPTIONS_FILE, 'w') as f:
    f.write(insert_sql)